<%
  if @rflt.id.present?
    # OT
    osensf = @rflt.osens
    obeobf = @rflt.obeob
    ocogf = @rflt.ocog
    ogmtrf = @rflt.ogmtr
    ofmtrf = @rflt.ofmtr
    # ST
    spref = @rflt.spre
    srecf = @rflt.srec
    sexprf = @rflt.sexpr
    # AT
    ahrf = @rflt.ahr
    atinf = @rflt.atin
    aearf = @rflt.aear
    arespf = @rflt.aresp
    # PT
    pgmtrf = @rflt.pgmtr
    pmovf = @rflt.pmov
    pendrf = @rflt.pendr
  else
    # OT
    @ote.present? ? osensf = @ote.sens : osensf = "NO INPUT"
    @ote.present? ? obeobf = @ote.beob : obeobf = "NO INPUT"
    @ote.present? ? ocogf = @ote.cog : ocogf = "NO INPUT"
    @ote.present? ? ogmtrf = @ote.gmtr : ogmtrf = "NO INPUT"
    @ote.present? ? ofmtrf = @ote.fmtr : ofmtrf = "NO INPUT"
    # ST
    @ste.present? ? spref = @ste.pre : spref = "NO INPUT"
    @ste.present? ? srecf = @ste.rec : srecf = "NO INPUT"
    @ste.present? ? sexprf = @ste.expr : sexprf = "NO INPUT"
    # AT
    @ate.present? ? ahrf = @ate.hr : ahrf = "NO INPUT"
    @ate.present? ? aatinf = @ate.tin : aatinf = "NO INPUT"
    @ate.present? ? aaearf = @ate.ear : aaearf = "NO INPUT"
    @ate.present? ? aarespf = @ate.resp : aarespf = "NO INPUT"
    # PT
    @pte.present? ? pgmtrf = @pte.gmtr : pgmtrf = "NO INPUT"
    @pte.present? ? pmovf = @pte.mov : pmovf = "NO INPUT"
    @pte.present? ? pendrf = @pte.endr : pendrf = "NO INPUT"
  end
%>

<%= form_for(@rflt, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

  <div style="background-color:#e5ffff"><h6 align="center">Recommended Referral</h6></div>

  <%= f.check_box :rped, checked: @rflt.rped %>&nbsp<b>Paedratician</b><br>
  <%= f.check_box :rcp, checked: @rflt.rcp %>&nbsp<b>Clinical Psychologist</b><br>
  <%= f.check_box :rntn, checked: @rflt.rntn %>&nbsp<b>Nutritionist</b><br>
  <%= f.check_box :rent, checked: @rflt.rent %>&nbsp<b>ENT Specialist</b><br>
  <%= f.check_box :roph, checked: @rflt.roph %>&nbsp<b>Ophthalmologist</b><br>
  <%= f.check_box :rot, checked: @rflt.rot %>&nbsp<b>Occupational Therapist</b><br>
  <%= f.check_box :rst, checked: @rflt.rst %>&nbsp<b>Speech Pathology Therapist</b><br><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Others</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :roth, class: "form-control", placeholder: "", autofocus: true, value: @rflt.roth %>
    </div>
  </div>
  <br>
  <!-- OT -->
  <div style="background-color:#e5ffff"><h6 align="center">Occupational Therapy Assessment Results:</h6></div>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Sensory</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :osens, class: "form-control", placeholder: "", autofocus: true, value: osensf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Behavorial Observation</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :obeob, class: "form-control", placeholder: "", autofocus: true, value: obeobf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Cognitive</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ocog, class: "form-control", placeholder: "", autofocus: true, value: ocogf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Gross Motor Skills</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ogmtr, class: "form-control", placeholder: "", autofocus: true, value: ogmtrf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Fine Motor Skills</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ofmtr, class: "form-control", placeholder: "", autofocus: true, value: ofmtrf %>
    </div>
  </div><br>

  <!-- ST -->
  <div style="background-color:#e5ffff"><h6 align="center">Speech Therapy Assessment Results:</h6></div>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Preverbal Skills</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :spre, class: "form-control", placeholder: "", autofocus: true, value: spref %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Receptive Language Skills</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :srec, class: "form-control", placeholder: "", autofocus: true, value: srecf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Expressive Language Skills</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :sexpr, class: "form-control", placeholder: "", autofocus: true, value: sexprf %>
    </div>
  </div><br>

  <!-- AT -->
  <div style="background-color:#e5ffff"><h6 align="center">Audiology Assessment Results:</h6></div>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Hearing</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ahr, class: "form-control", placeholder: "", autofocus: true, value: ahrf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Tinnitus</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :atin, class: "form-control", placeholder: "", autofocus: true, value: atinf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Ear Pain/Discharge</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :aear, class: "form-control", placeholder: "", autofocus: true, value: aearf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Response To Sound</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :aresp, class: "form-control", placeholder: "", autofocus: true, value: arespf %>
    </div>
  </div><br>

  
  <!-- PT -->
  <div style="background-color:#e5ffff"><h6 align="center">Physiotherapy Assessment Results:</h6></div>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Gross Motor</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :pgmtr, class: "form-control", placeholder: "", autofocus: true, value: pgmtrf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Movement</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :pmov, class: "form-control", placeholder: "", autofocus: true, value: pmovf %>
    </div>
  </div><br>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>Endurance</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :pendr, class: "form-control", placeholder: "", autofocus: true, value: pendrf %>
    </div>
  </div><br>

  <!-- OVC -->
  <div style="background-color:#e5ffff"><h6 align="center">Overall Comments</h6></div>
  <div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ovc, class: "form-control", placeholder: "", autofocus: true, value: @rflt.ovc %>
    </div>
  </div><br>


  <%= f.hidden_field :ekid_id, value: @ekid.id %>
  <%= f.hidden_field :owner_id, value: @owner.id %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 col-12">
        <%= f.submit :"SUBMIT",  class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  </div>

<% end %>





