<div class="col-sm-12 bg-white">

  <%= wicked_pdf_image_tag('kidcare_logo/mbi_eip.png', size: "891x116") %>

  <p style="background-color:#edd4d4" align="center">Tingkat 24, Bangunan Darul Ehsan, Jalan Indah, Seksyen 14,
  40000 Shah Alam, Selangor<br>
  Tel : 03 5513 8898 Fax : 03 5523 6466</p>
  <p>DATE: <b><%= @rflt.updated_at.strftime('%d-%^b-%Y')%></b></p>


  <h4 style="background-color:#e5ffff" align="center">Refer Letter for <b><%= @ekid.name %></b> (DOB: <u><%= @ekid.dob.strftime('%d-%b-%Y') %></u>)</h4><br>

  <a style="font-size:17px">Dear Colleagues:</a> <br><br>
  <a style="font-size:17px">We are referring <strong><u><%= @ekid.name %></u></strong> for the care below:</a> <br>

  <a style="font-size:17px"></a>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#f2f2f2">
            <%= "Paedratician," unless !@rflt.rped %>
            <%= "Clinical Psychologist," unless !@rflt.rcp %>
            <%= "Nutritionist," unless !@rflt.rntn %>
            <%= "ENT Specialist," unless !@rflt.rent %>
            <%= "Ophthalmologist," unless !@rflt.roph %>
            <%= "Occupational Therapist," unless !@rflt.rot %>
            <%= "Speech Pathology Therapist," unless !@rflt.rst %>
            <%= @rflt.roth %>
          </td>
        </tr>
      </tbody>
    </table>
  </div><br>

  
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>Occupational Therapy Assessment Results:</b></td>
        </tr>
        <tr>
          <td style="background-color:#b2b2ff">Areas</td>
          <td style="background-color:#b2b2ff">Comments</td>
        </tr>
        <tr>
          <td>Sensory</td>
          <td><%= @rflt.osens %></td>
        </tr>
        <tr>
          <td>Behavorial Observation</td>
          <td><%= @rflt.obeob %></td>
        </tr>
        <tr>
          <td>Cognitive</td>
          <td><%= @rflt.ocog %></td>
        </tr>
        <tr>
          <td>Gross Motor Skills</td>
          <td><%= @rflt.ogmtr %></td>
        </tr>
        <tr>
          <td>Fine Motor Skills</td>
          <td><%= @rflt.ofmtr %></td>
        </tr> 
      </tbody>
    </table>
  </div><br>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>Speech Therapy Assessment Results:</b></td>
        </tr>
        <tr>
          <td style="background-color:#b2b2ff">Areas</td>
          <td style="background-color:#b2b2ff">Comments</td>
        </tr>
        <tr>
          <td>Preverbal Skills</td>
          <td><%= @rflt.spre %></td>
        </tr>
        <tr>
          <td>Receptive Language Skills</td>
          <td><%= @rflt.srec %></td>
        </tr>
        <tr>
          <td>Expressive Language Skills</td>
          <td><%= @rflt.sexpr %></td>
        </tr>
      </tbody>
    </table>
  </div><br>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>Audiology Assessment Results:</b></td>
        </tr>
        <tr>
          <td style="background-color:#b2b2ff">Areas</td>
          <td style="background-color:#b2b2ff">Comments</td>
        </tr>
        <tr>
          <td>Hearing</td>
          <td><%= @rflt.ahr %></td>
        </tr>
        <tr>
          <td>Tinnitus</td>
          <td><%= @rflt.atin %></td>
        </tr>
        <tr>
          <td>Ear Pain/Discharge</td>
          <td><%= @rflt.aear %></td>
        </tr>
        <tr>
          <td>Response To Sound</td>
          <td><%= @rflt.aresp %></td>
        </tr>
      </tbody>
    </table>
  </div><br>

 
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>Physiotherapy Assessment Results:</b></td>
        </tr>
        <tr>
          <td style="background-color:#b2b2ff">Areas</td>
          <td style="background-color:#b2b2ff">Comments</td>
        </tr>
        <tr>
          <td>Gross Motor</td>
          <td><%= @rflt.pgmtr %></td>
        </tr>
        <tr>
          <td>Movement</td>
          <td><%= @rflt.pmov %></td>
        </tr>
        <tr>
          <td>Endurance</td>
          <td><%= @rflt.pendr %></td>
        </tr>
      </tbody>
    </table>
  </div><br>

  
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>OVERALL COMMENT</b></td>
        </tr>
        <tr>
          <td style="background-color:#f2f2f2"><%= @rflt.ovc %></td>
        </tr>
      </tbody>
    </table>
  </div><br>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#e5f2e5" colspan=2><b>LIST OF INTERVENTIONISTS</b></td>
        </tr>
        <tr>
          <td style="background-color:#bf7fbf"><b>Role</b></td>
          <td style="background-color:#bf7fbf"><b>Personal Details</b></td>
        </tr>
        <tr>
          <td>Medical Officer</td>
          <td>
            <% (tcd=@skid.owner.tchdetail) unless (@skid.blank? || @skid.owner.blank? || @skid.owner.tchdetail.blank?) %> 
            <%= "#{tcd.name.upcase} (#{tcd.category})" unless tcd.blank? %><br>
            <%= "#{tcd.phone_1}-#{tcd.phone_2}" unless tcd.blank? %>
          </td>
        </tr>
        <tr>
          <td>Audiologist</td>
          <td>
            <% (tcd=@ate.teacher.tchdetail) unless (@ate.blank? || @ate.teacher.blank? || @ate.teacher.tchdetail.blank?) %> 
            <%= "#{tcd.name.upcase} (#{tcd.category})" unless tcd.blank? %><br>
            <%= "#{tcd.phone_1}-#{tcd.phone_2}" unless tcd.blank? %>   
          </td>
        </tr>
        <tr>
          <td>Physio Therapist</td>
          <td>
            <% (tcd=@pte.teacher.tchdetail) unless (@pte.blank? || @pte.teacher.blank? || @pte.teacher.tchdetail.blank?) %> 
            <%= "#{tcd.name.upcase} (#{tcd.category})" unless tcd.blank? %><br>
            <%= "#{tcd.phone_1}-#{tcd.phone_2}" unless tcd.blank? %>  
          </td>
        </tr>
        <tr>
          <td>Speech Therapist</td>
          <td>
            <% (tcd=@ste.teacher.tchdetail) unless (@ste.blank? || @ste.teacher.blank? || @ste.teacher.tchdetail.blank?) %> 
            <%= "#{tcd.name.upcase} (#{tcd.category})" unless tcd.blank? %><br>
            <%= "#{tcd.phone_1}-#{tcd.phone_2}" unless tcd.blank? %>  
          </td>
        </tr>
        <tr>
          <td>Occupational Therapist</td>
          <td>
            <% (tcd=@ote.teacher.tchdetail) unless (@ote.blank? || @ote.teacher.blank? || @ote.teacher.tchdetail.blank?) %> 
            <%= "#{tcd.name.upcase} (#{tcd.category})" unless tcd.blank? %><br>
            <%= "#{tcd.phone_1}-#{tcd.phone_2}" unless tcd.blank? %> 
          </td>
        </tr>
      </tbody>
    </table>
  </div><br>

</div>