
<div class="card" style="font-size: 13px; margin-top: 5px;">
  <div class="card-header" style="color: white; font-size: 13px">
    <i class="fas fa-question-circle"></i>&nbsp
    BORANG MAKLUMBALAS<br>
    <i class="fas fa-thumbtack"></i>&nbsp
    <strong><%= @proge.name %></strong><br>
    <i class="fas fa-calendar"></i>&nbsp
    <%= "#{@proge.date.strftime('%d-%^b-%Y')} hingga #{@proge.daten.strftime('%d-%^b-%Y')}" %>
  </div>
  <div class="card-body" style="color: black">
    Nama Peserta : <b><%= @perse.name %></b><br>
    No MyKad : <b><%= @perse.ic %></b><br><br>
    <%= form_for(:fbc, :url => {:controller=>'fbproges', :action=> 'crtfbproge'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <b><u>SKALA PENILAIN</u></b>
        <div class="card-body" style="font-size: 10px;">
          <div class="table-responsive">
            <table class="table table-striped table-bordered" id="" width="100%" cellspacing="0">
              <thead style="background-color: #cc99cc; color: black; text-align: center">
                <tr>
                  <th style="width: "> 1 </th>
                  <th style="width: "> 2 </th>
                  <th style="width: "> 3 </th>
                  <th style="width: "> 4 </th>
                  <th style="width: "> 5 </th>
                </tr>
              </thead>
              <tbody style=" color: black">
                <tr>
                  <td>SANGAT TIDAK MEMUASKAN</td>
                  <td>TIDAK MEMUASKAN</td>
                  <td>SEDERHANA MEMUASKAN</td>
                  <td>MEMUASKAN</td>
                  <td>SANGAT MEMUASKAN</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div>
          <div style="margin-top: 2px;margin-bottom: 5px">
            <b>Masa dan tempat yang sesuai:</b>
            <%= f.select :rate, options_for_select(["5",
                                                    "4",
                                                    "3",
                                                    "2",
                                                    "1"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            <b>Objektif yang ditetapkan tercapai:</b>
            <%= f.select :rate2, options_for_select(["5",
                                                    "4",
                                                    "3",
                                                    "2",
                                                    "1"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            <b>Aktiviti yang dijalankan menyeronokkan dan dijalankan secara terurus:</b>
            <%= f.select :rate3, options_for_select(["5",
                                                    "4",
                                                    "3",
                                                    "2",
                                                    "1"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            <b>Penyampaian penceramah menarik:</b>
            <%= f.select :rate4, options_for_select(["5",
                                                    "4",
                                                    "3",
                                                    "2",
                                                    "1"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            <b>Tahap keberkesanan program:</b>
            <%= f.select :rate5, options_for_select(["5",
                                                    "4",
                                                    "3",
                                                    "2",
                                                    "1"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            <b>Adakah anda ingin mengesyorkan program ini kepada orang lain:</b>
            <%= f.select :recm, options_for_select(["Ya",
                                                    "Tidak"]),{include_blank: "Pilih Satu"}, {required: true} %><br><br>

            
            <b>Pujian / Komen / Cadangan:</b><br>
            <%= f.text_area :cmt, class: "form-control", autofocus: true%><br>
          </div>
        </div>
      <%= f.hidden_field :proge, class: "form-control", value: params[:proge] %>
      <%= f.hidden_field :perse, class: "form-control", value: params[:perse] %>
      <%= f.submit :"Hantar",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
    <% end %> <!-- FORM -->
  </div>
</div>