
<div class="card" style="font-size: 13px; margin-top: 5px;">
  <div class="card-header" style="color: white; font-size: 13px">
    <i class="fas fa-question-circle"></i>&nbsp
    BORANG MAKLUMBALAS<br>
    <i class="fas fa-thumbtack"></i>&nbsp
    <strong><%= @proge.name %></strong><br>
    <i class="fas fa-calendar"></i>&nbsp
    <%= "#{@proge.date.strftime('%d-%^b-%Y')} hingga #{@proge.daten.strftime('%d-%^b-%Y')}" %>
  </div>
  <div class="card-body" style="color: black">
    Nama Peserta : <b>sdklksdlks</b><br>
    No MyKad : <b>sdklksdlks</b><br><br>
    <%= form_for(:fbc, :url => {:controller=>'cntps', :action=> 'editcntp'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
        <% @proge.cntps.where.not('title LIKE ?', "%REHAT%").order('dt ASC').order('start ASC').each do |cntp| %>
          <%= f.fields_for :"#{cntp.id}" do |h| %>
            <div class="header-org" style="background-color: #fbd7e3; color: #d53368; text-align: center; font-size: 11px; margin-bottom: -1px">
              <%= cntp.title %>
            </div>
            <div>
              Tarikh: <%= cntp.dt.strftime('%d-%^b-%y') %><br>
              Masa: <%= "#{cntp.start.strftime('%I:%M%p')} - #{cntp.end.strftime('%I:%M%p')}" %><br>
              Penceramah: <%= cntp.lec %><br>
              <div style="margin-top: 2px;margin-bottom: 5px">
                <b>MARKAH:</b>
                <%= h.select :rate, options_for_select(["5 - Cemerlang",
                                                        "4 - Sangat Baik",
                                                        "3 - Baik",
                                                        "2 - Memuaskan",
                                                        "1 - Tidak Memuaskan"]),{include_blank: "Pilih Satu"}, {required: true} %><br>
                <b>PERKARA YANG DISUKAI:</b><br>
                <%= f.text_area :gd, class: "form-control", autofocus: true%>
                <b>PERKARA YANG BOLEH DIPERBAIKI:</b><br>
                <%= f.text_area :bd, class: "form-control", autofocus: true%><br>
              </div>
            </div>
          <% end %> <!-- field H -->
        <% end %> <!-- LOOP --><br>
      <%= f.hidden_field :proge, class: "form-control", value: 1 %>
      <%= f.submit :"Hantar",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
    <% end %> <!-- FORM -->
  </div>
</div>