



<div class="" style="margin-bottom: 20px; text-align: center ">

  <h5 style="color: black; font-weight: 550">
    <% if @verf %>
      Sila Masukkan No Telefon anda
    <% else %>
      Sila Masukkan No MYKAD anda
    <% end %>
    <% if params[:prog].present? %>
      <%= link_to "#{params[:prog]}", "#", class: "badge badge-pill badge-info" %>
    <% end %><br>
    <% if params[:proge].present?; prg = Proge.find(params[:proge]) %>

      <%= link_to "#{prg.name}", "#", class: "badge badge-pill badge-success", style: "font-size: 12px" %>
    <% end %>
  </h5>
  <form>
    <div class="row justify-content-center">


      <%= form_tag persesch_path, method: :get, id: "find_kid" do %>
        <div class="col-lg-5 col-md-7 col-sm-10">
          
          <% if @verf %>
            <%= text_field_tag :ph, params[:ph], class: "form-control form-control-sm", placeholder: "cth: 0174151556", required: true, minlenght: 2 %>
          <% end %>
          <%= text_field_tag :icf, params[:icf], class: "form-control form-control-sm", placeholder: "cth: 870829342134", required: true, minlenght: 2, readonly: @verf %>
          <%= hidden_field_tag :sch, params[:sch], value: "sdhjdsh876671" %>
          <%= hidden_field_tag :prog, params[:prog], value: params[:prog] %>
          <%= hidden_field_tag :proge, params[:proge], value: params[:proge] %>
          <%= hidden_field_tag :regkid, params[:regkid], value: params[:regkid] %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <%= button_tag(type: :submit, class: "btn btn-block btn-sm btn-primary", style: "") do %>
            <i class=""></i> Semak
          <% end %>
        </div>
      <% end %>

      

    </div>
  </form>
</div>