<meta name="viewport" content="width=1024">

<div style="background-color: #ff944c; text-align: center; margin-bottom: 10px; border-radius: 40px">
    <h5 style="text-align: center; font-weight: 500; color: white">Rumusan Tahun <%= Date.today.year %></h5>
</div>

<div class="row">
  
  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2" style="margin-bottom: 10px;">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DALAM PROSES</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= 5 %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>

<div style="background-color: #fbd7e3; text-align: center; margin-top: 15px; border-radius: 40px">
    <h5 style="text-align: center; font-weight: 500; color: #d53368">Rumusan Keseluruhan</h5>
</div>

