<meta name="viewport" content="width=1024">

<div style="background-color: #ff944c; text-align: center; margin-bottom: 10px; border-radius: 40px">
    <h5 style="text-align: center; font-weight: 500; color: white">Rumusan Tahun <%= @yr %></h5>
</div>

<div class="row">
  
  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">JUMLAH PENDAFTARAN</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk_yr.count + @ilsc_yr.count + @ekid_yr.count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">BELUM DISEMAK</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk_yr.where(stat: "1").count + @ilsc_yr.where(stat: "Permohonan Diterima").count + @ekid_yr.where(phs: "Permohonan Baru").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TELAH DISEMAK</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%=  @ilsc_yr.where(stat: "Permohonan Dalam Semakan").count + @ekid_yr.where(phs: "Permohonan Dalam Semakan").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">DOKUMEN TIDAK LENGKAP</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk_yr.where(stat: "2").count + @ilsc_yr.where(stat: "Permohonan Tidak Lengkap").count + @ekid_yr.where(phs: "Permohonan Tidak Lengkap").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">DITOLAK/GAGAL</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk_yr.where(stat: "4").count + @ilsc_yr.where(stat: "Permohonan Ditolak").count + @ekid_yr.where(phs: "Permohonan Ditolak").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">LULUS</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk_yr.where(stat: "3").count + @ilsc_yr.where(stat: "Permohonan Diluluskan").count + @ekid_yr.where(stat: "Kemasukan Program").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  





</div>

<div style="background-color: #fbd7e3; text-align: center; margin-top: 15px; border-radius: 40px">
    <h5 style="text-align: center; font-weight: 500; color: #d53368">Rumusan Keseluruhan</h5>
</div>

<div class="row">
  
  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">JUMLAH PENDAFTARAN</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.count + @ilsc.count + @ekid.count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">BELUM DISEMAK</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "1").count + @ilsc.where(stat: "Permohonan Diterima").count + @ekid.where(phs: "Permohonan Baru").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TELAH DISEMAK</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%=  @ilsc.where(stat: "Permohonan Dalam Semakan").count + @ekid.where(phs: "Permohonan Dalam Semakan").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">DOKUMEN TIDAK LENGKAP</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "2").count + @ilsc.where(stat: "Permohonan Tidak Lengkap").count + @ekid.where(phs: "Permohonan Tidak Lengkap").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">DITOLAK/GAGAL</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "4").count + @ilsc.where(stat: "Permohonan Ditolak").count + @ekid.where(phs: "Permohonan Ditolak").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">LULUS</div>
            <a href="#"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "3").count + @ilsc.where(stat: "Permohonan Diluluskan").count + @ekid.where(stat: "Kemasukan Program").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>

