<meta name="viewport" content="width=1024">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Permohonan untuk Program <b>DIDIK ANIS</b>
  </li>
</ol>

<!-- DASHBOARD SUMMARY -->
<div class="row">
  
  <div class="col-3">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">BARU</div>
            <a href="<%= lsddk_url(sch: true, stat: 1) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "1").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">DALAM SEMAKAN</div>
            <a href="<%= lsddk_url(sch: true, stat: 2) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "2").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-spinner fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">LULUS</div>
            <a href="<%= lsddk_url(sch: true, stat: 3) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "3").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-thumbs-up fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">DITOLAK</div>
            <a href="<%= lsddk_url(sch: true, stat: 4) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ddk.where(stat: "4").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-exclamation-circle fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- TABLE -->
<br>
<div class="cards shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag lsddk_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Here", style: 'text-transform: uppercase', required: true %>
        <%= select_tag :sch_fld, options_for_select(["No Siri", "Nama Agensi","No Pendaftaran Agensi","Nama Pemohon", "No MyKad Pemohon"], params[:sch_fld]),
              include_blank: "Pilih Carian" %>
        <%= hidden_field_tag :stat, params[:stat], value: params[:stat] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>
        <%= link_to lsddk_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Semula
        <% end %>
        <%= "#{@ddk.count} carian" unless params[:sch].blank? %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 12%">NO SIRI</th>
            <th style="background-color:#ffb2b2">MAKLUMAT AGENSI</th>
            <th style="background-color:#ffb2b2">MAKLUMAT PEMOHON</th>
            <th style="background-color:#ffb2b2; width: 18%">STATUS</th>
            <th style="background-color:#ffb2b2">TARIKH PERMOHONAN</th>
          </tr>
        </thead>
        <tbody>
          <% @ddk.order('created_at DESC').each do |ddk| %>
          <tr>
            <td>DDK-<%= ddk.id.to_s.rjust(4, '0') %></td>
            <td>
              
              <b>Nama Agensi: </b><%= ddk.coname %><br>
              <b>No Pendaftaran: </b><%= ddk.conum %><br>
              <b>Alamat: </b><%= "#{ddk.addr},#{ddk.posk},#{ddk.state}" %><br>
            </td>
            <td>
              <% perse = ddk.perse %>
              <b>Nama : </b><%= perse.name %><br>
              <b>No MyKad: </b><%= perse.ic %><br>
              <b>No Telefon: </b><%= perse.ph %><br>
            </td>
            <td>
              <%= link_to "#{$ddkstat[ddk.stat][3]}", edtddk_path(ddk:ddk.id), class: "badge badge-pill badge-#{$ddkstat[ddk.stat][0]}", style: "font-size: 10px", target: "_blank" %> 
            </td>
            <td><%= ddk.created_at.strftime('%d-%^b-%Y') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

