<% 
  if @tchdetail.teacher.present?
    tp = @tchdetail.teacher.tp
    if tp == "at"
      typ = "Audiologist"
    elsif tp == "st"
      typ = "Speech Therapist"
    elsif tp == "ot"
      typ = "Occupational Therapy"
    elsif tp == "pt"
      typ = "Physio Therapist"
    end
  elsif @tchdetail.owner.present?
    typ = "Doctor"
  end
%>

<div class="bg-white">

  <div class="col-12" align="center"> 
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">

      <tbody>
        <tr>
          <td style="background-color:white" align="center">
            <% image = @fotos.where(foto_name: "PROFILE PIC").first %>
            <% if image.present? && image.picture.present? %>
              <a href="<%="#{image.picture.url}"%>" target="_blank">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "150x150") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "150x150") %>
                <% end %>
              </a>
            <% else %>
              No photo uploaded
            <% end %>
          </td>
          <td style="background-color:#993232" colspan="">
            <strong><font color="white"><h2 align="center"><%= @tchdetail.name.upcase %></h2></font></strong>
            <font color="white"><h4 align="center"><%= "#{@tchdetail.ic_1}-""#{@tchdetail.ic_2}-""#{@tchdetail.ic_3}" %></h4></font>
            <font color="white"><h4 align="center"><%= typ %></h4></font>
          </td>
        </tr>
      </tbody>

      
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">GENDER</font></td>
          <td style="background-color:#cc99cc" align="center"><%= @tchdetail.gender %></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">DATE OF BIRTH</font></td>
          <td style="background-color:#cc99cc" align="center"><%= @tchdetail.dob.strftime('%d-%^b-%Y') %></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">PHONE NO:</font></td>
          <td style="background-color:#cc99cc" align="center"><%= "#{@tchdetail.phone_1}-""#{@tchdetail.phone_2}" %></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">EMAIL:</font></td>
          <td style="background-color:#cc99cc" align="center">
            <% if @tchdetail.teacher.present? %>
              <%= "#{@tchdetail.teacher.email}" %>
            <% elsif @tchdetail.owner.present? %>
              <%= "#{@tchdetail.owner.email}" %>
            <% else %>
              <%= "#{@tchdetail.email}" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">ADDRESS:</font></td>
          <td style="background-color:#cc99cc" align="center">
            <%= "#{@tchdetail.address_1}" %><br>
            <%= "#{@tchdetail.address_2}" %><br>
            <%= "#{@tchdetail.city}" %>
            <%= "#{@tchdetail.states}" %>
            <%= "#{@tchdetail.postcode}" %>
              
            </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">CURRENT EMPLOYER:</font></td>
          <td style="background-color:#cc99cc" align="center">
            <%= "#{@tchdetail.marital}" %>
              
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">CERTIFICATION NO:</font></td>
          <td style="background-color:#cc99cc" align="center"><%= "#{@tchdetail.category}" %></td>
        </tr>
      </tbody>
      <tbody>
        <% if !@pdf %>
        <tr>
          <td style="background-color:#a64ca6" align="center"><font color="white">CERTIFICATION DOCUMENT</font></td>
          <td style="background-color:#cc99cc" align="center">
            <% image = @fotos.where(foto_name: "CERT").first %>
            <% if image.present? && image.picture.present? %>
              <a href="<%="#{image.picture.url}"%>" target="_blank">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "50x50") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "50x50") %>
                <% end %>
              </a>
            <% else %>
              No photo uploaded &nbsp
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>

</div>





