<div class='col-lg-8'>
<div style="background-color:#ffb2b2"><h4 align="center">PHYSIO THERAPIST REPORT</h4></div>

<%= f.hidden_field :pte_id, value: @pte.id %>

<div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>GROSS MOTOR</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :gmtr, class: "form-control", placeholder: "", autofocus: true, required: true, value: @pte.gmtr %>
    </div>
  </div>
</div>

<div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>MOVEMENT</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :mov, class: "form-control", placeholder: "", autofocus: true, required: true, value: @pte.mov %>
    </div>
  </div>
</div>

<div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>ENDURANCE</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :endr, class: "form-control", placeholder: "", autofocus: true, required: true, value: @pte.endr %>
    </div>
  </div>
</div>



<div class="form-group"> 
  <div class="row">
    <div class="control-label col-sm-12">
      <strong>OVERALL COMMENTS</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-12">
      <%= f.text_area :ovc, class: "form-control", placeholder: "", autofocus: true, required: true, value: @pte.ovc %>
    </div>
  </div>
</div>

<!-- FROM FRONT -->

</div>
</div>

<br>

