
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA SAMARAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :applnm, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO MYKAD</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
             <% 
              if @ilsc.ic.present?
                icval = @ilsc.ic
              else
                icval = params[:ic]
              end 
            %>
            <%= f.text_field :ic, class: "form-control", placeholder: "cth: 141201035647 (tiada dash)", autofocus: true, required: true, value: icval, readonly: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO PENDAFTARAN OKU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :oku, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JANTINA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :gender, options_for_select(["Lelaki", 
                                                  "Perempuan"], 
                                                  selected: @ilsc.gender), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_field :dobn, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TEMPAT LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :birthplc, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :addr, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BANGSA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :race, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>AGAMA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :relg, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :ph, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>


      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON PELATIH</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :phtr, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <b><u>MAKLUMAT PERSEKOLAHAN</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">NAMA SEKOLAH RENDAH/MENENGAH/INSTITUSI LAIN</th>
              <th style="background-color:#7fbf7f;color:black">TAHUN MASUK</th>
              <th style="background-color:#7fbf7f;color:black">TAHUN KELUAR</th>
              <th style="background-color:#7fbf7f;color:black">PENCAPAIAN</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :schi do |h| %>
            <% (1..5).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
              <tr>
                <td>
                  <%= g.text_field :"sek", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :"tahun", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :"keluar", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][2] %>
                </td>
                <td>
                  <%= g.text_field :"pencapaian", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][3] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <b><u>MAKLUMAT KURSUS YANG PERNAH DIHADIRI</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">NAMA KURSUS</th>
              <th style="background-color:#7fbf7f;color:black">TEMPAT</th>
              <th style="background-color:#7fbf7f;color:black">TEMPOH</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :crls do |h| %>
            <% (1..5).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
              <tr>
                <td>
                  <%= g.text_field :nmcr, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :ven, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :prd, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][2] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <b><u>MAKLUMAT ADIK BERADIK</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black; width: 35%">NAMA</th>
              <th style="background-color:#7fbf7f;color:black">UMUR</th>
              <th style="background-color:#7fbf7f;color:black">PERSEKOLAHAN/PERKERJAAN</th>
              <th style="background-color:#7fbf7f;color:black">NO TELEFON</th>
              <th style="background-color:#7fbf7f;color:black">TAHAP</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :sbls do |h| %>
            <% (1..10).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
            
              <tr>
                <td>
                  <%= g.text_field :nmsb, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.sbls["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :age, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.sbls["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :skjb, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.sbls["#{n}"][2] %>
                </td>
                <td>
                  <%= g.text_field :sbph, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.sbls["#{n}"][3] %>
                </td>
                <td>
                  <%= g.text_field :thp, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.sbls["#{n}"][4] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>SUKAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :sport, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>HOBI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :hobby, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PEKERJAAN YANG DIMINATI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :jobint, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>


      <!-- BAHAGIAN B -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian B</h4>
      </div>

      <b><u>MAKLUMAT IBU-BAPA/PENJAGA</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">MAKLUMAT</th>
              <th style="background-color:#7fbf7f;color:black">BAPA/PENJAGA</th>
              <th style="background-color:#7fbf7f;color:black">IBU/PENJAGA</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :prtls do |h| %>
            <tr>
              <td>
               NAMA
              </td>
              <td>
                <%= h.text_field :namef, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["namef"] %>
              </td>
              <td>
                <%= h.text_field :namem, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["namem"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO MYKAD
              </td>
              <td>
                <%= h.text_field :icf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["icf"] %>
              </td>
              <td>
                <%= h.text_field :icm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["icm"] %>
              </td>
            </tr>
            <tr>
              <td>
               PEKERJAAN
              </td>
              <td>
                <%= h.text_field :jobf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["jobf"] %>
              </td>
              <td>
                <%= h.text_field :jobm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["jobm"] %>
              </td>
            </tr>
            <tr>
              <td>
               NAMA DAN ALAMAT MAJIKAN
              </td>
              <td>
                <%= h.text_area :addf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["addf"] %>
              </td>
              <td>
                <%= h.text_area :addm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["addm"] %>
              </td>
            </tr>
            <tr>
              <td>
               PENDAPATAN BULANAN (RM)
              </td>
              <td>
                <%= h.text_field :incf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["incf"] %>
              </td>
              <td>
                <%= h.text_field :incm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["incm"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON PEJABAT
              </td>
              <td>
                <%= h.text_field :phof, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phof"] %>
              </td>
              <td>
                <%= h.text_field :phom, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phom"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON BIMBIT
              </td>
              <td>
                <%= h.text_field :phf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phf"] %>
              </td>
              <td>
                <%= h.text_field :phm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phm"] %>
              </td>
            </tr>
            <% end %>      
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <b><u>MAKLUMAT 2 WARIS UNTUK DIHUBUNGI JIKA KECEMASAN</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">MAKLUMAT</th>
              <th style="background-color:#7fbf7f;color:black">WARIS 1</th>
              <th style="background-color:#7fbf7f;color:black">WARIS 2</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :warls do |h| %>
            <tr>
              <td>
               NAMA
              </td>
              <td>
                <%= h.text_field :name1, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["name1"] %>
              </td>
              <td>
                <%= h.text_field :name2, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["name2"] %>
              </td>
            </tr>
            <tr>
              <td>
               HUBUNGAN
              </td>
              <td>
                <%= h.text_field :rel1, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["rel1"] %>
              </td>
              <td>
                <%= h.text_field :rel2, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["rel2"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON RUMAH
              </td>
              <td>
                <%= h.text_field :ph1, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["ph1"] %>
              </td>
              <td>
                <%= h.text_field :ph2, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["ph2"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON BIMBIT
              </td>
              <td>
                <%= h.text_field :mob1, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["mob1"] %>
              </td>
              <td>
                <%= h.text_field :mob2, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["mob2"] %>
              </td>
            </tr>
            <tr>
              <td>
               ALAMAT
              </td>
              <td>
                <%= h.text_field :add1, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["add1"] %>
              </td>
              <td>
                <%= h.text_field :add2, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.warls["add2"] %>
              </td>
            </tr>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <br>
      <!-- BAHAGIAN C -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian C</h4>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>DIAGNOSIS PENYAKIT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :diag, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>KEKERAPAN SERANGAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :occdiag, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
        Sila nyatakan kekerapan berapa kali hari/minggu/bulan
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA UBAT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :medc, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>KEKERAPAN UBAT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :occmedc, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JUMLAH DIAMBIL</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :amtmedc, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAHAN MAKANAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :allerg, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>DOKTOR PERIBADI (JIKA ADA)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :docnm, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON DR PERIBADI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :docph, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>