<meta name="viewport" content="width=1024">


<div class='row'>
  <div class='col-lg-12 col-12'>
    <%= form_for(@ilsc,:html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <!-- BAHAGIAN A -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian A</h4>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>


       <!-- BAHAGIAN C -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian D</h4>
      </div>

      <u><h6 style="color:black; font-weight: 300">Dokumen Yang Diperlukan</h6></u>

      
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>MYKAD BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "MYKAD BAPA").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "MYKAD BAPA" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>MYKAD IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "MYKAD IBU").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "MYKAD IBU" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>MYKAD ANAK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "MYKAD ANAK").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "MYKAD ANAK" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>SLIP MENGUNDI IBU/BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "SLIP UNDI").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "SLIP UNDI" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>KAD OKU ANAK/DIAGNOSIS</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "KAD OKU").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "KAD OKU" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>


      <!-- OLD VERSION -->

      

      <%
        if @ilsc.perse.present?
          perse_id = @ilsc.perse.id
        else
          perse_id = params[:perse]
        end

        if @ilsc.tp.present?
          tp = @ilsc.tp
        else
          tp = params[:prog]
        end
      %>

      <%= f.hidden_field :tp, value: tp %>
      
      <%= f.hidden_field :perse_id, value: perse_id %>


      <br>
<!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"TERUSKAN",  class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
      
    <% end %>

  </div>
</div>

<br><br><br><br><br>