<meta name="viewport" content="width=1024">


<div class='row'>
  <div class='col-lg-12 col-12'>
    <%= form_for(@ilsc,:html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <!-- BAHAGIAN A -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian A</h4>
      </div>
      <b><u>MAKLUMAT PEMOHON</u></b>
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO MYKAD</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
             <% 
              if @ilsc.ic.present?
                icval = @ilsc.ic
              else
                icval = params[:ic]
              end 
            %>
            <%= f.text_field :ic, class: "form-control", placeholder: "cth: 141201035647 (tiada dash)", autofocus: true, required: true, value: icval, readonly: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>GAMBAR PROFIL</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ilsc.fotos.where(foto_name: "GAMBAR PROFIL").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "GAMBAR PROFIL" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf,image/jpeg,image/gif,image/png', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO PENDAFTARAN OKU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :oku, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JANTINA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :gender, options_for_select(["Lelaki", 
                                                  "Perempuan"], 
                                                  selected: @ilsc.gender), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_field :dobn, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TEMPAT LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :birthplc, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :addr, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BANGSA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :race, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>AGAMA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :relg, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :ph, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>EMEL</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :email, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>STATUS</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :marstat, options_for_select(["Bujang",
                                                  "Kahwin",
                                                  "Duda",
                                                  "Balu"], 
                                                  selected: @ilsc.marstat), 
            {include_blank: "Pilih Satu"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>DUN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :dun, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PARLIMEN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :parl, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <!-- BAHAGIAN B -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian B</h4>
      </div>      

      <b><u>MAKLUMAT PERSEKOLAHAN</u></b>
      

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">NAMA SEKOLAH RENDAH/MENENGAH/INSTITUSI LAIN</th>
              <th style="background-color:#7fbf7f;color:black">TAHUN MASUK</th>
              <th style="background-color:#7fbf7f;color:black">TAHUN KELUAR</th>
              <th style="background-color:#7fbf7f;color:black">PENCAPAIAN</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :schi do |h| %>
            <% (1..5).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
              <tr>
                <td>
                  <%= g.text_field :"sek", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :"tahun", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :"keluar", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][2] %>
                </td>
                <td>
                  <%= g.text_field :"pencapaian", class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.schi["#{n}"][3] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      <b><u>MAKLUMAT KURSUS YANG PERNAH DIHADIRI</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">NAMA KURSUS</th>
              <th style="background-color:#7fbf7f;color:black">TEMPAT</th>
              <th style="background-color:#7fbf7f;color:black">TEMPOH</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :crls do |h| %>
            <% (1..5).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
              <tr>
                <td>
                  <%= g.text_field :nmcr, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :ven, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :prd, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.crls["#{n}"][2] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->
      <br>

      <b><u>PENGALAMAN KERJA</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">NAMA MAJIKAN</th>
              <th style="background-color:#7fbf7f;color:black">JAWATAN</th>
              <th style="background-color:#7fbf7f;color:black">TEMPOH BEKERJA</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :prevmaj do |h| %>
            <% (1..5).each do |n| %>
            <%= h.fields_for :"#{n}" do |g| %>
              <tr>
                <td>
                  <%= g.text_field :nmj, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.prevmaj["#{n}"][0] %>
                </td>
                <td>
                  <%= g.text_field :jwt, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.prevmaj["#{n}"][1] %>
                </td>
                <td>
                  <%= g.text_field :tempoh, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px", value: @ilsc.prevmaj["#{n}"][2] %>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>
                   
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->
      <br>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PENGUNDI SELANGOR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :selspr, options_for_select(["Ya",
                                                  "Tidak"], 
                                                  selected: @ilsc.selspr), 
            {include_blank: "Pilih Satu"}, {required: true} %>
          </div>
        </div>
      </div>

      
      <!-- BAHAGIAN C -->
      <div class="col-sm-12" style="background-color:#ffcccc">
        <h4 style="color:black; font-weight: 600">Bahagian C</h4>
      </div>

      <b><u>MAKLUMAT IBU-BAPA/PENJAGA</u></b>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black">MAKLUMAT</th>
              <th style="background-color:#7fbf7f;color:black">BAPA/PENJAGA</th>
              <th style="background-color:#7fbf7f;color:black">IBU/PENJAGA</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <%= f.fields_for :prtls do |h| %>
            <tr>
              <td>
               NAMA
              </td>
              <td>
                <%= h.text_field :namef, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["namef"] %>
              </td>
              <td>
                <%= h.text_field :namem, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["namem"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO MYKAD
              </td>
              <td>
                <%= h.text_field :icf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["icf"] %>
              </td>
              <td>
                <%= h.text_field :icm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["icm"] %>
              </td>
            </tr>
            <tr>
              <td>
               PEKERJAAN
              </td>
              <td>
                <%= h.text_field :jobf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["jobf"] %>
              </td>
              <td>
                <%= h.text_field :jobm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["jobm"] %>
              </td>
            </tr>
            <tr>
              <td>
               NAMA DAN ALAMAT MAJIKAN
              </td>
              <td>
                <%= h.text_area :addf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["addf"] %>
              </td>
              <td>
                <%= h.text_area :addm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["addm"] %>
              </td>
            </tr>
            <tr>
              <td>
               PENDAPATAN BULANAN (RM)
              </td>
              <td>
                <%= h.text_field :incf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["incf"] %>
              </td>
              <td>
                <%= h.text_field :incm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["incm"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON PEJABAT
              </td>
              <td>
                <%= h.text_field :phof, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phof"] %>
              </td>
              <td>
                <%= h.text_field :phom, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phom"] %>
              </td>
            </tr>
            <tr>
              <td>
               NO TELEFON BIMBIT
              </td>
              <td>
                <%= h.text_field :phf, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phf"] %>
              </td>
              <td>
                <%= h.text_field :phm, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px",value: @ilsc.prtls["phm"] %>
              </td>
            </tr>
            <% end %>      
          </tbody>

        </table>
      </div> <!-- DIV TABLE -->

      

      


      <!-- OLD VERSION -->

      

      <%
        if @ilsc.perse.present?
          perse_id = @ilsc.perse.id
        else
          perse_id = params[:perse]
        end

        if @ilsc.tp.present?
          tp = @ilsc.tp
        else
          tp = params[:prog]
        end

        if @ilsc.stat.present?
          stat = @ilsc.stat
        else
          stat = "Permohonan Dalam Semakan"
        end
      %>

      <%= f.hidden_field :stat, value: stat %>

      <%= f.hidden_field :tp, value: tp %>

      
      
      <%= f.hidden_field :perse_id, value: perse_id %>


      <br>
<!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"TERUSKAN",  class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
      
    <% end %>

  </div>
</div>

<br><br><br><br><br>