<div class="table-responsive" style="font-size: 12px">
  <table class="table table-bordered" width="100%" cellspacing="0" style="color: black;borders: 2px solid black">

    <tbody>
      <tr style="borders: 1.5px solid black">
        <td style="background-color:#0070C0 !important" colspan="2"><strong><font color="white"><h3 align="center"><%= @ilsc.name.upcase %> (ID: <%= @ilsc.id %>)</h3></font></strong></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NAMA SAMARAN</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.applnm}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">JENIS PROGRAM</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.tp} (ILSC)" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO MYKAD</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.ic}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO PENDAFTARAN OKU</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.oku}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">JANTINA</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.gender}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">TARIKH LAHIR</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.dobn.strftime('%d-%^b-%y')}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">TEMPAT LAHIR</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.birthplc}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">ALAMAT</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.addr}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">BANGSA</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.race}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">AGAMA</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.relg}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO TELEFON</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.ph}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO TELEFON PELATIH</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.phtr}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">SUKAN</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.sport}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">HOBI</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.hobby}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">PEKERJAAN YANG DIMINATI</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.jobint}" %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive border" style="font-size: 12px">
<table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
  <thead style="text-align: center">
    <th style="background-color:#ccccff;color:black" colspan="4">MAKLUMAT PERSEKOLAHAN</th>
  </thead>
  <thead style="text-align: center">
    <tr class="shadow">
      <th style="background-color:#7fbf7f;color:black">NAMA SEKOLAH RENDAH/MENENGAH/INSTITUSI LAIN</th>
      <th style="background-color:#7fbf7f;color:black">TAHUN MASUK</th>
      <th style="background-color:#7fbf7f;color:black">TAHUN KELUAR</th>
      <th style="background-color:#7fbf7f;color:black">PENCAPAIAN</th>
    </tr>
  </thead>
  <tbody style="color: black">
    <% (1..5).each do |n| %>
      <tr>
        <td><%= @ilsc.schi["#{n}"][0] %></td>
        <td><%= @ilsc.schi["#{n}"][1] %></td>
        <td><%= @ilsc.schi["#{n}"][2] %></td>
        <td><%= @ilsc.schi["#{n}"][3] %></td>
      </tr>
    <% end %>
           
  </tbody>
</table>
</div>

<div class="table-responsive border" style="font-size: 12px">
<table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
  <thead style="text-align: center">
    <th style="background-color:#ccccff;color:black" colspan="3">MAKLUMAT KURSUS</th>
  </thead>
  <thead style="text-align: center">
    <tr class="shadow">
      <th style="background-color:#7fbf7f;color:black">NAMA KURSUS</th>
      <th style="background-color:#7fbf7f;color:black">TEMPAT</th>
      <th style="background-color:#7fbf7f;color:black">TEMPOH</th>
    </tr>
  </thead>
  <tbody style="color: black">
    <% (1..5).each do |n| %>
      <tr>
        <td><%= @ilsc.crls["#{n}"][0] %></td>
        <td><%= @ilsc.crls["#{n}"][1] %></td>
        <td><%= @ilsc.crls["#{n}"][2] %></td>
      </tr>
    <% end %>
           
  </tbody>
</table>
</div>

<div class="table-responsive border" style="font-size: 12px">
<table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
  <thead style="text-align: center">
    <th style="background-color:#ccccff;color:black" colspan="5">MAKLUMAT ADIK BERADIK</th>
  </thead>
  <thead style="text-align: center">
    <tr class="shadow">
      <th style="background-color:#7fbf7f;color:black; width: 35%">NAMA</th>
      <th style="background-color:#7fbf7f;color:black">UMUR</th>
      <th style="background-color:#7fbf7f;color:black">PERSEKOLAHAN/PERKERJAAN</th>
      <th style="background-color:#7fbf7f;color:black">NO TELEFON</th>
      <th style="background-color:#7fbf7f;color:black">TAHAP</th>
    </tr>
  </thead>
  <tbody style="color: black">
    <% (1..10).each do |n| %>
      <tr>
        <td><%= @ilsc.sbls["#{n}"][0] %></td>
        <td><%= @ilsc.sbls["#{n}"][1] %></td>
        <td><%= @ilsc.sbls["#{n}"][2] %></td>
        <td><%= @ilsc.sbls["#{n}"][3] %></td>
        <td><%= @ilsc.sbls["#{n}"][4] %></td>
      </tr>
    <% end %>
           
  </tbody>
</table>
</div>
      
    
<div class="table-responsive">
  <table class="table table-bordered" width="100%" cellspacing="0" style="color: black;borders: 2px solid black">
    <tbody>
      <tr>
        <td style="background-color:#d29494 !important" colspan="2"><font color="white"><h5>BAHAGIAN B</h5></font></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive border" style="font-size: 12px">
  <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
    <thead style="text-align: center">
      <th style="background-color:#ccccff;color:black" colspan="3">MAKLUMAT IBU-BAPA/PENJAGA</th>
    </thead>
    <thead style="text-align: center">
      <tr class="shadow">
        <th style="background-color:#7fbf7f;color:black">MAKLUMAT</th>
        <th style="background-color:#7fbf7f;color:black">BAPA/PENJAGA</th>
        <th style="background-color:#7fbf7f;color:black">IBU/PENJAGA</th>
      </tr>
    </thead>
    <tbody style="color: black">
      <tr>
        <td>
         NAMA
        </td>
        <td>
          <%= @ilsc.prtls["namef"] %>
        </td>
        <td>
          <%=  @ilsc.prtls["namem"] %>
        </td>
      </tr>
      <tr>
        <td>
         NO MYKAD
        </td>
        <td>
          <%= @ilsc.prtls["icf"] %>
        </td>
        <td>
          <%= @ilsc.prtls["icm"] %>
        </td>
      </tr>
      <tr>
        <td>
         PEKERJAAN
        </td>
        <td>
          <%=  @ilsc.prtls["jobf"] %>
        </td>
        <td>
          <%=  @ilsc.prtls["jobm"] %>
        </td>
      </tr>
      <tr>
        <td>
         NAMA DAN ALAMAT MAJIKAN
        </td>
        <td>
          <%= @ilsc.prtls["addf"] %>
        </td>
        <td>
          <%=  @ilsc.prtls["addm"] %>
        </td>
      </tr>
      <tr>
        <td>
         PENDAPATAN BULANAN (RM)
        </td>
        <td>
          <%= @ilsc.prtls["incf"] %>
        </td>
        <td>
          <%= @ilsc.prtls["incm"] %>
        </td>
      </tr>
      <tr>
        <td>
         NO TELEFON PEJABAT
        </td>
        <td>
          <%= @ilsc.prtls["phof"] %>
        </td>
        <td>
          <%=  @ilsc.prtls["phom"] %>
        </td>
      </tr>
      <tr>
        <td>
         NO TELEFON BIMBIT
        </td>
        <td>
          <%= @ilsc.prtls["phf"] %>
        </td>
        <td>
          <%= @ilsc.prtls["phm"] %>
        </td>
      </tr>    
    </tbody>

  </table>
</div> <!-- DIV TABLE -->



<div class="table-responsive border" style="font-size: 12px">
  <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
    <thead style="text-align: center">
      <th style="background-color:#ccccff;color:black" colspan="3">MAKLUMAT 2 WARIS</th>
    </thead>
    <thead style="text-align: center">
      <tr class="shadow">
        <th style="background-color:#7fbf7f;color:black">MAKLUMAT</th>
        <th style="background-color:#7fbf7f;color:black">WARIS 1</th>
        <th style="background-color:#7fbf7f;color:black">WARIS 2</th>
      </tr>
    </thead>
    <tbody style="color: black">
      <tr>
        <td>
         NAMA
        </td>
        <td>
          <%=  @ilsc.warls["name1"] %>
        </td>
        <td>
          <%=  @ilsc.warls["name2"] %>
        </td>
      </tr>
      <tr>
        <td>
         HUBUNGAN
        </td>
        <td>
          <%= @ilsc.warls["rel1"] %>
        </td>
        <td>
          <%= @ilsc.warls["rel2"] %>
        </td>
      </tr>
      <tr>
        <td>
         NO TELEFON RUMAH
        </td>
        <td>
          <%= @ilsc.warls["ph1"] %>
        </td>
        <td>
          <%= @ilsc.warls["ph2"] %>
        </td>
      </tr>
      <tr>
        <td>
         NO TELEFON BIMBIT
        </td>
        <td>
          <%= @ilsc.warls["mob1"] %>
        </td>
        <td>
          <%= @ilsc.warls["mob2"] %>
        </td>
      </tr>
      <tr>
        <td>
         ALAMAT
        </td>
        <td>
          <%=  @ilsc.warls["add1"] %>
        </td>
        <td>
          <%= @ilsc.warls["add2"] %>
        </td>
      </tr>
             
    </tbody>

  </table>
</div> <!-- DIV TABLE -->



<div class="table-responsive" style="font-size: 12px;">
  <table class="table table-bordered" width="100%" cellspacing="0" style="color: black;borders: 2px solid black">
    <tbody>
      <tr>
        <td style="background-color:#d29494 !important" colspan="2"><font color="white"><h5>BAHAGIAN C</h5></font></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">DIAGNOSIS PENYAKIT</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.diag}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">KEKERAPAN SERANGAN</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.occdiag}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NAMA UBAT</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.medc}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">KEKERAPAN UBAT</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.occmedc}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">JUMLAH DIAMBIL</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.amtmedc}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">ALAHAN MAKANAN</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.allerg}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">DOKTOR PERIBADI (JIKA ADA)</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.docnm}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO TELEFON DOKTOR PERIBADI</font></td>
        <td style="background-color: !important"><%= "#{@ilsc.docph}" %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" style="font-size: 12px;">
  <table class="table table-bordered" width="100%" cellspacing="0" style="color: black;borders: 2px solid black">
    <tbody>
      <tr>
        <td style="background-color:#d29494 !important" colspan="2"><font color="white"><h5>BAHAGIAN D</h5></font></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">KURSUS YANG DIMINATI</font></td>
        <%
          crs = {"1"=>"Kursus Jahitan",
                "2"=>"Kursus Bakeri",
                "3"=>"Kursus Pengurusan Pejabat",
                "4"=>"Kursus Teknologi Maklumat (Kegunaan Pejabat)",
                "5"=>"Kursus Kecerdasan Buatan (Artificial Intelligence)",
                "6"=>"Kursus Pembungkusan",
                "7"=>"Kursus Peruncitan",
                "8"=>"Kursus Asas Bakeri",
                "9"=>"Kursus Asas Pengurusan Kafe",
                "10"=>"Kursus Cenderahati (Berasaskan Sukan)",
                "11"=>"Kursus Asas Perkhidmatan Dobi"}

        %>
        <td style="background-color: !important">
          <% @ilsc.crstp.each do |n| %>
            <%= crs[n] %><br>
          <% end %>
            
        </td>
      </tr>
    </tbody>
  </table>
</div>

  