<div class="col-sm-8" style="background-color:#4c4cff; border-radius: 40px">
  <h5 style="color:white; font-weight: 600; text-align: center">PENDAFTARAN BARU UNTUK <%= params[:prog]%></h5>
</div>

<% if @cfm.present? %>
  <div style="font-size: 12px">
    <% if params[:prog] == "PERSEDIAAN ALAM PEKERJAAN" %>
      <%= render 'ilscs/form_sedia', actn: "new" %>
    <% elsif params[:prog] == "PENCARIAN PEKERJAAN" %>
      <%= render 'ilscs/form_cari', actn: "new" %>
    <% end %>
  </div>
<% else %>

    <%= form_tag new_ilsc_path, method: :get, id: "find_kid" do %>
      <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-10">
          
          <%= text_field_tag :ic, params[:ic], class: "form-control form-control-sm", placeholder: "Sila Masukkan No MYKAD Anak Anda", required: true, minlenght: 2 %>
          <%= hidden_field_tag :sch, params[:sch], value: "sdhjdsh876671" %>
          <%= hidden_field_tag :prog, params[:prog], value: params[:prog] %>
          <%= hidden_field_tag :perse, params[:perse], value: params[:perse] %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <%= button_tag(type: :submit, class: "btn btn-sm btn-success", style: "") do %>
            <i class=""></i> Teruskan
          <% end %>
        </div>
      </div>

    <% end %>

  

<% end %>