<div class='row'>
  <div class='col-lg-12 col-12'>
    <%= form_for(@ekid,:html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <div class="col-sm-8" style="background-color:#ffcccc">
        <h6 style="color:black; font-weight: 600">Maklumat Anak</h6>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA ANAK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "Nama Penuh Seperti MyKid", autofocus: true, required: true, style: "text-transform: uppercase" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO MYKID</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% 
              if @ekid.ic.present?
                icval = @ekid.ic
              else
                icval = params[:ic]
              end 
            %>
            <%= f.text_field :ic, class: "form-control", placeholder: "cth: 141201035647 (tiada dash)", autofocus: true, required: true, value: icval, readonly: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO KAD OKU (Jika Ada)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :okunum, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JANTINA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :gdr, options_for_select(["Lelaki", 
                                                  "Perempuan"], 
                                                  selected: @ekid.gdr), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_select :dob, 
                              {order:[:day, :month, :year],
                              prompt: { day: 'HARI', month: 'BULAN', year: 'TAHUN' },
                              start_year: 2009,
                              selected: @ekid.dob}, 
                              {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TEMPAT LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :birthplc, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>AGAMA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :relign, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BANGSA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :race, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BILANGAN ADIK BERADIK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.number_field :sib, class: "form-control", placeholder: "", autofocus: true, required: true %>
            Termasuk anak yang didaftarkan
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>HUBUNGAN ANAK DENGAN PEMOHON</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :reltn, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAHAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :allg, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>DIET</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :diet, class: "form-control",required: true, placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      

      <div class="col-sm-8" style="background-color:#ffcccc">
        <h6 style="color:black; font-weight: 600">Maklumat Diagnosis Anak</h6>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-12 col-12">
            <strong>ADAKAH ANAK ANDA MEMPUNYAI DIAGNOSIS?</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :ref, options_for_select(["Ya", 
                                                  "Tidak"], 
                                                  selected: @ekid.ref), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-12 col-12">
            <strong>JIKA YA, NYATAKAN DIAGNOSIS ANAK ANDA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            
            <%= f.select :prbtp, options_for_select(["Autism",
                                                    "ADHD",
                                                    "Down Syndrome",
                                                    "Global developmental delay (GDD)"], 
                                                  selected: @ekid.prbtp), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>KLINIK / HOSPITAL YANG MEMBERI DIAGNOSIS</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :refloc, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>UMUR ANAK KETIKA BOLEH BERJALAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :dtwlk, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>MASALAH KESIHATAN ANAK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :kdhealth, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <% if 1==1 #if params[:prog] == "TERAPI ANIS" || @ekid.tp == "TERAPI ANIS" || params[:prog] == "INTERVENSI ANIS" || @ekid.tp == "INTERVENSI ANIS" ||  params[:prog] == "PRASEKOLAH ANIS" || @ekid.tp == "PRASEKOLAH ANIS" %>
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <i class="fas fa-cloud-upload-alt"></i><strong>SURAT DIAGNOSIS</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <% image = @ekid.fotos.where(foto_name: "DIAGNOSIS").first %>
              <%  if image.present? %>
                <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
                <div class="row">
                  <div class="col-sm-8 col-5">
                    <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                  </div>
                </div>  
              <% else %>
                <%= f.fields_for :fotos do |h| %>
                  <div class="row">
                    <div class="col-sm-8 col-8">
                      <%= h.hidden_field :foto_name, value: "DIAGNOSIS" %>
                      <%= h.file_field :picture, accept: 'application/pdf', required: true %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <i>Wajib Disertakan</i>
        </div>
      <% end %>

      <% if 1==1 #params[:prog] == "PRASEKOLAH ANIS" || @ekid.tp == "PRASEKOLAH ANIS" %>

        <div class="col-sm-8" style="background-color:#ffcccc">
          <h6 style="color:black; font-weight: 600">Maklumat Pusat EIP</h6>
        </div>

        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-12 col-12">
              <strong>ADAKAH ANAK ANDA PERNAH MENGIKUTI PROGRAM EIP?</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.select :curreip, options_for_select(["Ya", 
                                                    "Tidak"], 
                                                    selected: @ekid.curreip), 
              {include_blank: "SILA PILIH"}, {required: true} %>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-12 col-12">
              <strong>JIKA YA, NYATAKAN NAMA PUSAT EIP</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              
             <%= f.text_field :nmeip, class: "form-control", placeholder: "", autofocus: true %>
            
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>TEMPOH MENGIKUTI PROGRAM PUSAT EIP (BULAN)</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.number_field :tmeip, class: "form-control", placeholder: "", autofocus: true %>
            </div>
          </div>
        </div>
      <% end %>
      

      <!--
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JIKA LAIN-LAIN, SILA NYATAKAN KELEWATAN YANG DIALAMI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :prbot, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>
      -->

      

      <br><div class="col-sm-8" style="background-color:#ffcccc">
        <h6 style="color:black; font-weight: 600">Maklumat Keluarga</h6>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>DAERAH YANG DIDIAMI SEKARANG</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :dun, options_for_select(["Petaling",
                                                  "Hulu Langat",
                                                  "Klang",
                                                  "Gombak",
                                                  "Kuala Langat",
                                                  "Sepang",
                                                  "Kuala Selangor",
                                                  "Hulu Selangor",
                                                  "Sabak Bernam",
                                                  "Lain-lain"], 
                                                  selected: @ekid.dun), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT KEDIAMAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :addr, rows: 4, class: "form-control", placeholder: "Pastikan ada memasukkan poskod, daerah dan negeri", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      

      <!-- <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>LOKASI PILIHAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :prefloc, options_for_select(["Shah Alam"], 
                                                  selected: @ekid.prefloc), 
            {include_blank: "SILA PILIH"}, {required: true} %>
            <br>Ujian Saringan akan diadakan disekitar lokasi diatas
          </div>
        </div>
      </div> -->

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON UNTUK DIHUBUNGI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mph, class: "form-control", placeholder: "cth: 01162801556 (tiada dash)", autofocus: true, required: true %>
            Pastikan boleh dihubungi melalui whatsapp
          </div>
        </div>
      </div>

      <!-- ABAH -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :fname, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO MYKAD BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :fic, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>UMUR BAPA (TAHUN)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.number_field :fage, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BANGSA BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :frace, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>AGAMA BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :frelign, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :fph, class: "form-control", placeholder: "cth: 01162801556 (tiada dash)", autofocus: true, required: true %>
            Pastikan boleh dihubungi melalui whatsapp
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>EMAIL BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.email_field :femail, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TAHAP PENDIDIKAN BAPA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :fedu, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ADAKAH BAPA BEKERJA?</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :fwork, options_for_select(["Ya", 
                                                  "Tidak"], 
                                                  selected: @ekid.fwork), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PEKERJAAN BAPA JIKA BEKERJA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :fworktp, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <!-- MAK -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mname, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO MYKAD IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mic, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>UMUR IBU (TAHUN)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.number_field :mage, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>BANGSA IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mrace, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>AGAMA IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mrelign, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mmph, class: "form-control", placeholder: "cth: 01162801556 (tiada dash)", autofocus: true, required: true %>
            Pastikan boleh dihubungi melalui whatsapp
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>EMAIL IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.email_field :memail, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TAHAP PENDIDIKAN IBU</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :medu, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ADAKAH IBU BEKERJA?</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :mwork, options_for_select(["Ya", 
                                                  "Tidak"], 
                                                  selected: @ekid.mwork), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PEKERJAAN IBU JIKA BEKERJA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :mworktp, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>ADAKAH IBU/BAPA MEMPUNYAI SEJARAH LEWAT PERKEMBANGAN?</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :phist, options_for_select(["Ya", 
                                                  "Tidak"], 
                                                  selected: @ekid.phist), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JIKA YA, SILA NYATAKAN LEWAT PERKEMBANGAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :phisttp, class: "form-control", placeholder: "", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PENDAPATAN ISI RUMAH SEBULAN (RM)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :pinc, options_for_select([ "Kurang dari 3,000",
                                                  "3,000 hingga 5,000", 
                                                  "5,000 hingga 10,000",
                                                  "Lebih dari 10,000"], 
                                                  selected: @ekid.pinc), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <!-- <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <i class="fas fa-cloud-upload-alt"></i><strong>PENGESAHAN PENDAPATAN (IBU-BAPA)</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <% image = @ekid.fotos.where(foto_name: "SLIP GAJI").first %>
              <%  if image.present? %>
                <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
                <div class="row">
                  <div class="col-sm-8 col-5">
                    <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                  </div>
                </div>  
              <% else %>
                <%= f.fields_for :fotos do |h| %>
                  <div class="row">
                    <div class="col-sm-8 col-8">
                      <%= h.hidden_field :foto_name, value: "SLIP GAJI" %>
                      <%= h.file_field :picture, accept: 'application/pdf', required: true %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <i>Wajib Disertakan<br>
            Sila sertakan Slip Gaji Ibu Bapa atau Surat Pengesahan Pendapatan jika tiada
          </i>
        </div>
 -->
      

      <% 
        if @ekid.tp.present?
          tp = @ekid.tp
        else
          tp = nil
        end
      %> 

      <%= f.hidden_field :tp, value: tp %>
      <%= f.hidden_field :perse_id, value: params[:perse] %>


      <br>
<!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"TERUSKAN",  class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
      
    <% end %>

  </div>
</div>

<br><br><br><br><br>