<% pk = @ekid.pkid %>

  


<div class="table-responsive">
  <table class="table table-bordered" width="100%" cellspacing="0" style="color: black;borders: 2px solid black">

    <tbody>
      <tr style="borders: 1.5px solid black">
        <td style="background-color:#0070C0 !important" colspan="2"><strong><font color="white"><h2 align="center"><%= @ekid.name.upcase %> (ID: <%= @ekid.id %>)</h2></font></strong></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important; width: 40%" ><font color="black">NO MYKID</font></td>
        <td style="background-color: !important"><%= "#{@ekid.ic}" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NO KAD OKU</font></td>
        <td style="background-color: !important"><%= @ekid.okunum %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">JANTINA</font></td>
        <td style="background-color: !important"><%= @ekid.gdr %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">TARIKH LAHIR</font></td>
        <td style="background-color: !important"><%= @ekid.dob.strftime('%d-%^b-%Y') %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">UMUR</font></td>
        <td style="background-color: !important"><%= "#{@year} Tahun, #{@month} Bulan" %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">TEMPAT LAHIR</font></td>
        <td style="background-color: !important"><%= @ekid.birthplc %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">AGAMA</font></td>
        <td style="background-color: !important"><%= @ekid.relign %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">BANGSA</font></td>
        <td style="background-color: !important"><%= @ekid.race %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">BILANGAN ADIK BERADIK</font></td>
        <td style="background-color: !important"><%= @ekid.sib %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">HUBUNGAN ANAK DENGAN PEMOHON</font></td>
        <td style="background-color: !important"><%= @ekid.reltn %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">ALAHAN</font></td>
        <td style="background-color: !important"><%= @ekid.allg %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">DIET</font></td>
        <td style="background-color: !important"><%= @ekid.diet %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td style="background-color:#0070C0 !important" colspan="2"><font color="white"><h4>MAKLUMAT DIAGNOSIS ANAK</h4></font></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">ADAKAH ANAK ANDA MEMPUNYAI DIAGNOSIS?</font></td>
        <td style="background-color: !important"><%= @ekid.ref %></td>
      </tr>
      
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">JIKA YA, NYATAKAN DIAGNOSIS ANAK ANDA</font></td>
        <td style="background-color: !important"><%= @ekid.prbtp %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">KLINIK / HOSPITAL YANG MEMBERI DIAGNOSIS</font></td>
        <td style="background-color: !important"><%= @ekid.refloc %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">UMUR ANAK KETIKA BOLEH BERJALAN</font></td>
        <td style="background-color: !important"><%= @ekid.dtwlk %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">MASALAH KESIHATAN ANAK</font></td>
        <td style="background-color: !important"><%= @ekid.kdhealth %></td>
      </tr>
      <!-- <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">Maklumat perkembangan jika lain-lain</font></td>
        <td style="background-color: !important"><%= @ekid.prbot %></td>
      </tr> -->
      <% if pk.present? %>
        <% pk.devkid.each do |k,v| %>
          <tr>
            <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
            <td style="background-color: !important"><%= v %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <% if @ekid.tp == "PRASEKOLAH ANIS" %>
      <tbody>
        <tr>
          <td style="background-color:#0070C0 !important" colspan="2"><font color="white"><h4>MAKLUMAT PUSAT EIP</h4></font></td>
        </tr>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black">ADAKAH ANAK ANDA PERNAH MENGIKUTI PROGRAM EIP?</font></td>
          <td style="background-color: !important"><%= @ekid.curreip %></td>
        </tr>
        
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black">JIKA YA, NYATAKAN NAMA PUSAT EIP</font></td>
          <td style="background-color: !important"><%= @ekid.nmeip %></td>
        </tr>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black">TEMPOH MENGIKUTI PROGRAM PUSAT EIP (BULAN)</font></td>
          <td style="background-color: !important"><%= @ekid.nmeip %></td>
        </tr>
        <!-- <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black">Maklumat perkembangan jika lain-lain</font></td>
          <td style="background-color: !important"><%= @ekid.prbot %></td>
        </tr> -->
        <% if pk.present? %>
          <% pk.devkid.each do |k,v| %>
            <tr>
              <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
              <td style="background-color: !important"><%= v %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <% end %>

    <tbody>
      <tr>
        <td style="background-color:#0070C0 !important" colspan="2"><font color="white"><h4>MAKLUMAT KELUARGA</font></h4></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">DAERAH YANG DIDIAMI</font></td>
        <td style="background-color: !important"><%= @ekid.dun %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">ALAMAT TERKINI</font></td>
        <td style="background-color: !important"><%= @ekid.addr %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NO TELEFON UTAMA</font></td>
        <td style="background-color: !important"><%= @ekid.mph %></td>
      </tr>
      <tr style="">
        <td style="background-color:#e5e5e5 !important" ><font color="black">NAMA BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.fname %></td>
      </tr>
      
      <tr style="">
        <td style="background-color:#e5e5e5 !important" ><font color="black">
          NO MYKAD BAPA
        </font></td>
        <td style="background-color: !important"><%= @ekid.fic %></td>
      </tr>

      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">UMUR BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.fage %></td>
      </tr>
      <tr style="break-inside: avoid !important;">
        <td style="background-color:#e5e5e5 !important" ><font color="black">BANGSA BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.frace %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">AGAMA BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.frelign %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NO TELEFON BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.fph %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">EMAIL BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.femail %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">TAHAP PENDIDIKAN BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.fedu %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">ADAKAH BAPA BEKERJA</font></td>
        <td style="background-color: !important"><%= @ekid.fwork %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">PEKERJAAN BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.fworktp %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NAMA IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mname %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NAMA MYKAD IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mic %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">UMUR IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mage %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">BANGSA IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mrace %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">AGAMA IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mrelign %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">NO TELEFON IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mmph %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">EMAIL IBU</font></td>
        <td style="background-color: !important"><%= @ekid.memail %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">TAHAP PENDIDIKAN IBU</font></td>
        <td style="background-color: !important"><%= @ekid.medu %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">ADAKAH IBU BEKERJA</font></td>
        <td style="background-color: !important"><%= @ekid.mwork %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">PEKERJAAN IBU</font></td>
        <td style="background-color: !important"><%= @ekid.mworktp %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">BILANGAN TANGGUNGAN</font></td>
        <td style="background-color: !important"><%= @ekid.sib %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">SEJARAH LEWAT PERKEMBANGAN IBU-BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.phist %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">JENIS LEWAT PERKEMBANGAN IBU-BAPA</font></td>
        <td style="background-color: !important"><%= @ekid.phisttp %></td>
      </tr>
      <tr>
        <td style="background-color:#e5e5e5 !important" ><font color="black">PENDAPATAN ISI RUMAH SEBULAN (RM)</font></td>
        <td style="background-color: !important"><%= @ekid.pinc %></td>
      </tr>
    </tbody>

    

    <% if pk.present? %>
    <tbody>
      <tr>
        <td style="background-color:#203764 !important" colspan="2"><font color="white"><h4>MAKLUMAT TAMBAHAN</h4></font></td>
      </tr>
      <% pk.addfo.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %>
      <% pk.health.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %>
      <% pk.birth.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %>
      <% pk.grow.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %>
      <% pk.physpch.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %> 
    </tbody>

    <tbody>
      <tr>
        <td style="background-color:#203764 !important" colspan="2"><font color="white"><h4>KEBENARAN UNTUK PENILAIAN DAN INTERVENSI</h4></font></td>
      </tr>
      <% pk.agr.each do |k,v| %>
        <tr>
          <td style="background-color:#e5e5e5 !important" ><font color="black"><%= k %></font></td>
          <td style="background-color: !important"><%= v %></td>
        </tr>
      <% end %>
    </tbody>
    <% end %>

    <% if (sk=@ekid.skid).present? %>
      <tbody>
        <tr>
          <td style="background-color:#664c51 !important" colspan="2"><font color="white"><h4>MAKLUMAT UJIAN SARINGAN</h4></font></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Adakah anak ini mempunyai lewat perkembangan?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.dely %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Maklumat Tambahan mengenai lewat perkembangan anak</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.delydesc %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Kelewatan Fizikal?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.phy %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Kelewatan Kognitif?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.cog %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Kelewatan Komunikasi?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.comm %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Kelewatan Sosial/Emosi?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.soc %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Kelewatan Penyesuaian Diri?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.adap %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Adakah anak menerima surat rujukan?</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.reflt %></td>
        </tr>
        <tr>
          <td style="background-color:#997379 !important" ><font color="black">Maklumat tambahan untuk surat rujukan</font></td>
          <td style="background-color:#ffc0cb !important"><%= sk.otnt %></td>
        </tr>
      </tbody>
    <% end %>

    

  </table>
</div>