

<% link_to new_ekid_path(prog: "SARINGAN ANIS", perse: params[:perse]), class: "btn btn-sm btn-success", style: "font-size: 15px" do %>
  <i class="fa far fa-plus"></i>&nbsp Daftar Saringan ANIS
<% end %>
&nbsp
<%= link_to new_ekid_path(prog: "INTERVENSI ANIS", perse: params[:perse]), class: "btn btn-sm btn-primary", style: "font-size: 15px" do %>
  <i class="fa far fa-plus"></i>&nbsp Daftar Intervensi ANIS
<% end %> &nbsp
<%= link_to new_ekid_path(prog: "PRASEKOLAH ANIS", perse: params[:perse]), class: "btn btn-sm btn-success", style: "font-size: 15px" do %>
  <i class="fa far fa-plus"></i>&nbsp Daftar Prasekolah ANIS
<% end %>
<div style="margin-bottom: 10px"></div>

<% if @ekids.count >= 0 %>
<div class="cards shadow mb-4" style="">
  <div class="card-header">
    
    <btn class="badge badge-pill badge-secondary">
      Senarai Anak Yang Didaftarkan Oleh <%= @perse.name %> 
    </btn>
    
  </div>
  <div class="card-body">

    <div class="table table-responsive border" style="font-size:13px">

      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: %">NAMA</th>
            <th style="background-color:#ffb2b2; width: %">NO MYKAD</th>
            <th style="background-color:#ffb2b2; width: %">PROGRAM</th>
            <th style="background-color:#ffb2b2; width: %">STATUS PERMOHONAN</th>
          </tr>
        </thead>
        <tbody>
          <% @ekids.each do |ek| %>
            <tr>
              <td>
                <a href="<%= ekidconf_url(id: ek, prt: 1)%>" target="_blank"><%= ek.name %></a><br>
                <%= link_to "Kemaskini Profil", edit_ekid_path(id: ek.id, perse: ek.perse.id), class: "badge badge-pill badge-secondary", target: "_blank" %>
                <% if ek.pkid.present? %>
                  <br> 
                  <%= link_to "Kemaskini Perkembangan", edit_pkid_path(id: ek.pkid.id, ekid: ek.id), class: "badge badge-pill badge-secondary", target: "_blank" %> 
                <% end %>   
              </td>
              <td><%= ek.ic %></td>
              <td><%= ek.tp %></td>
              <td>
                <div class="badge badge-pill badge-info" style="font-size: 13px;"><%= ek.phs %></div><br>
                <b>Makluman Admin: </b><%= ek.descr %><br>
                <b>Tarikh Penilaian: </b><%= ek.dtp.strftime('%d-%^b-%y') unless ek.dtp.blank? %><br>
                <b>Tarikh Masuk: </b><%= ek.dts.strftime('%d-%^b-%y') unless ek.dts.blank? %><br>
                <b>Tarikh Tamar: </b><%= ek.dte.strftime('%d-%^b-%y') unless ek.dte.blank? %><br>
              </td>
            </tr>
          <% end %> 
        </tbody>
      </table>

    </div>

  </div>
</div>
<% end %>

