<meta name="viewport" content="width=1024">

<% link_to "Cetak/Muat Turun", root_path, class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px", :onclick => 'window.print();return false;' %>
<% link_to "try", root_path, class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px", :onclick => 'console.log("MUS");return false' %>


<h1 style="color:black;font-weight: 1000;text-align: center">BORANG MAKLUMAT ANAK</h1>
    
      <% 
        img = image_path('logo-yawas.png') 
        img = "#{root_url}#{img}"
        img1 = image_path('anislogo1.png') 
        img1 = "#{root_url}#{img1}"
      %>
      <h5 style="color:black;font-weight: 100;text-align: center;margin-top: -10px;">
      
      <%= wicked_pdf_image_tag(img, size: "65x30") %>&nbsp&nbsp
      Pusat Sokongan ANIS
      
      <%= wicked_pdf_image_tag(img1, size: "90x30") %>

    </h5>

<div class="prt-hide" style="margin-bottom: 10px;">
  <%= link_to "Muat Turun Borang", "#", onclick: 'window.print()', class: 'btn btn-sm btn-success btn-block' %>
  <% if params[:prt].blank? %>
    <% ekstat = ["Permohonan","Penilaian","Kemasukan Program","Tamat Program"]
    ekstat.each do |st| 
      if @ekid.stat == st
        btn = "primary"
      else
        btn = "secondary"
      end
    %>

      <%= link_to "#{st}", ekstat_new_path(id: @ekid.id,stat: st), class: "badge badge-pill badge-#{btn}" %> 
    <% end %>
  
    <%
      phs = {"Permohonan" => ["Permohonan Baru","Permohonan Tidak Lengkap", "Permohonan Lengkap (Dalam Semakan)", "Permohonan Ditolak"],
      "Penilaian" => ["Permohonan Dalam Senarai Menunggu","Lulus Penilaian","Gagal Penilaian"],
      "Kemasukan Program" => ["Kemasukan Program Playschool","Kemasukan Program Intervensi","Kemasukan Program Prasekolah"],
      "Tamat Program" => ["Tamat Program"]}

      hari_sesi = 
      {"INTERVENSI ANIS"=>["Isnin","Selasa","Rabu","Khamis"],
                  "PRASEKOLAH ANIS"=>["Isnin-Khamis","Transisi (Isnin & Rabu)", "Transisi (Selasa & Khamis"],
                  "PLAYSCHOOL ANIS"=>["Isnin","Selasa","Rabu","Khamis"]}
      slot_sesi = {"INTERVENSI ANIS"=>["9:00am - 11:00am","11:30am - 1:30pm","2:30pm - 4:30pm"],
                  "PRASEKOLAH ANIS"=>["8:30am - 12:30pm","1:30pm - 5:30pm" ],
                  "PLAYSCHOOL ANIS"=>["8:30am - 12:30pm","1:30pm - 5:30pm" ]}
    %>

    <%= form_for(:ek, :url => {:controller=>'ekids', :action=>'statekid_new'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
      <%= f.select :phs, options_for_select(phs[@ekid.stat],selected: @ekid.phs), {include_blank: "Pilih Status"}, required: true, style: "margin-top: 5px" %>
      <%= f.text_field :descr, placeholder: "Makluman Admin", value: @ekid.descr, style: "margin-top: 5px; width: 100%" %>
      <% ste = @ekid.stat ; if ste != "Permohonan" %>
        <%= f.select :tp, options_for_select(["PLAYSCHOOL ANIS","INTERVENSI ANIS","PRASEKOLAH ANIS"],selected: @ekid.tp), {include_blank: "Pilih Jenis Program"}, required: true, style: "margin-top: 5px" %><br>

        <% if ste == "Penilaian" %>
          <b>Tarikh Penilaian:</b><br> <%= f.date_field :dtp, value: @ekid.dtp, style: "margin-top: 5px" %><br>
        <% else %>
          <%= f.hidden_field :dtp, value: @ekid.dtp, style: "margin-top: 5px" %>
        <% end %>
        
        <% if ste == "Kemasukan Program" && @ekid.tp.present? %>
          <b>Tarikh Mula Program:</b><br> <%= f.date_field :dts, value: @ekid.dts, style: "margin-top: 5px" %><br>
          <b>Tarikh Tamat Program:</b><br> <%= f.date_field :dte, value: @ekid.dte, style: "margin-top: 5px" %><br>
          <b>Hari Sesi:</b><br> <%= f.select :sesd, options_for_select(hari_sesi[@ekid.tp],selected: @ekid.sesd), {include_blank: "Pilih Hari"}, required: true, style: "margin-top: 5px" %><br>
          <b>Masa Sesi:</b><br> <%= f.select :sest, options_for_select(slot_sesi[@ekid.tp],selected: @ekid.sest), {include_blank: "Pilih Masa"}, required: true, style: "margin-top: 5px" %><br>
        <% else %>
          <%= f.hidden_field :sesd, value: @ekid.sesd, style: "margin-top: 5px" %>
          <%= f.hidden_field :sest, value: @ekid.sest, style: "margin-top: 5px" %>
        <% end %>

        <% if ste == "Tamat Program" && @ekid.tp.present? %>
          <b>Tarikh Tamat Program:</b><br> <%= f.date_field :dte, value: @ekid.dte, style: "margin-top: 5px" %><br>
        <% else %>
          
        <% end %>

      <% end %>
      <%= f.hidden_field :ekid, value: @ekid.id%>
      <%= f.submit :"Kemaskini",  class: 'btn btn-sm btn-info btn-lg', style: "margin-top: 5px" %>
    <% end %>
  <% end %>
 
</div>


<%= render 'ekids/profile' %>

<% if params[:trp].blank? %>
<div style="page-break-before: always">

  <div class="table-responsive">
    <table class="table table-striped" width="100%" cellspacing="0">
      <tr>
        <td style="background-color:#0070C0 !important; color: white">PERAKUAN PEMOHON</td>
      </tr>
      <tr style="color: black; font-size: 12px;">
        <td style="background-color:#e5e5e5 !important; ">
          <p style="margin-bottom: 100px;">SAYA MENGAKU BAHAWA SEMUA PERNYATAAN YANG TERKANDUNG DI DALAM BORANG INI ADALAH BENAR DAN BETUL</p>
          <p>&nbsp&nbsp&nbsp.......................................................................</p>
          <p style="margin-top: -10px;">
            &nbsp&nbsp&nbspTANDATANGAN
            
            <font style="margin-left: 700px">TARIKH :</font>
          </p>
          <p style="margin-top: -10px;">
            &nbsp&nbsp&nbspNAMA PEMOHON: <b><%= @ekid.perse.name %></b>
          </p>
          <p style="margin-top: -10px;">
            &nbsp&nbsp&nbspNO MYKAD PEMOHON: <b><%= @ekid.perse.ic %></b>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td style="background-color:#0070C0 !important; color: white" colspan=4>PENGESAHAN TARAF MASTAUTIN</td>
      </tr>
      <tr style="color: black; font-size: 12px;">
        <td style="background-color:#e5e5e5 !important; "colspan=4>
          <p style="margin-bottom: -5px;">SAYA MENGAKU BAHAWA PEMOHON INI TELAH BERMASTAUTIN SECARA SAH SEKURANG-KURANGNYA 10 TAHUN DI NEGERI SELANGOR <b>(PERMOHONAN KELAHIRAN LUAR SELANGOR SAHAJA)</b></p>
        </td>
      </tr>

      <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
        <td style="background-color:#e5e5e5 !important; width: 35%;" rowspan=4>
          <p style="background-color:white!important; padding-bottom: 150px;" align="center">TANDATANGAN DAN COP PEGAWAI</p>
        </td>
        <td style="background-color:#e5e5e5 !important; width: %">
          NAMA PEGAWAI :
        </td>
        <td style="background-color:white !important; width: 45%">
        </td>
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          NO KP BARU :
        </td>
        <td style="background-color:white !important; width: %">
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          NO TELEFON :
        </td>
        <td style="background-color:white !important; width: %">
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          JAWATAN :
        </td>
        <td style="background-color:white !important; width: %;"></td>
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr>
        <td style="background-color:#e5e5e5 !important;" colspan="4"></td>
      </tr>
      <tr style="color: black; font-size: 13px;border: 2px solid black">
        <td style="background-color:white !important; width: 20%" colspan="" >
          <b>SENARAI JAWATAN PENGESAH:</b><br><br>
          I. AHLI PARLIMEN/SENATOR<br>
          II. ADUN/PENYELARAS ADUN<br>
          III. PENGHULU/KETUA KAMPUNG<br>
        </td>
        <td style="background-color:white !important;" colspan="3">
          <br><br>
          IV. PENGERUSI TAMAN PERUMAHAN/KETUA BLOK<br>
          VI. MASJID/PENGERUSI SURAU/KETUA TOKONG/KETUA KUIL/KETUA GEREJA/KETUA KOMUNITI<br>
        </td>
      </tr>
      
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td style="background-color:#0070C0 !important; color: white" colspan=4>DOKUMENTASI YAWAS</td>
      </tr>
      <tr style="color: black; font-size: 12px;">
        <td style="background-color:#e5e5e5 !important; "colspan=4>
          <p style="margin-bottom: -5px;">SAYA MENGAKU BAHAWA BORANG INI TELAH DITERIMA OLEH PEJABAT YAYASAN WARISAN ANAK SELANGOR</p>
        </td>
      </tr>

      <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
        <td style="background-color:#e5e5e5 !important; width: 35%;" rowspan=5>
          <p style="background-color:white!important; padding-bottom: 170px;" align="center">TANDATANGAN STAF YAWAS</p>
        </td>
        <td style="background-color:#e5e5e5 !important; width: %">
          NAMA STAF :
        </td>
        <td style="background-color:white !important; width: 40%">
        </td>
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          NO KP BARU :
        </td>
        <td style="background-color:white !important; width: %">
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          TARIKH BORANG DITERIMA :
        </td>
        <td style="background-color:white !important; width: %">
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          TARIKH PERMOHONAN :
        </td>
        <td style="background-color:white !important; width: %;"></td>
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr style="color: black; font-size: 13px;">
        <td style="background-color:#e5e5e5 !important; width: %">
          NO RUJUKAN YAWAS :
        </td>
        <td style="background-color:white !important; width: %;"></td>
        <td style="background-color:#e5e5e5 !important; width: 2%"></td>
      </tr>

      <tr>
        <td style="background-color:#e5e5e5 !important;" colspan="4"></td>
      </tr>
      
    </table>
  </div>

</div>
<% end %>




<% link_to "MUAT TURUN", ekidpdf_path(id: params[:id], format: :pdf), class: "btn btn-sm btn-info" %><br><br>

