<meta name="viewport" content="width=1024">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Paparan Admin <b>Pusat ANIS</b></b>
  </li>&nbsp&nbsp
  <%= link_to laporan_path(format: :xlsx, prg: "PUSAT ANIS"), class: "badge badge-success shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
        <i class="fa fa-sync"></i> Muat Turun Laporan
    <% end %>
</ol>



<!-- DASHBOARD SUMMARY -->
<div class="row">
  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-primary shadow h-100 py-2" >
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">JUMLAH PENDAFTARAN</div>
            <a href="<%= ekidindex_url(sch_str: params[:sch_str],sch_fld: params[:sch_fld],phs: params[:phs],yr: params[:yr], showl: true) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekid_all.count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-spinner fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<%  
  color = ["warning","success","danger","primary"] 
  cnt=0 
  @phs.each do |arr|
%>
  <div class="col-3" style="margin-bottom: 10px;">
    <div class="card border-left-<%= color[cnt] %> shadow h-100 py-2" >
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-<%= color[cnt] %> text-uppercase mb-1"><%= arr.upcase %></div>
            <a href="<%= ekidindex_url(phs: arr,yr: params[:yr], showl: true, sch: true) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekid_all.where(phs: arr).count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-spinner fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
<% 
  if cnt < 3
    cnt = cnt + 1
  else
    cnt = 0
  end
  end 
%>

  

  


</div>

<!-- TABLE -->

<%= link_to ekidlistxls_path(format: :xlsx, sch_fld: params[:sch_fld], sch: params[:sch], sch_str: params[:sch_str], yr: params[:yr]), class: "badge badge-info shadow-sm", style: "font-size: 16px; font-weight: normal; margin-top: 5px" do %>
  <i class="fa fa-file-excel"></i> Muat Turun Senarai
<% end %>

<%= link_to "Permohonan Dipadam (#{Ekid.where(del: true).count})", vwadmbin_path, class: "badge badge badge-danger", style: "font-size: 16px; font-weight: normal; margin-top: 5px" %><br>

<div class="cards shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag ekidindex_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Nama atau MyKid", style: 'text-transform: uppercase' %>
        <%= select_tag :sch_fld, options_for_select(["PLAYSCHOOL ANIS","INTERVENSI ANIS", "PRASEKOLAH ANIS"], params[:sch_fld]),
              include_blank: "Semua Program" %>
        <%= select_tag :phs, options_for_select(@phs, params[:phs]),
              include_blank: "Semua Status" %>
        <%= select_tag :yr, options_for_select((2021..Date.today.year).to_a, params[:yr]),
              include_blank: "Semua Tahun" %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>
        <%= link_to ekidindex_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Semula
        <% end %>
        <%= "#{@ekids.count} carian" %><br>
        <%= link_to ekidindex_path(sch_str: params[:sch_str], sch_fld: params[:sch_fld], phs: params[:phs],yr: params[:yr], showl: true, sch: params[:sch]), class: "badge badge-primary shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Lihat Senarai
        <% end %>
      <% end %>
    </div>

        
      </div>
    </div>
  </div>

  <div class="card-body"><% if params[:showl].present? || params[:sch_str].present? %>


    
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 12%">NO SIRI (JENIS PROGRAM)</th>
            <th style="background-color:#ffb2b2">MAKLUMAT ANAK</th>
            <th style="background-color:#ffb2b2">MAKLUMAT PEMOHON</th>
            <!-- <th style="background-color:#ffb2b2">PROGRAM</th> -->
            <th style="background-color:#ffb2b2; width: 30%">MAKLUMAT TAMBAHAN</th>
            <th style="background-color:#ffb2b2; width: 18%">STATUS</th>
            <th style="background-color:#ffb2b2; width: 20%">TARIKH</th>
          </tr>
        </thead>
        <tbody>
          <% @ekids.order('created_at DESC').each do |ek|; perse = ek.perse %>
          <tr>
            <td>
              <a href="<%= ekidconf_url(id: ek.id)%>" target="_blank">PPN-<%= ek.id.to_s.rjust(5, '0') %></a><br>
              (<%= ek.tp %>)<br>
              <%= link_to "Kemaskini Profil", edit_ekid_path(id: ek.id, perse: ek.perse.id), class: "badge badge-pill badge-warning", target: "_blank" %><br>
              <%= link_to "Padam", admbin_path(id: ek.id, del: 1), class: "badge badge-pill badge-danger" %><br>

              <% if ek.ekrps.count > 0 %>
                <br>
                <%= link_to "Lihat Senarai Laporan", ekrpls_path(ekid: ek.id), class: "badge badge-pill badge-success", target: "_blank"%>
              <% end %>
            </td>
            <td>
              <%= ek.name %><br>
              (<%= ek.ic %>)<br>
              
              <%
                image = ek.fotos.where(foto_name: "DIAGNOSIS").first
                if image.present? && image.picture.present?
                  url = image.picture.url
                else
                  url = ""
                end
              %>
              <a href="<%= url %>" target="_blank" download><btn class="badge badge-pill badge-secondary">Borang Diagnosis</btn></a>
            </td>
            <td>
              <%= perse.name %><br>
              <%= perse.ph %><br>
              <%= perse.email %><br>
            </td>
            
            <td>
              <%
                age = (Date.today.year*12+Date.today.month) - (ek.dob.year*12+ek.dob.month)
                yr = age/12
                mth = age - yr*12
        
              %>
              <b>Kategori: </b><%= ek.prbtp %><br>
              <b>Umur: </b><%= "#{yr} tahun, #{mth} bulan" %><br>
              <b>Pendapatan: </b><%= ek.pinc %>
            </td>
            <!-- <td>
              <%
                if ek.stat.present?
                  stat_sr = "Tidak Aktif"
                  clr = "danger"
                  staturl = ""
                else
                  stat_sr = "Aktif"
                  clr = "success"
                  staturl = "TIDAK AKTIF"
                end 
              %>
              <btn class="btn btn-sm btn-block btn-<%= clr %>"><%= stat_sr %></btn>
              <a href="<%= ekstat_url(id: ek.id, stat: staturl) %>"><btn class="badge badge-pill badge-secondary">Ubah Status</btn></a>
            </td> -->
            <td>
              <%= link_to ek.stat, "#", class: "btn btn-block btn-success", style: "margin-bottom: -20px; font-size: 15px"%><br>
              <%= link_to ek.phs, "#", class: "badge badge-pill badge-primary" %><br>
              <b>Maklumat Admin:</b><br>
              <%= ek.descr %><br>
              <% upd = ek.admupd.last %>
              <% if upd.present? %>
                <b><%= Admin.find(upd[1]).username %></b> (<%= upd[0].strftime('%d-%^b-%y') %>)<br>
                <%= link_to "Sejarah Kemaskini Admin", admhist_path(id: ek.id), target: "_blank" %><br>
              <% end %>
            </td>

            <td>
              <b>Kemaskini</b> :<%= ek.updated_at.strftime('%d-%^b-%y') %><br>
              <b>Permohonan</b> :<%= ek.created_at.strftime('%d-%^b-%y') %><br>   
              <b>Penilaian</b> :<%= ek.dtp.strftime('%d-%^b-%y') unless ek.dtp.blank? %><br>   
              <b>Mula</b> :<%= ek.dts.strftime('%d-%^b-%y') unless ek.dts.blank? %><br>   
              <b>Tamat</b> :<%= ek.dte.strftime('%d-%^b-%y') unless ek.dte.blank? %><br>   
              <b>Hari Sesi</b> :<%= ek.sesd %><br>  
              <b>Masa Sesi</b> :<%= ek.sest %><br> 
            </td>
          </tr>

          <% end %> <!-- END LOOP -->

        </tbody>
        
      </table>
    </div>
  </div><% end %>
</div>


