<meta name="viewport" content="width=1024">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Paparan Admin <b>PUSPANIS</b></b>
  </li>
</ol>

<!-- DASHBOARD SUMMARY -->
<div class="row">

  <div class="col-3">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">AKTIF</div>
            <a href="<%= lsddk_url(sch: true, stat: 3) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekids.where(stat: "Aktif").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-thumbs-up fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">TIDAK AKTIF</div>
            <a href="<%= lsddk_url(sch: true, stat: 4) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekids.where(stat: "Ditolak").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-exclamation-circle fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SARINGAN</div>
            <a href="<%= lsddk_url(sch: true, stat: 1) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekids.where(stat: nil).count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-plus fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">TERAPI</div>
            <a href="<%= lsddk_url(sch: true, stat: 2) %>"><div class="h5 mb-0 font-weight-bold text-gray-800"><%= @ekids.where(stat: "Tidak Lengkap").count %></div></a>
          </div>
          <div class="col-auto">
            <i class="fa fa-spinner fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  


</div>

<!-- TABLE -->
<br>
<div class="cards shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag ekidindex_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Masukkan Nama", style: 'text-transform: uppercase' %>
        <%= select_tag :sch_fld, options_for_select(["SARINGAN ANIS", "TERAPI ANIS"], params[:sch_fld]),
              include_blank: "Semua Program" %>
        <%= hidden_field_tag :stat, params[:stat], value: params[:stat] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>
        <%= link_to ekidindex_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Semula
        <% end %>
        <%= "#{@ekids.count} carian" unless params[:sch].blank? %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 12%">NO SIRI</th>
            <th style="background-color:#ffb2b2">MAKLUMAT ANAK</th>
            <th style="background-color:#ffb2b2">MAKLUMAT PEMOHON</th>
            <th style="background-color:#ffb2b2">PROGRAM</th>
            <th style="background-color:#ffb2b2; width: 18%">STATUS</th>
            <th style="background-color:#ffb2b2">TARIKH PERMOHONAN</th>
          </tr>
        </thead>
        <tbody>
          <% @ekids.order('created_at DESC').each do |ek|; perse = ek.perse %>
          <tr>
            <td>
              <a href="#" target="_blank">PPN-<%= ek.id.to_s.rjust(4, '0') %></a>
            </td>
            <td>
              <%= ek.name %><br>
              (<%= ek.ic %>)
            </td>
            <td>
              <%= perse.name %><br>
              <%= perse.ph %><br>
              <%= perse.email %><br>
            </td>
            <td>
              <%= ek.tp %>
            </td>
            <td>
              <%
                if ek.stat.present?
                  stat_sr = "Tidak Aktif"
                  clr = "danger"
                  staturl = ""
                else
                  stat_sr = "Aktif"
                  clr = "success"
                  staturl = "TIDAK AKTIF"
                end 
              %>
              <btn class="btn btn-sm btn-block btn-<%= clr %>"><%= stat_sr %></btn>
              <a href="<%= ekstat_url(id: ek.id, stat: staturl) %>"><btn class="badge badge-pill badge-secondary">Ubah Status</btn></a>
            </td>
            <td><%= ek.created_at.strftime('%d-%^b-%y') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

