<div style="background-color: #2894f4; text-align: center; margin-top: 5px">
  <h5 style="color: white">BORANG PROFIL INSTITUSI/BADAN KEBAJIKAN DIDIK ANIS</h5>
</div>
<h6 style="font-weight: 600; color: black">Nama Wakil Agensi: <%= @perse.name %></h6>
<div style=" margin-bottom: 10px">
  <a style="color: red">*</a> <a style="font-size: 15px;">Wajib Diisi</a>
</div>

<div class='row container'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@ddk, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA PEMOHON (WAKIL INSTITUSI)</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :coname, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase", readonly: true, value: @perse.name %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JAWATAN PEMOHON (WAKIL INSTITUSI)<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :jawatanwakil, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase", readonly: false %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- HOUSEHOLD MONTHLY INCOME (RM) -->
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <strong>JENIS INSTITUSI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <%= f.select :agtp, options_for_select(["Pusat Early Intervention Programme (EIP)",
                                                    "Pusat Pembangunan OKU",
                                                    "Program Pemulihan Dalam Komuniti (PPDK)",
                                                ], 
                                                selected: @ddk.agtp), 
          {include_blank: "Pilih Satu"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA INSTITUSI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :coname, class: "form-control", placeholder: "", autofocus: true, required: true, style: "text-transform: uppercase", readonly: false %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO SSM/ROS<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :conum, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TAHUN PENDAFTARAN INSTITUSI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.number_field :regyr, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT INSTITUSI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_area :addr, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group"> <!-- alamat -->
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>POSKOD<a style="color: red">*</a></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= f.text_field :posk, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group"> <!-- alamat -->
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NEGERI<a style="color: red">*</a></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= f.text_field :state, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row">
        <div class="col-6">
          <div class="form-group"> <!-- alamat -->
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>EMEL INSTITUSI<a style="color: red">*</a></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= f.email_field :email, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group"> <!-- alamat -->
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NO TELEFON INSTITUSI<a style="color: red">*</a></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= f.text_field :ph, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- 
      <div style="background-color: #e4bfbf; text-align: center; margin-bottom: 15px">
        <h8 style="color: black;">Kategori Pelajar Oku Yang Didaftar Dibawah Agensi</h8>
        <i style="color:black; size: 5px">(Nyatakan Diagnosis)</i>
      </div>

      <div class="table-responsive border" style="font-size: 12px">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead style="text-align: center">
            <tr class="shadow">
              <th style="background-color:#7fbf7f;color:black; width: 30%">KATEGORI OKU</th>
              <th style="background-color:#7fbf7f;color:black">JENIS DIAGNOSIS</th>
            </tr>
          </thead>
          <tbody style="color: black">
            <tr>
              <td>Masalah Pembelajaran</td>
              <td>
                <%= f.text_area :mpemb, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Penglihatan</td>
              <td>
                <%= f.text_area :mpeng, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Pendengaran</td>
              <td>
                <%= f.text_area :mpend, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Pertuturan</td>
              <td>
                <%= f.text_area :mpert, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Fizikal</td>
              <td>
                <%= f.text_area :mfiz, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Mental</td>
              <td>
                <%= f.text_area :mmen, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            <tr>
              <td>Masalah Pelbagai</td>
              <td>
                <%= f.text_area :mpelb, class: "form-control", placeholder: "", autofocus: true, style: "font-size: 12px" %>
              </td>
            </tr>
            
          </tbody>

        </table>
      </div> 
       -->

      <div style="background-color: #e4bfbf; text-align: center; margin-bottom: 15px; margin-top: 15px">
        <h8 style="color: black;">Maklumat Institusi</h8>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>BIL KAKITANGAN PENTADBIRAN<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.number_field :stafct, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>BIL JURUTERAPI/PEGAWAI PSIKOLOGI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.number_field :bilterapi, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>BIL GURU<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.number_field :tchct, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>BIL PELAJAR OKU<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.number_field :okuct, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>SALINAN SIJIL AKADEMIK KAKITANGAN INSTITUSI<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ddk.fotos.where(foto_name: "SIJILSTAFF").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "SIJILSTAFF" %>
                    <%= h.file_field :picture, accept: 'application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>*Hanya format PDF sahaja diterima</i><br>
        <i>**Bilangan salinan sijil akademik yang dimuatnaik mestilah sama dengan jumlah bilangan kakitangan yang dinyatakan diatas</i>
      </div>

      

      <!-- <div class="form-group">
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>MODUL YANG DILAKSANAKAN<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_area :mdl, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div> -->

      <div style="background-color: #e4bfbf; text-align: center; margin-bottom: 15px; margin-top: 15px">
        <h8 style="color: black;">Maklumat Akaun Bank</h8>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>NAMA AKAUN BANK<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :accname, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>NO AKAUN BANK<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.number_field :accno, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- alamat -->
        <div class="row">
          <div class="control-label col-sm-12">
            <strong>NAMA BANK/INSTITUSI KEWANGAN<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :accbank, class: "form-control", placeholder: "", autofocus: true, required: true, style: "" %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>SALINAN PENYATA AKAUN BANK<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ddk.fotos.where(foto_name: "BANKDDK").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "BANKDDK" %>
                    <%= h.file_field :picture, accept: 'application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i>
      </div>

      <div style="background-color: #e4bfbf; text-align: center; margin-bottom: 15px; margin-top: 15px">
        <h8 style="color: black;">Maklumat Program Yang Akan Dijalankan</h8>
      </div>

      <a style="font-size: 15px;"><i>PROGRAM YANG DIJALANKAN MESTILAH BERASASKAN PROGRAM KHIDMAT MASYARAKAT</i></a><br><br>

      <a style="font-size: 15px; color: green">CONTOH PROGRAM YANG DIBENARKAN:</a> 
      <a style="font-size: 13px;"><ul>
        <li>KURSUS LATIHAN GURU</li>
        <li>SEMINAR IBU BAPA</li>
        <li>BENGKEL ATAU FORUM (TOPIK BERKAITAN ANAK ISTIMEWA)</li>
      </ul></a>
      
      <a style="font-size: 15px; color: red">CONTOH PROGRAM YANG TIDAK DIBENARKAN:</a> 
      <a style="font-size: 13px;"><ul>
        <li>MAJLIS HI-TEA</li>
        <li>MAJLIS MAKAN MALAM</li>
        <li>JAMUAN AKHIR TAHUN</li>
        <li>MAJLIS GRADUASI</li>
        <li>TEAM BUILDING</li>
        <li>HARI KELUARGA</li>
        <li>SAMBUTAN PERAYAAN PERINGKAT INSTITUSI</li>
      </ul></a>

      <div class="form-group"> 
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <strong>PILIHAN PROGRAM (SILA PILIH SATU PAKEJ SAHAJA)<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <%= f.select :progt, options_for_select(["Pakej A (Program Skala Kecil - Maksima RM5,000)",
                                                    "Pakej B (Program Skala Besar - Maksima RM10,000)",
                                                ], 
                                                selected: @ddk.progt), 
          {include_blank: "Pilih Satu"}, {required: true} %>
          </div>
        </div>
      </div>




      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fa fa-cloud-upload-alt"></i><strong>SALINAN KERTAS KERJA PROGRAM<a style="color: red">*</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ddk.fotos.where(foto_name: "PROGPAPER").first %>
            <%  if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "PROGPAPER" %>
                    <%= h.file_field :picture, accept: 'application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <i>Wajib Disertakan</i><br>
        <i>**Contoh Salinan Kertas Kerja Boleh Dimuaturun <a href="<%= image_path('template_didik_anis.pdf')%>" download="Template Didik ANIS">disini</a></i>
      </div>

            
      
      <%= f.hidden_field :stat, value: @ddk.stat %>
      <%= f.hidden_field :statrs, value: @ddk.statrs %>
      <%= f.hidden_field :perse_id, value: @perse.id %>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :Hantar,  class: 'btn btn-success btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
    
  </div>
</div>