<meta name="viewport" content="width=768">

  <%= link_to "Kembali Ke Profil", perse_path(@perse, flg: true), class: "badge badge-pill badge-success", style: "font-size: 12px; margin-top: 10px" %>
  <%= link_to "Kemaskini Borang", edit_ddk_path(@ddk), class: "badge badge-pill badge-warning", style: "font-size: 12px; margin-top: 10px" %>
  <%= link_to "Versi PDF", prtddk_path(id: @ddk.id), class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px" %><br>

  <% 
    arr = $ddkstat[@ddk.stat]
    clr = arr[0]
    stat = arr[1]
    desc = arr[2]
  %>

  <%= link_to "#{stat}", "#", class: "btn btn-sm btn-#{clr} btn-block", style: "font-size: 15px; margin-top: 5px; font-weight: 700" %>
  <p style="margin-bottom: -10px; color: red; font-size: 10px">* <%= desc%></p>

  <%= render 'ddks/prt-form'%>

</meta>