<%= link_to "Kembali Ke Profil", perse_path(@perse, flg: true), class: "badge badge-pill badge-success", style: "font-size: 12px; margin-top: 10px" %>
<%= link_to "Kemaskini Borang", edit_ddk_path(@ddk), class: "badge badge-pill badge-warning", style: "font-size: 12px; margin-top: 10px" %>
<%= link_to "Cetak Borang", edit_ddk_path(@ddk), class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px" %><br>

<%= link_to "STATUS BORANG", "#", class: "btn btn-sm btn-success btn-block", style: "font-size: 10px; margin-top: 5px; font-weight: 700" %>

<div class="table-responsive borders" style="font-size: 12px; margin-top: 10px">
  <table class="table table-bordered shadow" id="dataTable" width="100%" cellspacing="0">
    <tbody style="color: black">

      <tr>
        <td colspan=1>
          Logo ANIS
        </td>
        <td colspan=3><h5 style="text-align: center; color: blue">
          BORANG PROFIL INSTITUSI/BADAN KEBAJIKAN DIDIK ANIS (AGENSI)
        </h5></td>
      </tr>

      <tr>
        <td style="width: 20%" colspan=1><b>Nama Agensi</b></td>
        <td colspan=3>
          <%= @ddk.coname %>
        </td>
      </tr>

      <tr>
        <td><b>Poskod</b></td>
        <td><%= @ddk.posk %></td>
        <td style="width: 20%"><b>Negeri</b></td>
        <td>dsjkhdks</td>
      </tr>

    </tbody> 
  </table>
</div>