<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">BANTUAN KHAS OKU KITA SELANGOR 2.0</h1>
    </div>
  </div>

</header>



<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan OKU KITA Selangor 2.0 Akan Dibuka Pada 1 Julai 2021</p>
  <p style="text-align: center; color: black">Tempoh Permohonan : 1 - 31 Julai 2021</p>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anisPic/bantuanoku.png')%>" style="width: 100%;margin-bottom: 10px;margin-top: 10px"></img>
      <img src="<%= image_path('anisPic/permohonan-oku.png')%>" style="width: 100%;margin-bottom: 10px"></img>
      <img src="<%= image_path('anisPic/modus-oku.png')%>" style="width: 100%;margin-bottom: 10px"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">

            <p>Pakej KITA SELANGOR 2.0 yang telah diumumkan oleh YAB Dato’ Menteri Besar Selangor pada 9 Jun 2021 yang lalu telah memperuntukkan bantuan sebanyak RM600,000 bagi golongan Orang Kurang Upaya (OKU) di Negeri Selangor. Bantuan Khas ini akan diberikan secara one-off sebanyak RM 500.00 kepada setiap pemohon yang diluluskan permohonan dan memenuhi syarat kelayakan yang ditetapkan. Sasaran sebanyak 1,200 permohonan yang layak.</p>

            <p>Objektif Utama Bantuan OKU KITA Selangor 2.0 adalah:
              <ol>
                <li>Membantu golongan OKU berumur 18 tahun dan ke atas yang terjejas sumber pendapatan akibat pandemik Covid-19 sama ada kehilangan pekerjaan tetap ataupun hilang punca pendapatan (bagi yang berniaga).</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia</li>
              <li>Pemohon mestilah berumur <b>18 tahun dan ke atas</b></li>
              <li>Had maksima pendapatan isi rumah sebanyak RM 3,000.00 sahaja</li>
              <li>Pemegang Kad OKU JKM Selangor</li>
              <li>OKU yang <b>terjejas sumber pendapatan</b> akibat Pandemik Covid-19</li>
              <li>Merupakan anak kelahiran Selangor dan menetap di Negeri Selangor ; <b>ATAU</b>
              <li>Pemastautin di Negeri Selangor melebihi 10 tahun</li>
              <li>Permohonan bantuan ini adalah terhad kepada <b>1 pemohon untuk 1 keluarga</b></li>


            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3-i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Maklumat Penting Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3-i">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Had bantuan bagi setiap pemohon adalah <b>berjumlah RM500.00</b> bersifat <b><i>one-off</i></b> bagi setiap permohonan yang berjaya. </li>
            </ol>
            

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: left">
            <ol>
              <li>Salinan Kad Pengenalan pemohon</li>
              <li>Salinan Kad OKU JKM yang berdaftar di Selangor</li>
              <li>Salinan pengesahan majikan (jika diberhentikan, dipotong gaji atau semisal dengannya)</li>
              <li>Salinan slip gaji terakhir.</li>
              <li>Atau <b>surat pengesahan pendapatan</b> bagi yang tidak mempunyai pendapatan tetap (*Pengesahan boleh dibuat melalui ADUN / Ahli Parlimen / Ketua Kampung / Penghulu / Ketua Taman Perumahan / Ketua Masyarakat)</li>
              <li>Salinan penyata akaun bank (tertera Bank, nama penuh dan nombor akaun sahaja)</li>


            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang<br> <a href="https://www.anisselangor.com/bantuanOKU">https://www.anisselangor.com/bantuanOKU</a></li>
              <li>Borang permohonan hendaklah dicetak dan dihantar bersama dengan dokumen yang lengkap dalam <b>tempoh 14 hari bekerja dari tarikh permohonan.</b></li>
              <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
              <li>Borang permohonan dan dokumen boleh dihantar melalui salah satu kaedah seperti berikut:
                <ol type="a">
                  <li>Penghantaran melalui emel di okudaftar@gmail.com ; <b>ATAU</b></li>
                  <li>Hantar ke pejabat Yayasan Warisan Anak Selangor (YAWAS) di alamat:</li>
                </ol>
                <p align="center" style="margin-top: 10px">
                  <b>Yayasan Warisan Anak Selangor</b><br>
                  Aras 5,Kompleks Generasi Muda & Sukan Negeri Selangor,<br>
                  Lot 4, Jalan Platinum 7/52,<br>
                  Seksyen 7, Persiaran Kayangan,<br>
                  40000 Shah Alam, Selangor.<br>
                  Talian Hotline : 03-5481 8800
              </p>
              </li>
            </ol>


          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4ii" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Senarai Dokumen Yang Perlu Di Muat Turun</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4ii">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Borang Permohonan</li>
              <li>Senarai semak dokumen</li>
              <li>Surat pengesahan pendapatan</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Pembayaran Bantuan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Pembayaran akan dibuat secara terus melalui EFT (Electronic Fund Transfer) ke akaun pemohon yang layak.</li> 
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Modus Operandi Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Skim Bantuan Bantuan OKU KITA Selangor 2.0</b>
              <img src="<%= image_path('anisPic/flow-bantuanoku.png')%>" style="width: 100%"></img>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b>Saya mempunyai 2 orang anak OKU, bolehkah saya memohon untuk kedua-dua anak saya</p>
                <p><b>Jawapan: </b>Tidak Boleh. Bantuan ini terhad kepada 1 keluarga untuk 1 pemohon.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Anak saya menghidap autism tetapi tiada Kad OKU daripada JKM, bolehkah saya memohon?</p>
                <p><b>Jawapan: </b>Tidak Boleh. Pemohon mestilah mempunyai Kad OKU dari JKM.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Anak saya OKU dan berusia 19 tahun, bolehkah saya memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Boleh. Permohonan dibuka untuk usia 18 tahun dan ke atas sahaja.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Dimanakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Permohonan hanya boleh dibuat secara atas talian sahaja <a href="https://www.anisselangor.com/bantuanOKU<">www.anisselangor.com/bantuanOKU</a>   Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Rumah saya jauh daripada Shah Alam. Dimanakah pejabat terdekat boleh saya hantar borang permohonan dan dokumen yang diperlukan?</p>
                <p><b>Jawapan: </b>Borang permohonan boleh di emelkan ke okudaftar@gmail.com</p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. </p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya dan isteri lahir di Selangor tetapi menetap di Perak, bolehkah saya memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak boleh. Pemohon mesti menetap di Selangor sahaja.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap?</p>
                <p><b>Jawapan: </b>TIDAK. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya merupakan OKU Pembelajaran dan tidak pernah bekerja sebelum ini. Adakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak Boleh kerana tidak memenuhi syarat kelayakan. Bantuan OKU ini khas kepada mereka yang terjejas pendapatan akibat pandemik Covid-19 ini samada dipecat, dipotong gaji atau semaksud dengannya.</p>
              </li>

              
            </ol>
          </div>
        </div>
      </div>


      <% if 1==0 %>
      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll7" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Carta Aliran Kerja</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll7">
          <div class="card-body"  style="text-align: justify">
            <p style="text-align: center">
              <b>CARTA ALIRAN KERJA BAGI PROGRAM BANTUAN OKU KITA SELANGOR 2.0</b>
              <img src="<%= image_path('anisPic/work-bantuanoku.png')%>" style="width: 100%"></img>
            </p>
            
          </div>
        </div>
      </div>
      <% end %>

      <%= link_to "Permohonan Baru", "https://bantuanoku.yawas.my/admin/online.php", class: "btn btn-sm btn-success btn-block"%>

      <%= link_to "Semakan Permohonan", "https://bantuanoku.yawas.my/admin/semakan_online.php", class: "btn btn-sm btn-info btn-block"%>

      <%= link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>







