<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Bantuan ANIS</h1>
    </div>
  </div>

</header>

<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan ANIS Telah Dibuka</p>
  <p style="text-align: center; color: black">Tarikh Pendaftaran Bermula Dari 17 Hingga 31 Mei 2022</p>
</div>

<% if 1==1 %>
<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Bantuan ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">

            <p>Program bantuan Anak Istimewa Selangor atau dengan singkatan nama ANIS telah dilaksanakan bermula pada tahun 2019.</p>

            <p>Bantuan khas ini dibuka kepada pemohon yang mempunyai tanggungan anak OKU dengan tujuan untuk mengurangkan bebanan kos perbelanjaan dalam menguruskan anak-anak OKU.</p>

            <p>YAWAS mempelawa pemohon yang berkelayakan untuk memohon bantuan ANIS bagi mendapatkan manfaat bersifat <i>one-off</i> dengan jumlah maksima sehingga RM 5,000.00 setahun bagi satu isi keluarga.</p>

            <p>Objektif Utama Bantuan ANIS adalah:
              <ol>
                <li>Membantu meringankan tanggungan kos terapi, pemulihan, pendidikan dan sara hidup diwaktu kecemasan (makanan tambahan/ubat-ubatan) bagi anak-anak OKU yang ditanggung oleh ibu bapa/penjaga yang memohon.</li>
                <li>Membantu mengurangkan beban ibu bapa/ penjaga anak-anak OKU yang ingin membeli peralatan khas / mesin bagi tujuan pemulihan anak-anak OKU.</li>
                <li>Penerima manfaat adalah ibu bapa/penjaga kepada OKU yang berdaftar dan mempunyai kad OKU yang dikeluarkan oleh Jabatan Kebajikan Masyarakat (JKM).</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia; <b>DAN</b></li>
              <li>Ibu /bapa/ penjaga salah seorang <b>Pengundi Selangor</b>.</li>
              <li>Ibu / bapa/ penjaga yang mempunyai anak OKU berumur 18 ke bawah; <b>DAN</b></li>
              <li>Ibu/bapa/penjaga lahir di Negeri Selangor dan sedang menetap di Selangor; <b>ATAU</b>
              Ibu/bapa/penjaga bukan kelahiran Selangor dan sedang menetap di Selangor minimum 10 tahun (perlu mendapatkan cop pengesahan mastautin daripada pengesah yang   dibenarkan);</li> 
              <li>Anak (OKU) mempunyai Kad OKU yang dikeluarkan oleh JKM; <b>ATAU</b></li>
              <li>Surat Pengesahan Doktor (Jika tiada Kad OKU);</li>

              </ol>
              <i>*Nota:  Sekiranya penjaga merupakan ibubapa angkat maka pengangkatan hendaklah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN) dan Akta Pengangkatan 1973</i>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3-i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Jenis Bantuan Yang Diberikan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3-i">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Makanan/keperluan tambahan*</li>
              <li>Pembelian/Pembaikian peralatan/mesin*</li>
              <li>Ubat-ubatan*</li>
              <li>Pendidikan (Terapi / Kelas Khas untuk anak OKU)</li>
            </ol>
            <i>* berdasarkan preskripsi doktor sahaja</i>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Salinan Kad Pengenalan pemohon.</li>
              <li>Salinan Kad Pengenalan pasangan.</li>
              <li>Salinan Sijil Daftar / Kad Nikah Ibu Bapa Anak OKU.</li>
              <li>Salinan Surat Perakuan Anak Angkat (jika berkenaan).</li>
              <li>Salinan Kad Pengenalan Anak OKU.</li>
              <li>Salinan Kad OKU dari JKM, atau surat pengesahan doktor berkaitan dengan masalah anak. (Jika tiada kad OKU)</li>
              <li>Cop Pengesahan Mastautin yang disahkan pada borang permohonan (Rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan sahaja)</li>
              <li>Salinan preskripsi doktor dengan spesifikasi khusus (Tertakluk bagi makanan, keperluan khusus, pembelian peralatan/mesin dan ubat-ubatan yang disarankan oleh doktor)</li>
              <li>Salinan surat tawaran pusat pembelajaran, sebutharga yuran pembelajaran, dan penyata bank pusat pembelajaran. (Tertakluk bagi kategori pendidikan khas/sesi terapi untuk anak OKU)</li>
              <li>Salinan Semakan daftar Pemilih SPR <a href="https://pengundi.spr.gov.my">https://pengundi.spr.gov.my</a></li> 

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
            <li>Pemohon hendaklah membuat permohonan diatas talian di laman sesawang <br><b>https://www.anisselangor.com/bantuananis</b></li>
            <li>Pemohon diminta isi borang permohonan dan lampirkan bersama dokumen sokongan seperti yang dinyatakan</li> 
            <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.
            Borang permohonan dan dokumen boleh di hantar di alamat seperti berikut: <br><br>
            <b>Pejabat YAWAS</b> <br>
            Aras 5 Kompleks Belia & Kebudayaan Negeri Selangor, <br>
            40000 Shah Alam, Selangor.<br><br></li>
            <li>Borang dan dokumen sokongan hendaklah dihantar mulai 17 Mei 2022 hingga 31 Mei 2022 Jam 4.00 petang </li>
            <li>Jika gagal menghantarnya sebarang rayuan tidak dilayan</li>
            <li>Sebarang pertanyaan Sila hubungi 03-55453170 / 03-55245068</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Pembayaran Bantuan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Jenis bantuan selain pendidikan seperti makanan/peralatan sokongan/keperluan khas/ubat-ubatan (mengikut saranan doktor):</li>
              <ol type="i">
                <li>Pembelian barangan tersebut akan diuruskan oleh YAWAS dimana pembelian akan dibuat melalui panel lantikan YAWAS sahaja.</li>
                <li>Barang akan dihantar ke rumah penerima atau PKM setelah permohonan diluluskan dan urusan tempahan barang dibuat kepada panel.</li>
                <li>Pembayaran dan Penghantaran barangan kepada pemohon akan dibuat pada bulan Mei dan Jun.</li>
              </ol>  

              <li>Jenis bantuan berbentuk Pendidikan/Kelas terapi khas untuk anak OKU</li>
              <ol type="i">
                <li>Pembayaran akan dibuat terus kepada pusat pendidikan/terapi yang diminta oleh pemohon.</li>
                <li>Proses pembayaran hanya akan dibuat selepas permohonan diluluskan.</li>
                <li>Pembayaran akan dibuat pada bulan Mei dan Jun.</li>
              </ol>  
            </ol>

          </div>
        </div>
      </div>

      

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b> Saya mempunyai 2 orang anak OKU, bolehkah saya memohon untuk kedua-dua anak saya?

              </p>
                 <p><b>Jawapan: </b> Boleh. Permohonan hendaklah dibuat secara berasingan. Namun jumlah bantuan yang diperuntukkan untuk satu keluarga adalah sehingga RM5,000.00 sahaja setahun.</p>
              </li>


              <li>
                <p><b>Soalan: </b>  Anak saya menghidap autism tetapi tiada Kad OKU daripada JKM, bolehkah saya memohon?

              </p>
                 <p><b>Jawapan: </b> Boleh. Lampirkan bersama salinan surat pengesahan doktor yang menyatakan anak puan mempunyai simtom tersebut sewaktu permohonan dibuat.</p>
              </li>

              <li>
                <p><b>Soalan: </b> Anak saya OKU dan berusia 19 tahun, bolehkah saya memohon bantuan ini?

              </p>
                 <p><b>Jawapan: </b> Tidak boleh. Permohonan hanya dibuka untuk anak di bawah usia 18 tahun sahaja.</p>
              </li>

              <li>
                <p><b>Soalan: </b> Dimanakah saya boleh memohon bantuan ini?

              </p>
                 <p><b>Jawapan: </b> Permohonan hanya boleh dibuat secara atas talian sahaja di www.anis.yawas.my. Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.</p>
              </li>

              <li>
                <p><b>Soalan: </b> Anak OKU saya memerlukan bantuan peralatan sokongan seperti yang disarankan oleh doktor, bolehkan saya beli di luar dan lampirkan resit untuk menampung kos bayaran tersebut?

              </p>
                 <p><b>Jawapan: </b> Tidak boleh. Pembelian peralatan hanya boleh dibuat melalui panel lantikan di bawah YAWAS sahaja. Barang akan terus dihantar kepada penerima setelah proses kelayakan diluluskan dan tempahan kepada panel selesai.</p>
              </li>


              <li>
                <p><b>Soalan: </b> Rumah saya jauh daripada Shah Alam. Dimanakah pejabat terdekat boleh saya hantar borang permohonan dan dokumen yang diperlukan?</p>
              </li>

              </p>
                 <p><b>Jawapan: </b> Permohonan boleh dihantar ke pejabat Pusat Khidmat Masyarakat DUN yang berhampiran dengan rumah tuan/puan atau boleh diemelkan ke daftaranis@gmail.com.

              <li>
                <p><b>Soalan: </b> Saya dan isteri bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon bantuan ini untuk anak OKU saya?</p>
              </li>

              </p>
                 <p><b>Jawapan: </b> Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. </p>
              </li>


              <li>
                <p><b>Soalan: </b> Saya dan isteri lahir di Selangor tetapi menetap di Perak, bolehkah saya memohon bantuan untuk anak OKU saya?

              </p>
                 <p><b>Jawapan: </b> Tidak boleh. Pemohon hendaklah sedang menetap di Selangor sahaja.</p>
              </li>


              <li>
                <p><b>Soalan: </b> Saya lahir di Perak, isteri lahir di Selangor, anak saya OKU dan kami sedang menetap di Selangor. Layakkah kami memohon bantuan ini untuk anak saya?

              </p>
                 <p><b>Jawapan: </b> Boleh.</p>
              </li>


              <li>
                <p><b>Soalan: </b> Saya dan isteri bukan kelahiran Selangor, anak OKU berumur 9 tahun, dan kami sedang menetap di Selangor sudah lebih 10 tahun. Bolehkah saya memohon?

              </p>
                 <p><b>Jawapan: </b> Boleh, namun tuan/puan perlu mendapatkan cop pengesahan mastautin di ruangan pada borang permohonan. Sila rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan.</p>
              </li>


              <li>
                <p><b>Soalan: </b>  Anak saya OKU dan memerlukan bantuan makanan khusus seperti yang disarankan oleh doktor dan juga sesi terapi khas di pusat terapi tertentu. Bolehkah saya memohon untuk 2 jenis bantuan tersebut?

              </p>
                 <p><b>Jawapan: </b> Boleh. Sila rujuk senarai dokumen yang diperlukan dan lampirkan bersama sewaktu permohonan dibuat kelak. Adalah diingatkan jumlah maksima bantuan adalah sehingga RM 5,000.00 sahaja. YAWAS tidak bertanggungjawab membayar lebihan kos sekiranya ia melebihi jumlah yang ditetapkan.</p>
              </li>

              <li>
                <p><b>Soalan: </b> adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap

                </p>
                 <p><b>Jawapan: </b> TIDAK. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>
              
            </ol>


          </div>
        </div>





      </div>

     <%= link_to "Semak Status Permohonan", "https://anis.yawas.my/k_anis/anis/semakan.php", class: "btn btn-sm btn-success btn-block"%> 
     <%= link_to "Muat Turun Borang Permohonan", btnoku_path, class: "btn btn-sm btn-danger btn-block", target: "_blank"%> 
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      <% link_to "Log Masuk Admin", "https://anis.yawas.my/k_anis/login.php", class: "btn btn-sm btn-primary btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anisPic/poster-bantuan-1.png')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>

<!-- PENCAPAIN ANIS -->

<% if 1==0 %><div class="bg-white container" style="margin-bottom: 20px">
  <div class="section-header container bg-white" style="margin-top: 30px">
    <h3 style="">PENCAPAIAN BANTUAN KHAS ANIS</h3>
    <div class="border-prog" style=""></div>
    <p style="text-align: center; color: black">Jumlah Permohonan</p>
  </div>

  <div id="perf" class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
      <p>Jumlah Permohonan</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
      <p>Jumlah Penerima</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
      <p>Peruntukan Digunakan</p>
      <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
    </div>
    

  </div> <!-- row -->
</div><% end %> <!-- container -->
<% end %>



