<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Didik ANIS</h1>
    </div>
  </div>

</header>

<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan Didik ANIS Akan Dibuka</p>
  <!-- <p style="text-align: center; color: black">Daftar Dan Hantar Dokumen Sokongan Selewatnya pada 30 April 2021</p> -->
  <p style="text-align: center; color: black">Tarikh Pendaftaran Akan Diumumkan Tidak Lama Lagi</p> 
  <% if Date.today > Date.new(2021,04,30) %>
    <!-- <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div> -->
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Didik ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Program Bantuan Didik Anak Istimewa Selangor (ANIS) telah dilaksanakan bermula pada tahun 2017.</p>
            <p>Bantuan Didik ANIS ini terbuka kepada semua Institusi Pendidikan Anak Istimewa dan Program Pemulihan Dalam Komuniti (PDK) berdaftar yang menjalankan Early Intervention Program (EIP) atau Program Intervensi Awal untuk  kanak-kanak berkeperluan khas di Selangor sahaja. Peruntukan Bantuan Didik ANIS ini diberikan secara <i>one-off</i> kepada pemohon.</p>
            <p>Permohonan bantuan Didik ANIS dibuat oleh pemohon dengan mengisi dan menghantar borang permohonan beserta dokumen sokongan di laman web ANIS</p>
            <p>Objektif Utama Didik ANIS adalah:
              <ol>
                <li>Membantu Institusi Pendidikan Anak Istimewa yang menjalankan <i>Early Intervention Programme</i> (EIP) di negeri Selangor.</li>
                <li>Memberi peluang pada Institusi Pendidikan Anak Istimewa agar dapat menaiktaraf keperluan di pusat tersebut</li>
                <li>Membantu anak istimewa di Selangor untuk menerima <i>Early Intervention Programme</i> (EIP) dengan lebih berkesan dan sistematik.</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
                <li>Terbuka kepada semua Institusi Pendidikan Anak Istimewa dan Program Pemulihan Dalam Komuniti (PDK) berdaftar yang menjalankan Early Intervention Program (EIP) untuk kanak-kanak berkeperluan khas di Selangor sahaja.</li>
                <li>Melengkapkan permohonan dan melampirkan dokumen sokongan.</li>
              </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Borang Profil lengkap Institusi Pendidikan Anak Istimewa (borang yang diisi di website)</li>
              <li>Salinan sijil pendaftaran pertubuhan/sijil pendaftaran dengan undang-undang tubuh yang disahkan oleh Pendaftar Pertubuhan/ Suruhanjaya Syarikat Malaysia (SSM).</li>
              <li>Senarai nama dan sijil petugas Institusi.</li>
              <li>Senarai nama pelatih/kanak-kanak beserta umur, nombor kad pengenalan dan jenis kecacatan/kurang upaya/permasalahan.</li>
              <li>Salinan penyata bank terkini.</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
            <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang<br> <a href="">www.anisselangor.com/didikanis</a></li>
            <li>Pemohon diminta untuk muat turun borang yang diisi di website dan lampirkan bersama dokumen sokongan seperti yang dinyatakan</li>
            <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
            <li>
              Borang permohonan dan dokumen boleh dihantar secara fizikal di alamat berikut: <br><br><i>
              Pusat ANIS, East Entrance, Lot G26-28 , <br>
              Tingkat G Bangunan IDCC, <br>
              Jalan Pahat L 15/L, Seksyen 15,<br>
              40200 Shah Alam, Selangor</i>
            </li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Pembayaran Bantuan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <p>Pembayaran akan dibuat terus ke akaun agensi yang memohon</p>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Bantuan ANIS</b>
              <img src="<%= image_path('anisPic/Didik-Anis-Flow.png')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan saya pernah menerima bantuan ini. Adakah masih layak untuk memohon bantuan ini lagi pada tahun ini?</p>
                <p><b>Jawapan: </b>Boleh. Permohonan yang lengkap dan memenuhi syarat adalah layak untuk memohon.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan kami beralamat di Kuala Lumpur. Walaubagaimanapun majoriti daripada pelajar kami beralamat di Selangor. Adakah kami layak untuk memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak boleh. Hanya Pusat EIP/Institusi/Badan Kebajikan berdaftar dan beralamt di negeri Selangor sahaja yang layal memohon bantuan ini.</p>
              </li>
              <li>
                <p><b>Soalan:</b>Dimanakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan:</b>Permohonan hanya boleh dibuat secara atas talian sahaja <a href="https://www.anisselangor.com/didikanis">DISINI</a> Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dihantar bersama dokumen yang diperlukan dalam tempoh ke Pusat ANIS, IDCC Shah Alam. Tiada penghantaran dokumen secara emel dilaksanakan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap</p>
                <p><b>Jawapan: </b>TIDAK. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>
              
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Semak / Hantar Permohonan", persesch_path(prog: "DIDIK ANIS"), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <!-- <img src="<%= image_path('anisPic/poster-didik-anis1.png')%>" style="width: 100%"></img> -->
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>

<!-- PENCAPAIN ANIS -->

<% if 1==0 %><div class="bg-white container" style="margin-bottom: 20px">
  <div class="section-header container bg-white" style="margin-top: 30px">
    <h3 style="">PENCAPAIAN BANTUAN KHAS ANIS</h3>
    <div class="border-prog" style=""></div>
    <p style="text-align: center; color: black">Jumlah Permohonan</p>
  </div>

  <div id="perf" class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
      <p>Jumlah Permohonan</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
      <p>Jumlah Penerima</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
      <p>Peruntukan Digunakan</p>
      <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
    </div>
    

  </div> <!-- row -->
</div><% end %> <!-- container -->



