<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Didik ANIS</h1>
    </div>
  </div>

</header>

<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan DIDIK ANIS Telah Dibuka</p>
  <p style="text-align: center; color: black">Tarikh Pendaftaran Bermula Dari 5 Jun Hingga 4 Julai 2023</p>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Didik ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Program Bantuan Didik Anak Istimewa Selangor (ANIS) telah dilaksanakan bermula pada tahun 2017.</p>

            <p>Bantuan Didik ANIS ini terbuka kepada semua Institusi Pendidikan Anak Istimewa iaitu Pusat Early Intervention Programme (EIP), Pusat Pembangunan Orang Kurang Upaya (OKU) dan Program Pemulihan Dalam Komuniti (PPDK) yang berdaftar di Selangor sahaja. Peruntukan Bantuan Didik ANIS ini diberikan secara one-off kepada pemohon.</p>

            <p>Permohonan bantuan Didik ANIS dibuat oleh pemohon dengan mengisi dan menghantar borang permohonan beserta dokumen sokongan di laman web ANIS.</p>

            <p>Objektif Utama Didik ANIS adalah:
              <ol>
                <li>Memberi peluang kepada Institusi Pendidikan Anak Istimewa untuk menjalankan program yang berasaskan khidmat masyarakat.</li>
                <li>Membantu meningkatkan kesedaran dan ilmu pengetahuan tentang anak istimewa dengan adanya program yang melibatkan komuniti.</li>
                <li>Mengukuhkan kerjasama antara Jabatan ANIS dengan Institusi Pendidikan Anak Istimewa sebagai agensi yang berkaitan dengan anak istimewa.</li>

              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
                <li>Terbuka kepada semua Institusi Pendidikan Anak Istimewa iaitu Pusat Early Intervention Programme (EIP), Pusat Pembangunan Orang Kurang Upaya (OKU) dan Program Pemulihan Dalam Komuniti (PPDK) yang berdaftar di Selangor sahaja.</li>
                <li>Melengkapkan permohonan dan melampirkan dokumen sokongan.</li>
                <li>Institusi yang berjaya menganjurkan program khidmat masyarakat berkaitan pembangunan anak istimewa mengikut kertas kerja yang dilampirkan akan diberikan geran peruntukan setelah program dijalankan.</li>
                <li>Institusi mestilah memilih untuk melaksanakan program skala kecil (RM5,000) dalam tempoh setengah hari (minimum 5 jam) atau program skala besar (RM10,000) dalam tempoh satu hari (minimum 9 jam)</li>
              </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            Borang Profil lengkap Institusi Pendidikan Anak Istimewa (borang yang diisi di website)
            <ol>
              <li>Salinan sijil pendaftaran pertubuhan/sijil pendaftaran dengan undang-undang tubuh yang disahkan oleh Pendaftar Pertubuhan (ROS)/ Suruhanjaya Syarikat Malaysia (SSM).</li>
              <li>Senarai nama dan salinan sijil akademik kakitangan institusi.</li>
              <li>Salinan penyata bank akaun institusi.</li>
              <li>Salinan kertas kerja program yang akan dilaksanakan.</li>

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
            <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang www.anisselangor.com/didikanis</li>
            <li>Pemohon diminta untuk muat turun borang yang diisi di laman web dan memuatnaik dokumen sokongan seperti yang dinyatakan.</li>
            <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Pembayaran Bantuan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <p>Pembayaran akan dibuat terus ke akaun agensi yang memohon</p>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Bantuan ANIS</b>
              <img src="<%= image_path('anisPic/Didik-Anis-Flow-23.png')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan saya pernah menerima bantuan ini. Adakah masih layak untuk memohon bantuan ini lagi pada tahun ini?</p>
                <p><b>Jawapan: </b>Boleh. Permohonan yang lengkap dan memenuhi syarat adalah layak untuk memohon.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan kami beralamat di Kuala Lumpur. Walaubagaimanapun majoriti daripada pelajar kami beralamat di Selangor. Adakah kami layak untuk memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak boleh. Hanya Pusat EIP/Institusi/Badan Kebajikan berdaftar dan beralamat di negeri Selangor sahaja yang layak memohon bantuan ini.</p>
              </li>
              <li>
                <p><b>Soalan:</b>Dimanakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan:</b>Permohonan hanya boleh dibuat secara atas talian sahaja <a href="https://www.anisselangor.com/didikanis">DISINI</a> Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dihantar bersama dengan dokumen sokongan yang perlu dimuatnaik ke dalam laman web. </p>
              </li>
              <li>
                <p><b>Soalan: </b>Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap</p>
                <p><b>Jawapan: </b>TIDAK. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>
              
            </ol>
          </div>
        </div>
      </div>

      <% if ENV['DDK_OPEN'] == "TRUE" %>
        <%= link_to "Semak / Hantar Permohonan", persesch_path(prog: "DIDIK ANIS"), class: "btn btn-sm btn-success btn-block"%>
      <% else %>
        <%= link_to "Permohonan Ditutup", "#", class: "btn btn-sm btn-danger btn-block"%>
      <% end %>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anisPic/poster-didik-anis5.jpeg')%>" style="width: 100%; margin-bottom: 10px"></img>
      <!-- <img src="<%= image_path('anisPic/didik-anis22(2).jpeg')%>" style="width: 100%; margin-bottom: 10px"></img>
      <img src="<%= image_path('anisPic/didik-anis22(3).jpeg')%>" style="width: 100%; margin-bottom: 10px"></img>
      <img src="<%= image_path('anisPic/didik-anis22(4).jpeg')%>" style="width: 100%; margin-bottom: 10px"></img> -->
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>

<!-- PENCAPAIN ANIS -->

<% if 1==0 %><div class="bg-white container" style="margin-bottom: 20px">
  <div class="section-header container bg-white" style="margin-top: 30px">
    <h3 style="">PENCAPAIAN BANTUAN KHAS ANIS</h3>
    <div class="border-prog" style=""></div>
    <p style="text-align: center; color: black">Jumlah Permohonan</p>
  </div>

  <div id="perf" class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
      <p>Jumlah Permohonan</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
      <p>Jumlah Penerima</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
      <p>Peruntukan Digunakan</p>
      <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
    </div>
    

  </div> <!-- row -->
</div><% end %> <!-- container -->



