<meta name="viewport" content="width=1440">
<%

hash_vid = {
  "oDA_DWg0yxY" => ["Wan Jamila Wan Saiful Bahri","OKU Pembelajaran","Seni lukis","Seorang artis yang berbakat dalam bidang seni lukis. Beliau dikenali sebagai artjamila dan memulakan industri seni pada tahun 2017 dengan menghasilkan banyak demonstrasi lukisan secara langsung dan telah memenangi beberapa pertandingan melukis di peringkat nasional dan antarabangsa."],
  "FsSADJzEvQI" => ["Muhammad Hanif Naufal Mohd Mazni", "OKU Pembelajaran", "Servis makanan & minuman (food & beverages)","Seorang peserta Abilimpik kebangsaan dalam bidang servis makanan & minuman. Beliau juga berperanan sebagai pelatih yang melatih golongan Orang Kurang Upaya (OKU) untuk mengendalikan servis makanan & minuman."],
  "h8AhuAxFUPM" => ["Nur Iman Izzad Md Nor","OKU Pembelajaran","Komputeran","Seorang pelajar di Infinite Minds Academy yang mengikuti kursus dalam bidang Artificial Intelligence (AI)."],
  "XTy4RHE3Fgs" => ["Nur Arif Jasmin","OKU Pembelajaran","Pengajian Islam (Al-Qur'an dan Sunnah)","Seorang mahasiswa daripada Universiti Islam Antarabangsa Malaysia (UIAM) yang sedang mengikuti pengajian dalam bidang Al-Quran dan Sunnah pada peringkat PhD"],
  "lN5RHitpHU8" => ["Jaheerah Nadzri","OKU Pembelajaran","Perniagaan","Seorang usahawan OKU yang  mempunyai gerai perniagaan burger di Sepang"],
  "qYpcZUWrzYg" => ["Shahrul Nizam Mohd Hanafiah","OKU Fizikal","Jahitan","Seorang OKU fizikal yang berjaya mewakili Malaysia dalam acara Abilympics France (2023) bagi kategori Teknologi Fesyen (Pembuatan Pakaian)"]
}


%>


<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">IKON ANIS</h3>
    </div>
  </div>

</header>

<div class="section-header container bg-white" style="margin-top: 20px">
  <p style="text-align: justify; color: black">Program Ikon Anak Istimewa Selangor (ANIS) dilaksanakan bagi memberi pengiktirafan dan penghargaan kepada belia Orang Kurang Upaya (OKU) yang mempunyai pencapaian atau bakat luar biasa dalam apa jua bidang berkaitan.</p>
</div>

<div class="container">
  <div id="article" style="color: black">

    <% ENV['ikonanis'].split(',').each do |id|; video = VideoInfo.new("https://www.youtube.com/watch?v=#{id}") %>
      <div class="row">
        <div class="col-lg-5" style="margin-bottom: 20px"> 

          <a href="https://www.youtube.com/watch?v=<%= id %>" class="venobox btn btn-sm btn-primary" data-vbtype="video" data-autoplay="true"><img class="img-fluid" src="https://img.youtube.com/vi/<%= id %>/maxresdefault.jpg" width="400" height="400" /></a>
        </div>
        <div class="col-lg-7" style="margin-bottom: 20px">
          <% id %>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-4">
              <b>Nama:</b>
            </div>
            <div class="col-lg-8">
              <%= hash_vid["#{id}"][0]%>
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-4">
              <b>Kategori OKU:</b>
            </div>
            <div class="col-lg-8">
              <%= hash_vid["#{id}"][1]%>
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-4">
              <b>Bidang Pencapaian:</b>
            </div>
            <div class="col-lg-8">
              <%= hash_vid["#{id}"][2]%>
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-4">
              <b>Latar Belakang:</b>
            </div>
            <div class="col-lg-8">
              <%= hash_vid["#{id}"][3]%>
            </div>
          </div>
        </div>
      </div>

    <% end %>
    
  </div>
</div>



