<!-- Header -->
<header class="masthead" style="background-image: url(<%= image_path('eip-bg.jpg') %>); background-size: cover; background-position: center; padding-bottom: 100px; margin-bottom: 0px; background-repeat: no-repeat;">
  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: center; color: black; background-color: #d8d8d8; opacity: 0.6; margin-top: 0px" >
      ANak Istimewa Selangor (ANIS)
    </div>
  </div>

  <div style="text-align: center; font-size: 25px">
    <%= link_to "Daftar Sekarang", root_path, class: "badge badge-pill badge-dark"%>
  </div>

</header>

<section class="bg-light" id="services">
  <div class="container">
    <div class="section-header">
      <h2>Produk ANIS</h2>
      <p>Produk dibawah ANIS Selangor</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="http://anis.yawas.my/web/images/khasanis1.png" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Didik ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", root_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="http://anis.yawas.my/web/images/khasanis1.png" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Cikgu ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", root_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="http://anis.yawas.my/web/images/khasanis1.png" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Pusat Terapi ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", root_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="http://anis.yawas.my/web/images/khasanis1.png" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Bantuan Khas ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", root_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

    </div>



  </div>
</section>

<section class="bg-white" id="services">
  <div class="container">
    <div class="section-header">
      <h2>PENCAPAIAN PROGRAM ANIS</h2>
      <p>Produk dibawah ANIS Selangor</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fas fa-gem"></i></div>
          <h4 class="title"><a href="">Cikgu ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="title"><a href="">Didik ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-users"></i></div>
          <h4 class="title"><a href="">Pusat Terapi ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fas fa-hands-helping"></i></div>
          <h4 class="title"><a href="">Bantuan ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-light" id="services">
  <div class="container">
    <div class="section-header">
      <h2>ARTIKEL BERKAITAN</h2>
      <p>Produk dibawah ANIS Selangor</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fas fa-gem"></i></div>
          <h4 class="title"><a href="">Cikgu ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="title"><a href="">Didik ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-users"></i></div>
          <h4 class="title"><a href="">Pusat Terapi ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fas fa-hands-helping"></i></div>
          <h4 class="title"><a href="">Bantuan ANIS</a></h4>
          <p class="description"></p>
        </div>
      </div>

    </div>
  </div>
</section>




   

    
