<!-- Header -->
<header class="masthead" style="background-image: url(<%= image_path('eip-bg.jpg') %>); background-size: cover; background-position: center; padding-bottom: 100px; margin-bottom: 0px; background-repeat: no-repeat;">
  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: center; color: black; background-color: #d8d8d8; opacity: 0.6; margin-top: 0px" >
      ANak Istimewa Selangor (ANIS)
    </div>
  </div>

  <div style="text-align: center; font-size: 25px">
    <%= link_to "Daftar Sekarang", persesch_path, class: "badge badge-pill badge-dark"%>
  </div>

</header>

<!-- PRODUK ANIS -->
<section class="bg-white" id="services">
  <div class="container">
    <div class="section-header">
      <h2>Produk ANIS</h2>
      <p>Produk dibawah ANIS Selangor</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="<%= image_path('anisPic/didik-anis-hp.png') %>" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Didik ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", didikanis_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="<%= image_path('anisPic/cikgu-anis-hp.png') %>" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Cikgu ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", undercon_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="<%= image_path('anisPic/aka-anis-hp.png') %>" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Akademi ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", undercon_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box wow fadeInLeft">
          <div style="text-align: center">
          <img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80">
          </div>
          <h5 style="color: black; padding-top: 10px; text-align: center">Bantuan Khas ANIS</h5>
          
           <p style="font-size: 22px; text-align: center">
            <%= link_to "Syarat / Permohonan", undercon_path, class: "badge badge-info"%>
          </p>
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!-- PENCAPAIN ANIS -->
<section class="bg-light" id="services">
  <div class="container">
    <div class="section-header">
      <h2>PENCAPAIAN PROGRAM ANIS</h2>
      <p>Jumlah Permohonan</p>
    </div>

    <div id="perf" class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
        <p>Jumlah Permohonan</p>
        <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
        <p>Jumlah Penerima</p>
        <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
        <p>Peruntukan Digunakan</p>
        <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
      </div>
      

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!-- ARTIKEL -->
<section class="bg-white" id="services">
  <div class="container" style="margin-bottom: 30px">
    <div class="section-header">
      <h2>ARTIKEL BERKAITAN</h2>
      <p></p>
    </div>

    <div id="article" class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/artikel1.png') %>" width="350" height="235">
        <p style="font-size: 15px"><i class="fa fas fa-clock"></i> October 24, 2019 oleh Herza Farhana Ismail</p>
        <p style="font-weight: 700; font-size: 20px">Fasa kedua AnIS, bantu 36 keluarga</p>
        <p>Penyerahan Bantuan Khas Anak Istimewa Selangor (AnIS) bagi fasa kedua diserahkan kepada 36 keluarga. Penyerahan peruntukan Program Didik AnIS turut diberikan kepada 14 Pusat Intervensi <a href="#">Artikel Penuh</a></p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/artikel2.png') %>" width="350" height="235">
        <p style="font-size: 15px"><i class="fa fas fa-clock"></i> July 19, 2019 oleh Herza Farhana Ismail</p>
        <p style="font-weight: 700; font-size: 20px">Anak istimewa terima AnIS</p>
        <p>Penyerahan Bantuan Khas Anak Istimewa Selangor (AnIS) bagi fasa kedua diserahkan kepada 36 keluarga. Penyerahan peruntukan Program Didik AnIS turut diberikan kepada 14 Pusat Intervensi <a href="#">Artikel Penuh</a></p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="<%= image_path('anisPic/artikel3.png') %>" width="350" height="235">
        <p style="font-size: 15px"><i class="fa fas fa-clock"></i> January 12, 2020 oleh Norhayati Umor</p>
        <p style="font-weight: 700; font-size: 20px">Selangor latih 1,202 Cikgu AnIS didik anak istimewa</p>
        <p>SHAH ALAM, 12 JAN: Seramai 1,202 guru menerima latihan khusus dalam program Cikgu Anak Istimewa Selangor (AnIS) bagi mendidik anak-anak kelainan upaya di 452 taska seluruh negeri <a href="#">Artikel Penuh</a></p>
      </div>
      

    </div> <!-- row -->
  </div> <!-- container -->
</section>




   

    
