

<body>

  

  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Anak Istimewa Selangor <span>ANIS</spa>
      </h1>
      <h2>Menyantuni anak-anak OKU di Selangor</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Daftar Sekarang</a>
        <a href="https://www.youtube.com/" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="fa fas fa-play-circle"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bgs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>PENGENALAN ANIS</h2>
          <h3 style="color: black">Ketahui Lebih Lanjut Berkenaan Web <span>ANIS</span></h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="zoom-out" data-aos-delay="100">
            <img src="<%= image_path('anisPic/anis-intro.jpg') %>" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3 style="text-align: justify; font-size: px">Mewujudkan sebuah laman informasi yang padat dengan maklumat, program bantuan, program sokongan. Dan akan membina platform pembelajaran online, sistem sokongan Q&A antara ibubapa dan pakar, himpunan artikel & video berkenaan kaedah mengendalikan Anak Istimewa</h3><br>
            <a href="#" class="btn btn-primary btn-sm">Ketauhi Lebih Lanjut</a>
            <!-- <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p> -->
            <!-- <ul>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              
            </ul> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services bg-light">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Produk ANIS</h2>
          <h3 style="color: black">Pilih Produk Yang Ditawarkan oleh <span>ANIS</span></h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="">Bantuan ANIS</a></h4>
              <p class="description">Peruntukan RM500,000 melalui YAWAS. Bantuan fokus kepada peralatan & keperluan Khas. Had maksima RM5,000 setahun</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><img src="<%= image_path('anisPic/didik-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="">Didik ANIS</a></h4>
              <p class="description">Bantuan khusus untuk  pendidikan OKU Untuk Pusat terapi, pusat EIP dan PPDK</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><img src="<%= image_path('anisPic/aka-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="">Akademi ANIS</a></h4>
              <p class="description">Program latihan untuk guru taska di seluruh Selangor bagi menerima latihan yang bersesuaian untuk melatih serta mengasuh anak Istimewa di Kawasan setempat.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><img src="<%= image_path('anisPic/aka-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="">One Stop Center ANIS</a></h4>
              <p class="description">Pembinaan Pusat Terapi dan Kaunseling bagi memudahkan ibu-bapa atau penjaga anak OKU untuk mendapatkan rawatan.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts" style="margin-top: -40px">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="margin-bottom: 20px">
          <h2>Pencapaian Terkini Program ANIS</h2>
          <h3 style="color: black"></h3>
          <p>Maklumat Statistik Program ANIS Semenjak Tahun 2019</p> 
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-hands-helping"></i>
              <span data-toggle="counter-up">232</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fas fa-hands-helping"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-hands-helping"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-hands-helping"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="mar-pic"><div class="mar-item">

          <div class="testimonial-item">
            <img src="<%= image_path('anisPic/yb-mariah.jpeg') %>" class="testimonial-img" alt="">
            <h3 style="color: white">Dr Mariah</h3>
            <h4>EXCO Wanita Selagor</h4>
            <p>
              <i class="fas fa-quote-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="fas fa-quote-right"></i>
            </p>
          </div>

        </div></div>


        

      </div>
    </section><!-- End Testimonials Section -->




    



</body>

</html>