

<body>

  

  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100" style="margin-top: -150px">
      <h1>Anak Istimewa Selangor <span>ANIS</spa>
      </h1>
      <h2>Menyantuni anak-anak OKU di Selangor</h2>
      <div class="d-flex">
        <a href="<%= persesch_url %>" class="btn-get-started scrollto">Daftar Sekarang</a>
        <a href="https://www.youtube.com/watch?v=kQbShPCINrE" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Lihat Video <i class="fa fas fa-play-circle"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

<% a= "<b>Mus</b><br><br>Ali" %>

<%= sanitize a %>


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bgs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>PENGENALAN ANIS</h2>
          <h3 style="color: black">Ketahui Lebih Lanjut Berkenaan Web <span>ANIS</span></h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="zoom-out" data-aos-delay="100">
            <img src="<%= image_path('anislogo1.png') %>" class="img-fluid" alt="" style="transform: scale(1);">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3 style="text-align: justify; font-size: px">Mewujudkan sebuah laman informasi yang padat dengan maklumat, program bantuan, program sokongan. Dan akan membina platform pembelajaran online, sistem sokongan Q&A antara ibubapa dan pakar, himpunan artikel & video berkenaan kaedah mengendalikan Anak Istimewa</h3><br>
            <a href="#" class="btn btn-primary btn-sm">Ketauhi Lebih Lanjut</a>
            <!-- <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p> -->
            <!-- <ul>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li style="margin-bottom: -2px">
                <i class="fa fas fa-envelope"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              
            </ul> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services bg-light">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Produk ANIS</h2>
          <h3 style="color: black">Pilih Produk Yang Ditawarkan oleh <span>ANIS</span></h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="<%= bantuananis_url %>">Bantuan ANIS</a></h4>
              <p class="description">Peruntukan RM500,000 melalui YAWAS. Bantuan fokus kepada peralatan & keperluan Khas. Had maksima RM5,000 setahun</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><img src="<%= image_path('anisPic/didik-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="<%= didikanis_url %>">Didik ANIS</a></h4>
              <p class="description">Bantuan khusus untuk  pendidikan OKU Untuk Pusat terapi, pusat EIP dan PPDK</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><img src="<%= image_path('anisPic/aka-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="<%= undercon_url %>">Akademi ANIS</a></h4>
              <p class="description">Program latihan untuk guru taska di seluruh Selangor bagi menerima latihan yang bersesuaian untuk melatih serta mengasuh anak Istimewa di Kawasan setempat.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><img src="<%= image_path('anisPic/aka-anis-hp.png') %>" width="100" height="80"></div>
              <h4 class="title"><a href="<%= undercon_url %>">Pusat Sokongan Pendidikan Awal ANIS</a></h4>
              <p class="description">Pembinaan Pusat Terapi dan Kaunseling bagi memudahkan ibu-bapa atau penjaga anak OKU untuk mendapatkan rawatan.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts" style="margin-top: -40px">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="margin-bottom: 20px">
          <h2>Pencapaian Terkini Program ANIS</h2>
          <h3 style="color: black"></h3>
          <p>Maklumat Statistik Program ANIS Semenjak Tahun 2019</p> 
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-friends"></i>
              <span data-toggle="counter-up">232</span>
              <p>Jumlah Pendaftaran</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fas fa-calendar-check"></i>
              <span data-toggle="counter-up">521</span>
              <p>Bilangan Program</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-child"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Bilangan Anak OKU</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-donate"></i>
              <span data-toggle="counter-up">15</span>
              <p>Peruntukan Digunakan</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="mar-pic"><div class="mar-item">

          <div class="testimonial-item">
            <img src="<%= image_path('anisPic/yb-mariah.jpeg') %>" class="testimonial-img" alt="">
            <h3 style="color: white">YB Dr Siti Mariah Mahmud</h3>
            <h4>Pengerusi Jawatankuasa  Tetap Kesihatan Awam, Perpaduan, Pembangunan Wanita dan Keluarga Negeri Selangor</h4>
            <p>
              <i class="fas fa-quote-left"></i>
              Selangor menjadi perintis dalam meningkatkan kemudahan kepada kanak-kanak berkeperluan khas sesuai dengan misi Melestarikan Pembangunan dan Kemakmuran Simetri serta Peduli Rakyat. - Januari 2020
              <i class="fas fa-quote-right"></i>
            </p>
          </div>

        </div></div>


        

      </div>
    </section><!-- End Testimonials Section -->

    <section class="bg-white" id="services">
      <div class="container" style="margin-bottom: 30px">
        <div class="section-header">
          <h2>ARTIKEL BERKAITAN</h2>
          <p></p>
        </div>

        <div id="article" class="row">

          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://f8r8h5q2.rocketcdn.me/wp-content/uploads/2021/02/EIP-1.jpg" width="350" height="235">
            <p style="font-size: 15px"><i class="fa fas fa-clock"></i> March 23, 2021 oleh Zareef Muzammil</p>
            <p style="font-weight: 700; font-size: 20px">Lebih 70 institusi pendidikan, PDK dijangka mohon bantuan anak OKU</p>
            <p>Institusi Pendidikan Anak Istimewa dan Pemulihan Dalam Komuniti (PDK) diajak memohon bantuan sehingga RM10,000 yang disediakan Kerajaan Negeri dibawah program Didik Anak Istimewa Selangor (ANIS) <a href="https://selangorkini.my/2021/03/lebih-70-institusi-pendidikan-pdk-dijangka-mohon-bantuan-anak-oku/">Artikel Penuh</a></p>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://f8r8h5q2.rocketcdn.me/wp-content/uploads/2019/01/OKU.jpg" width="350" height="235">
            <p style="font-size: 15px"><i class="fa fas fa-clock"></i> Februari 14, 2021 oleh Norrasyidah Arshad</p>
            <p style="font-weight: 700; font-size: 20px">Permohonan bantuan anak OKU Selangor dibuka esok</p>
            <p>Permohonan Bantuan Khas Anak Istimewa Selangor (Anis) secara dalam talian dibuka mulai esok. Pemerbadanan Menteri Besar (MBI) berkata bantuan berkenaan layak untuk anak orang kelainan upaya (OKU) berusia 18 tahun ke bawah. <a href="https://selangorkini.my/2021/02/permohonan-bantuan-anak-oku-selangor-dibuka-esok/">Artikel Penuh</a></p>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="<%= image_path('anisPic/artikel3.png') %>" width="350" height="235">
            <p style="font-size: 15px"><i class="fa fas fa-clock"></i> January 12, 2020 oleh Norhayati Umor</p>
            <p style="font-weight: 700; font-size: 20px">Selangor latih 1,202 Cikgu AnIS didik anak istimewa</p>
            <p>SHAH ALAM, 12 JAN: Seramai 1,202 guru menerima latihan khusus dalam program Cikgu Anak Istimewa Selangor (AnIS) bagi mendidik anak-anak kelainan upaya di 452 taska seluruh negeri <a href="#">Artikel Penuh</a></p>
          </div>
          

        </div> <!-- row -->
      </div> <!-- container -->
    </section>




    



</body>

</html>