<meta name="viewport" content="width=1440">


<%
a=
"Pejabat Kebajikan Masyarakat Daerah Kuala Muda

Kompleks Kebajikan Masyarakat,
Jalan Pahlawan, Tasik Apong
08000 Kuala Muda, Kedah.

04-4204900
04-4251142
pkmd.kuala_muda@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Langkawi

No. 12 & 13, Kompleks Perniagaan Kelibang,
Jalan Padang Matsirat,
07000 Langkawi, Kedah.

04-9666325
04-9672579
pkmd.langkawi@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuala Pilah

Kompleks Mini KPDNHEP
4339, Taman Desa Melang
72000 Kuala Pilah, Negeri Sembilan.

06 - 481 1163
06 - 491 7961
pkmd.kuala_pilah@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kota Setar

Lot T-1, Tingkat Bawah, Wisma PKNK
Jalan Sultan Badlishah
05000 Kota Setar, Kedah.

04-720 2370
04-734 9728
pkmd.kota_setar@jkm.gov.my


Pejabat Kebajikan Masyarakat Cawangan Shah Alam

Unit G2, Tingkat G, IDCC Shah Alam, Jalan Pahat L 15/L, Seksyen 15
40200 Shah Alam, Selangor.

03-5545 8901
03-5545 8904
pkmd_shahalam@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Sepang

Blok A, Bangunan IKS SIRIM
Lot PT 4803
Bandar Baru Salak Tinggi
43900 Sepang, Selangor.

03-8706 1026
03-8706 3735
pkmd_sepang@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kota Tinggi

JKR 475, Jalan Skin,
Kota Kechil,
81900 Kota Tinggi, Johor.

07-8835536
07-8834252
pkmd.kota_tinggi@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Jempol

Di Halaman Kompleks Pejabat Kerajaan, Bandar Baru Jempol
72100 Jempol, Negeri Sembilan.

06 - 458 1400
06 - 458 4637
pkmd.jempol@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Port Dickson

Bangunan Pejabat RISDA, Jalan Lama,
71000 Port Dickson, Negeri Sembilan.

06 - 647 1920
06 - 647 7527
pkmd.port_dickson@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Rembau

Tingkat 2, Kompleks Pentadbiran Daerah Rembau,
71300 Rembau, Negeri Sembilan.

06 - 685 1472
06 - 685 3451
pkmd.rembau@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Seremban

Kompleks Pentadbiran Daerah Seremban, Persiaran S2A2, Seremban 2,
70000 Seremban, Negeri Sembilan.

06 - 601 5798
06 - 601 5836
pkmd.seremban@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Tampin

Lorong PARR, Jalan Hj. Ahmad Zainuddin,
73000 Tampin, Negeri Sembilan.

06 - 441 1646
06 - 443 1450
pkmd.tampin@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Jelebu

No. 2B, Tingkat 1,Bangunan Pusat Komersial Majlis Daerah Jelebu,
71600 Jelebu, Negeri Sembilan.

06 - 613 6428
06 - 613 6675
pkmd.jelebu@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Keningau

Bangunan Urusetia Daerah Keningau,
Aras Bawah, Peti Surat 112,
Keningau, Sabah.
89000 Keningau, Sabah.

087-33 1224
087-33 0331
pkb_keningau@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Sook

KM40, Jalan Keningau Sook Nabawan,
Bangunan Pejabat Daerah Kecil Sook, Aras Bawah, Peti surat No.455,
Sook, Sabah
89000 Keningau, Sabah.

087-36 5614
087-36 5614
pkd_sook@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Tongod

Peti Surat 142, Jalan Tongod,
Tongod, Sabah.
90200 Kinabatangan, Sabah.

087-74 8837
087-74 8837
pkd_tongod@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Kota Marudu

Bangunan Plaza, Lot 57,
1 Marudu, Commercial Center,
Kota Marudu, Sabah
89108 Kota Marudu, Sabah.

088-66 1335
088-66 1335
pkd.kota_marudu@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Bandar Baharu

JKR 589, Jalan Selama,
09800 Serdang
09800 Bandar Baharu, Kedah.

04-4076131
04-4077254
pkmd.bandar_baru@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Padang Terap

No. 7, Jalan Sapura 1, Taman Desa Sapura,
06300 Kuala Nerang
06300 Padang Terap, Kedah.

04-7866466
04-7865801
pkmd.padang_terap@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kubang Pasu

Lot 2707, Jalan Kodiang, 06000 Jitra
06000 Kubang Pasu, Kedah.

04-9171305
04-9162617
pkmd.kubang_pasu@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Raub

Tingkat Bawah, Bangunan Gunasama Persekutuan Raub.
27600 Raub, Pahang.

09-3551113
09-3561437
pkmd.raub@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kulai

No. 437, Jalan Kenanga,
29/11 Indahpura,
Kulai
81000 Kulai, Johor.

07-6622990
07-6622770
pkmd.kulai_jaya@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Muar

Wisma Kebajikan,
Jalan Othman,
84000 Muar, Johor.

06-9521454
06-9525862
pkmd.muar@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Selama/Larut/Matang

Tingkat Bawah, Wisma Persekutuan, Jalan Istana Larut,
34000 Taiping
, Perak.

05-8073302
05-8089763
pkmdlms@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuantan

Bangunan Kompleks Penyayang,
Jalan Pintasan Indera Mahkota,
25200 Kuantan, Pahang.

09-5724225
09-5724222
pkmd.kuantan@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Tumpat

Pejabat Kebajikan Masyarakat Jajahan Tumpat
16200 Tumpat, Kelantan.

09-725 7295
09-725 2297
pkmj.tumpat@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Pasir Puteh

Jalan Dato Hashim
16800 Pasir Puteh, Kelantan.

09-786 6206
09-786 1384
pkmj.p_puteh@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Kuala Krai

Tingkat Bawah, Bangunan Kerajaan Persekutuan
18000 Kuala Krai, Kelantan.

09-966 6138
09-966 6138
pkmj.kuala_krai@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Bachok

Lot PT 192, Kedai Beris Kubur Besar,
16050 Bachok, Kelantan.

09-764 0806
09-764 0807
pkmj.bachok@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Kota Bharu

PT 423-425 Seksyen 17, Lembah Sireh
15350 Kota Bharu, Kelantan.

09-748 2124
09-748 2124
pkmj.kota_bharu@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Seberang Prai Utara

Aras 3, Zon A,
Wisma Persekutuan Kepala Batas, Bertam,
13200 Seberang Perai Utara, Pulau Pinang.

04-5758715 / 8716
04-5758710
pkmd.spu@jkm.gov.my


Jabatan Kebajikan Masyarakat Bahagian Kapit

Aras 1, Kompleks Kerajaan Negeri, Jalan Beleteh, 96800 Kapit
96800 Kapit, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Bintulu

Lot 506 Jalan SummerVille, Bintulu Town District, P.O Box 964, 97008 Bintulu.
97008 Bintulu, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Kuching

Jabatan Kebajikan Masyarakat Bahagian Kuching
Wisma Kebajikan, Lot 4273,
Blok 14, Off Jalan Siol Kanan,
93050 Kuching, Sarawak

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Limbang

Jabatan Kebajikan Masyarakat Bahagian Limbang
Tingkat 5, Bangunan Limbang Plaza,
98700 Limbang, Sarawak

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Mukah

Aras 1, Pusat Pentadbiran Baru Mukah, Jalan Wawasan, 96400 Mukah, Sarawak.
96400 Mukah, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Miri

Kompleks Islam Miri, Aras 1 & 2, Lot. 1242, Section 5, MLCD, Jalan Pujut, 98000, Miri
98000 Miri, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Sibu

Aras 3, Kompleks Islam Sarawak Sibu, 96000 Sibu
96000 Sibu, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Sarikei

Bangunan Wisma Negeri, Jalan Bangunan Kerajaan, 961000 Sarikei
961000 Sarikei, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Sri Aman

Kompleks Penyayang, 1273 (sublot 78) Blok 4, Jalan Longround, Undup Land District, 95000 Sri Aman.
95000 Sri Aman, Sarawak.

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Kota Samarahan

Jabatan Kebajikan Masyarakat Bahagian Kota Samarahan
Tingkat Bawah, Bangunan Residen,
94300 Kota Samarahan,
Sarawak

-
-
-


Jabatan Kebajikan Masyarakat Bahagian Betong

Jabatan Kebajikan Masyarakat Bahagian Betong
Tingkat Bawah, Blok C, Kompleks Pejabat Kerajaan Negeri,,
95700 Betong, Sarawak

-
-
-


Pejabat Perkhidmatan Kebajikan Am Daerah Lahad Datu

Bangunan Urusetia Daerah Lahad Datu, Aras bawah,
Peti Surat 60165, Jalan Urusetia Kechil,
Lahad Datu, Sabah.
91111 Lahad Datu, Sabah.

089-88 1044
-
pkd.lahad_datu@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Gombak

Lot 21, 21-1 & 21-2, Jalan PPS 1,
Pusat Perdagangan Selaseh,
68100 Batu Caves,
68100 Gombak, Selangor.

03-6178 5731
03-6178 5817
pkmd_gombak@jkm.gov.my


PKMC Putrajaya

Aras 4, Bangunan KPWKM
No. 55, Persiaran Perdana,
Presint 4,
62007 Putrajaya, Putrajaya.

03-8323 2598
03-8323 2520
pkmcputrajaya@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuala Kangsar

Pejabat Kebajikan Masyarakat Daerah Kuala Kangsar
33000 Kuala Kangsar
, Perak.

05-7761198
05-7774529
pkmdkkangsar@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Manjung

Pejabat Kebajikan Masyarakat Daerah Manjung
No. 69 & 71, Persiaran PM 3/3,
Pusat Bandar Seri Manjung, Seksyen 3,
32040 Seri Manjung
, Perak.

05-6883110
05-6884786
pkmdmanjung@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Kampar

Pejabat Kebajikan Masyarakat Daerah Kampar
2219, 2219A & 2219B, Jalan Timah,
31900 Taman Bandar Baru, Kampar
, Perak.

05-4653133
05-4653133
pkmdkampar@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Perak Tengah

No. 5A, 5B dan 5C,
Persiaran Dataran 3, Iskandar Perdana,
32610 Seri Iskandar
, Perak.

05-3712082
05-3712148
-


Pejabat Kebajikan Masyarakat Daerah Kerian

Pejabat Kebajikan Masyarakat Daerah Kerian
No. 17 & 19, Persiaran Thaupy 1, Pusat Bandar Baru,
34300 Bagan Serai
, Perak.

05-7212645
05-7216091
pkmdkerian@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Tangkak

No. 1A, Taman Emas
Lot 870, Jalan Sialang
84900 Tangkak, Johor.

06-9787725
06-9787611
pkmd.ledang@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Kunak

Bangunan Urusetia Daerah,
Peti Surat 92,
Kunak, Sabah
91207 Lahad Datu, Sabah.

089-85 1208
089-85 1208
pkd_kunak@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Barat Daya

Kompleks Pasar Awam, Bangunan MPP,
Balik Pulau,
11000 Barat Daya, Pulau Pinang.

04-8668442
04-8663536
pkmdbd@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Sandakan

Bangunan Urusetia Daerah Sandakan,
Peti Surat 1197
Sandakan, Sabah.
90713 Sandakan, Sabah.

089-66 7821
089-67 2440
pkb_sandakan@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Pokok Sena

No. 197 & 198, Taman Angsana,Pokok Sena
06400 Pokok Sena, Kedah.

04-7821915
04-7821581
pkmd.pokok_sena@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Kulim

Kulim
09000 Kulim, Kedah.

04-4907403/04-4914642
04-4957327
pkmd.kulim@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Yan

No. 1 dan 2, Taman Desa Murni 2,
Jalan Jenun, Guar Chempedak,
08800 Gurun
, Kedah.

04-4619510
04-4687780
pkmd.yan@jkm.gov.my



Pejabat Kebajikan Masyarakat Daerah Pendang

1/1A, Wisma Hj. Salleh, Darsvill Park, Seberang Pendang
06700 Pendang, Kedah.

04-7596235
04-7592896
pkmd.pendang@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Sik

No. 1A, 1B dan 2B, Kompleks Melati,
Bangunan Majlis Daerah Sik,
08200 Sik, Kedah.

04-4690230/31
04-4690232
pkmd.sik@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Pasir Mas

Kompleks Pejabat Tanah dan Jajahan Pasir Mas (lama)
Jalan Pasir Pekan,
17000 Pasir Mas, Kelantan.

09-790 8644
09-791 3299
pkmj.pasir_mas@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Subang Jaya

No 12, Jalan SS 15/4
Subang Jaya
47500 Subang Jaya, Selangor.

03-5634 3095
03-5634
pkmd_subangjaya@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Petaling

Kompleks Pejabat Kerajaan Daerah Petaling
No.1, Persiaran Atmosfera Seksyen U5
40150 Petaling, Selangor.

03 - 7842 2584 / 2587
03 - 7842 3190
pkmd_petaling@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Daerah Cameron Highlands

Bangunan Annexe BUNKS,
Tanah Rata,
39000 Cameron Highlands, Pahang.

05-4911866
05-4915207
pkmd.cameron_highlands@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Bera

No. 2, Jalan Sri Kerayong 3,
Bandar Baru Bera,
28200 Bera, Pahang.

09-2505800
09-2505685
pkmd.bera@jkm.govmy


Pejabat Perkhidmatan Kebajikan Am Daerah Penampang

Aras Bawah, Bangunan Urusetia Penampang
Peti Surat No. 320,
Penampang, Sabah.
89507 Penampang, Sabah.

088-71 3981
088-71 3981
pkd_penampang@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Kudat

Tingkat 2, Bangunan Urusetia Kudat,
Peti Surat 242, Jalan Bangunan Urusetia,
Kudat, Sabah.
89058 Kudat, Sabah.

088-61 1798
088-61 1798
pkb_kudat@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Pekan

Tingkat Bawah, Bangunan Pejabat-Pejabat Kerajaan Daerah Pekan
26600 Pekan, Pahang.

09-4222090
09-4228534
pkmd.pekan@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Daerah Jerantut

No. 5, Jalan Inderapura 1,
Bandar Inderapura,
27000 Jerantut, Pahang.

09-2662234
09-2669061
pkmd.jerantut@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Temerloh

Tingkat 1, Bangunan Persekutuan,
Jalan Merdeka
28000 Temerloh, Pahang.

09-2961760
09-2967760
pkmd.temerloh@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Lipis

No. 3C, Tingkat Bawah,
Bangunan Koperasi Guru Pahang Barat,
Kompleks Lipis Inn,
27200 Lipis, Pahang.

09-3121280
09-3121836
pkmd.lipis@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Maran

Tingkat 1,Bangunan Wisma Persekutuan,
26500 Maran, Pahang.

09-4771349
09-4773149
pkmd.maran@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Rompin

No. 8 & 9, Taman Cemara,
Jalan Cemara Utama,
Rompin Jaya, Kuala Rompin
26800 Rompin, Pahang.

09-4145278
09-4146961
pkmd.rompin@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Daerah Bentong

Wisma Sri Bentong,
28700 Bentong, Pahang.

09-2221732
09-2224732
pkmd.bentong@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Hulu Perak

Pejabat Kebajikan Masyarakat Daerah Hulu Perak
Tingkat 1, Kompleks Pejabat Kerajaan Negeri,
Jalan Sultan Abdul Aziz,
33300 Hulu Perak, Perak.

05-7912314
05-7912251
pkmdhupk@jkm.gov.my 


Pejabat Kebajikan Masyarakat Jajahan Machang

Jalan Tok Chanor
Pekan Machang
18500 Machang, Kelantan.

09-975 1380
09-975 2242
pkmj.machang@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Jeli

Jalan Besar, Jeli
17600 Jeli, Kelantan.

09-9440124
09-9441053
pkmj.jeli@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kinta

JALAN NG WENG HUP
OFF JALAN SILIBIN
IPOH
30100 Kinta, Perak.

052410986
052410573
pkmdkinta@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Batang Padang

No. 8 & 9, Pusat Perniagaan Tapah,
Jalan Bidor,
35000 , Perak.

05-4011069
05-4016617
pkmdtapah@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Batu Pahat

No. 52 52A 52B, 54 54A 54B,
Jalan Penjaja 3,
83300 Batu Pahat, Johor.

07-4341377
07-4327892
pkmd.batu_pahat@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Kinabatangan

Bangunan Urusetia Kota Kinabatangan
Aras Bawah, W.D.T. No. 3, Bukit Garam,
Kinabatangan, Sabah.
90200 Kinabatangan, Sabah.

089-56 1873
-
rohainah.abbas@sabah.gov.my


Pejabat Kebajikan Masyarakat Daerah Seberang Prai Tengah

Tingkat 2, Wisma Hock Teik
No. 1778, Jln. Ciku
14000 Seberang Perai Tengah, Pulau Pinang.

04-5382584
04-5383670
pkmdspt@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Seberang Prai Selatan

Tingkat 1, Blok B, Kompleks Jabatan Kerajaan
Sg. Jawi, Seberang Prai Selatan, P. Pinang
14200 Seberang Perai Tengah, Pulau Pinang.

04-5821798 / 2169
04-5825191
pkmdsps@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Timur Laut

Kompleks Masyarakat Penyayang,
Jalan Utama, Georgtown
10450 Timur Laut, Pulau Pinang.

04-2264531
04-2272537
pkmdtl@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Beluran

Bangunan Urusetia Beluran,
Aras Bawah, Peti Surat 54, Jalan Pejabat Daerah Beluran,
Beluran, Sabah.
90100 Pitas, Sabah.

089-51 8302
-
pkd_beluran@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Ranau

W.D.T No. 108,
Bangunan Pejabat Daerah Ranau, Jalan Muhibbah,
Ranau, Sabah.
89307 Ranau, Sabah.

088-87 0509
088-87 0509
pkd_ranau@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Tuaran

W.D.T 1 , Tingkat Bawah,
Bangunan Majlis Daerah Tuaran,
Tuaran, Sabah.
89209 Kota Kinabalu, Sabah.

088-78 8630
088-78 8630
pkd_tuaran@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Tamparuli

WDT 4, Jalan Urusetia Tamparuli,
Pejabat Daerah Kecil Tamparuli,
Tamparuli, Sabah.
89257 Kota Kinabalu, Sabah.

088-78 2420
088-78 2871
pkd_tamparuli@jkm.gov.my 


Pejabat Perkhidmatan Kebajikan Am Daerah Kota Belud

W.D.T No.4 , Tingkat Bawah,
Kota Belud, Sabah.
89150 Kota Belud, Sabah.

088-97 6633
088-97 6633
pkd.kota_belud@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Papar

Lot 30, Block E, Papar Century Plaza,
Jalan Semarak, Bandar Papar,
Papar, Sabah, Malaysia
89600 Papar, Sabah.

088-91 3090
088-91 3090
pkd_papar@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Putatan

Shop Lot 3, Tingkat Bawah & 1,
Blok H, Putatan Platinum Plaza,
Putatan, Sabah.
88200 Kota Kinabalu, Sabah.

088-73 4676
-
pkd_putatan@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Beaufort

Bangunan Tabung Haji,
Tingkat 1, Lot 3, 4 & 5, Peti Surat 143,
Beaufort, Sabah.
89807 Beaufort, Sabah.

087-21 1367
087-22 2207
pkb_beaufort@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Kota Kinabalu

Tingkat Bawah (Lot G-03) & Tingkat 8 (Lot 8-05 & 8-13),
Wisma MAA, Lorong Api-api Centre,
Kota Kinabalu 88100 Sabah.
88100 Kota Kinabalu, Sabah.

088 - 25 4648
088-26 5980
pkb.kota_kinabalu@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Setiu

Bandar Permaisuri,
22100 Setiu, Terengganu.

09 - 609 9373
09 - 609 0371
pkmds@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Segamat

Jalan Awang,
85000 Segamat, Johor.

07-9311331
07-9312598
pkmd.segamat@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Pontian

JKR 1026, Jalan Ismail,
82000 Pontian, Johor.

07-6871714
07-6871718
pkmd.pontian@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kluang

JKR 183, Jalan Mengkibol
86000 Kluang, Johor.

07-7722434
07-7733004
pkmd.kluang@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Daerah Mersing

Majlis Daerah Jalan Ibrahim,
86800 Mersing, Johor.

07-7991262
07-7996788
pkmd.mersing@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Johor Bahru

Tingkat 6, Bangunan KWSP,
Jalan Dato' Dalam,
80000 Johor Bahru, Johor.

07-2232606/607
07-2241466
pkmd.johorbahru@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Jasin

JC 170&171, Jalan Bunga Raya
Taman Bandar Baru, Jasin Bestari,
77200 Jasin, Melaka.

06-5291285
06-5293311
pkmd.jasin@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Alor Gajah

Kompleks Penyayang Alor Gajah,
Jalan Lesung Batu,
78000 Alor Gajah, Melaka.

06-5561267 
06-5564134
pkmd.alorgajah@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Melaka Tengah

No. 36-1, Jalan KC 2
Kota Cemerlang, Ayer Keroh,
75450 Melaka Tengah, Melaka.

06-232 8335 / 06-333 3333
06-2318867
pkmd.mlktgh@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Jajahan Gua Musang

Tingkat Bawah,
Bangunan Wisma Persekutuan,
18300 Gua Musang, Kelantan.

09-912 2341
09-912 3353
jkmgua.musang@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Baling

Pejabat Kebajikan Masyarakat Daerah Baling
09100 Baling, Kedah.

04-4700900
04-4702225
pkmd.baling@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuala Selangor

Persiaran Pendidikan
45000 Kuala Selangor, Selangor.

03-3289 1495
03-3289 6903
pkmd_kualasel@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Klang

Tingkat 1, Wisma Persekutuan Klang
Persiaran Bukit Raja 1/KU 1
Bandar Baru Klang
41150 Klang, Selangor.

03-3341 3703
03-3341 3748
pkmd_klang@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kemaman

Aras 1, Bangunan Persekutuan,
24000 Kemaman, Terengganu.

09 - 859 1686
09 - 858 3096
pkmdk@jkm.gov.my
 

Pejabat Kebajikan Masyarakat Daerah Marang

Pejabat Kebajikan Masyarakat Daerah Marang
21600 Marang, Terengganu.

09 - 618 2350
09 - 618 5487
pkmdm@jkm.gov.my 


Pejabat Kebajikan Masyarakat Daerah Hulu Langat

Lot 2/58, Tingkat 2
Kompleks Perhentian Kajang
Jalan Reko
43000 Ulu Langat, Selangor.

03-8737 8007
03-8737 9007
pkmd_hululangat@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Besut

Tingkat 1, Bangunan Persekutuan,
22200 Kg. Raja, Besut, Terengganu
22200 Besut, Terengganu.

09-6956042
09-6957003
pkmdb@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuala Langat

No 30,32,34 Jalan Cemerlang 2
Pusat Perdagangan Banting
Banting
42700 Kuala Langat, Selangor.

03-3187 1317
03-3181 3118
pkmd_klangat@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Kuala Terengganu

Lot 4997, Tingkat Bawah, Mezzanine Satu dan Dua,
Wisma Toh Si Cheng Gi She, Jalan Air Jernih
20300 Kuala Terengganu, Terengganu
20300 Kuala Terengganu, Terengganu.

09 - 631 2002
09 - 6316517
pkmdkt@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Hulu Terengganu

21700 Kuala Berang,
Terengganu.
21700 Hulu Terengganu, Terengganu.

09-681 1315
09-681 1592
pkmdht@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Sabak Bernam

No 16,17,18 Jalan Gemilang 1
Taman Gemilang 2, Sungai Besar
45300 Sabak Bernam, Selangor.

03-3224 2304
03-3224 4140
pkmd_sbernam@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Dungun

JKR 603, Bangunan Perpustakaan Lama,
Jalan Tembesu
23000 Dungun, Terengganu.

09 - 848 1205
09-848 1613
pkmdd@jkm.gov.my


Pejabat Kebajikan Masyarakat Daerah Hulu Selangor

Lot 18, Seksyen 9
Jalan Rasathurai
44000 Ulu Selangor, Selangor.

03-6064 1430
03-6064 5980
pkmd_hulusel@jkm.gov.my
 

Pejabat Perkhidmatan Kebajikan Am Daerah Tambunan

Kompleks Majlis Daerah Tambunan,
Aras Bawah, W.D.T No 25
Tambunan, Sabah.
89650 Tambunan, Sabah.

087–77 4324
087–77 4324
pkd_tambunan@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Tenom

Bangunan Pejabat Daerah Tenom,
Tingkat 1, Peti Surat 190
Tenom, Sabah.
89900 Tenom, Sabah.

087-73 5653
087-73 5653
pkd_tenom@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Kemabong

Bangunan Pejabat Daerah Kecil Kemabong,
Aras Bawah,
Kemabong, Sabah.
89908 Tenom, Sabah.

087-73 3726
087-73 3726
-


Pejabat Perkhidmatan Kebajikan Am Daerah Nabawan

Bangunan Pejabat Daerah Nabawan,
Jalan Mahkamah Anak Negeri, Peti surat 32,
Nabawan, Sabah.
89957 Nabawan, Sabah.

087-36 6209
-
pkd_nabawan@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Pitas

Bangunan Urusetia Daerah Pitas
Tingkat 1, Peti Surat 373,
Pitas, Sabah.
89108 Kota Marudu, Sabah.

088-61 1785
088-61 5521
pkd_pitas@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Matunggong

Bangunan Urusetia Daerah Matunggong,
Aras Bawah, Peti Surat 574,
Matunggong, Sabah.
89050 Kudat, Sabah.

088-61 3793
088-61 3793
pkd_matunggong@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Telupid

Peti Surat 20,
Jalan Gereja,
Telupid, Sabah.
89300 Ranau, Sabah.

089-52 1150
089-52 1150
pkd_telupid@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Semporna

Bangunan Urusetia Pejabat Daerah Semporna,
Aras Bawah, Blok A2, W.D.T No. 16,
Semporna, Sabah
91308 Semporna, Sabah.

089-78 1748
-
pkd_semporna@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Bahagian Tawau

TB 14458, Lot A9 & A10,
Bandar Hot Spring, KM. 3, Jalan Air Panas, Peti Surat 544,
Tawau, Sabah.
91008 Tawau, Sabah.

089-71 5346
089-71 5344
pkb_tawau@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Menumbok

Bangunan Urusetia Kecil Menumbok
Jalan Menumbok Mempakul
Menumbok, Sabah.
89769 Kuala Penyu, Sabah.

087-83 1193
-
pkd_menumbok@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Kuala Penyu

W.D.T No 14, Kuala Penyu 89740 Sabah
Kuala Penyu, Sabah
89748 Kuala Penyu, Sabah.

087-88 4200
088-88 4200
pkd.kuala_penyu@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Sipitang

Aras Bawah & Tingkat 1, Kedai LPPB, Lot 12,
Phase 2, Peti Surat 124, Jalan Naparan
Sipitang, Sabah.
89859 Sipitang, Sabah.

087-82 1486
087-82 1486
pkd_sipitang@jkm.gov.my


Pejabat Perkhidmatan Kebajikan Am Daerah Membakut

Jalan KK Lama
Peti Surat 54,
Membakut, Sabah.
89728 Beaufort, Sabah.

087-88 9864
087-88 9864
pkd_membakut@jkm.gov.my


Pejabat Kebajikan Masyarakat Jajahan Tanah Merah

Lot PT 10515, Taman Perwira, Jalan Jedok
17500 Tanah Merah, Kelantan.

09-958 0600
09-958 0600
pkmj.t_merah@jkm.gov.my"



%>

<% a.split("\n\n\n") %>

<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h4 style="color: white; font-weight: 550">Senarai JKM Daerah</h4>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA</th>
          <th style="background-color:#ffb2b2; width: 30%">ALAMAT</th>
          <th style="background-color:#ffb2b2; width: ">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: ">NO FAX</th>
          <th style="background-color:#ffb2b2; width: ">EMEL</th>
        </tr>
      </thead>
      <tbody>
        <% a.split("\n\n\n").each do |n| %>
          <% modf = n.split("\n\n") %>
          <tr>
            <td><b><%= modf[0] %></b></td>
            <td><%= modf[1] %></td>
            <% if 1==1 %>
            <td><%= modf[2].split("\n")[0] %></td>
            <td><%= modf[2].split("\n")[1] %></td>
            <td><%= modf[2].split("\n")[2] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>