<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM KAD ANIS</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program Kad ANIS kini dibuka!<br>
    Dibuka Sepanjang Tahun
  </p>
  <p style="text-align: center; color: black">Sila Semak Status Permohanan Pada Butang Di Bawah</p>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <!-- <img src="<%= image_path('https://kidcare.my/anisdocs/intervensi-poster1.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="<%= image_path('https://kidcare.my/anisdocs/intervensi-docs.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="<%= image_path('https://kidcare.my/anisdocs/intervensi-faq.jpeg')%>" style="width: 100%"></img> -->
      <img src="<%= image_path('https://kidcare.my/anisdocs/aliran-pusat-anis.png')%>" style="width: 100%; margin-top: 10px"></img> 
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Inisiatif kerajaan negeri Selangor untuk memperkenalkan kad ANIS tercetus berikutan melihat kepada perlunya transformasi dengan menggunakan teknologi terkini dan penambahbaikan ke atas sistem pemberian bantuan kepada golongan istimewa di negeri Selangor.</p>
            <p>Penggunaan kad ANIS membolehkan penerima bantuan mengesahkan identiti dan status mereka dengan lebih mudah. Kad ANIS yang akan mula dilancarkan pada tahun 2023 ini adalah satu usaha penambahbaikan kepada sistem pendokumentasian secara manual ketika ini terutamanya dari segi pengemaskinian data dan statistik penerima bantuan di negeri Selangor.</p>
            <p>Dengan pengenalan kad ANIS, penerima manfaat atau bantuan dalam kategori yang disenaraikan perlu mendaftar untuk memiliki kad ANIS menjelang tahun 2024 memandangkan pemilikan kad ANIS akan dijadikan salah satu syarat kelayakan bagi mereka yang memohon bantuan (kategori bantuan tertentu) di bawah kerajaan negeri Selangor.</p>
            <p>Objektif Utama adalah:
              <ol>
                <li>Memudahkan proses mengenal pasti penerima bantuan insan istimewa Selangor.</li>
                <li>Melancarkan proses pengagihan bantuan bagi pemegang kad ANIS.</li>
                <li>Mempermudah sistem pendokumentasian data penerima bantuan di bawah kerajaan negeri Selangor.</li>
                <li>Merancakkan lagi pelaksanaan program pembangunan mengikut keperluan semasa berdasarkan statistik pemegang kad ANIS.</li>
                <li>Menjadi rujukan utama dalam penentuan statistik bilangan golongan istimewa di negeri Selangor.</li>

              </ol>
            </p>

          </div>
        </div>
      </div>


      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Dan Kelayakan Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia.</li>
              <li>Jika pemohon adalah ibu/bapa/penjaga kepada anak istimewa yang berusia 18 tahun ke bawah, salah seorang mestilah pengundi Selangor</li>
              <li>Jika pemohon sendiri adalah insan istimewa yang berusia 18 tahun ke atas, pemohon mestilah merupakan pengundi Selangor</li>
              <li>Anak OKU mempunyai Kad OKU yang dikeluarkan oleh JKM atau Surat Pengesahan Doktor (sekiranya tidak mempunyai kad OKU)</li>
              <li>Permohonan mestilah diisi dengan lengkap beserta dokumen sokongan yang diperlukan</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Jenis Bantuan Di Bawah Kad ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Bantuan Khas ANIS</li>
              <li>Skim Mesra Insan Istimewa (SMIS)</li>


            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Salinan Kad OKU atau Salinan Pengesahan Doktor</li>
              <li>Salinan slip pengundi Selangor boleh didapatkan di <a href="https://pengundi.spr.gov.my">www.pengundi.spr.gov.my</a> untuk Ibu / Bapa.</li>

            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Pendaftaran untuk menjadi pemegang kad ANIS akan dibuka di laman web Jabatan ANIS <a href="https://www.anisselangor.com/kadanis">https://www.anisselangor.com/kadanis</a></li>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Manfaat Yang Diperoleh Oleh Pemegang Kad Anis</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Voucher Farmasi</li>
              <li>Rawatan Perubatan</li>
              <li>Diskaun Tiket Aktiviti Rekreasi</li>
              <li>Simpanan Pendidikan</li>

            </ol>
          </div>
        </div>
      </div>
      <!--
      <div class="card shadow" style="margin-bottom: 10px">
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              
              <li>
                <b>Soalan:</b> Saya mempunyai 2 orang anak OKU, bolehkah saya memohon untuk kedua-dua anak saya? <br>
                <b>Jawapan:</b> Boleh. Permohonan hendaklah dibuat secara berasingan. 
              </li>
              <li>
                <b>Soalan:</b> Anak saya berumur 7 tahun, adakah boleh memohon?<br>
                <b>Jawapan:</b> Tidak boleh. Anak mestilah berumur 2 hingga 6 tahun. 
              </li>
              <li>
                <b>Soalan:</b> Adakah saya boleh memohon jika anak saya merupakan OKU bagi kategori fizikal?<br>
                <b>Jawapan:</b> Tidak boleh. Yang layak memohon adalah dari kategori OKU Pembelajaran yang tertentu seperti Autisme, ADHD, Global Develepomental Delay dan Down Syndrome.
              </li>
              <li>
                <b>Soalan:</b> Mengapa Pusat Sokongan Pendidikan Awal ANIS menerima golongan OKU Pembelajaran yang tertentu sahaja?<br>
                <b>Jawapan:</b> Pusat Sokongan Pendidikan Awal ANIS ingin menerima semua jenis OKU yang memerlukan intervensi awal. walaubagaimanapun untuk permulaan, berdasarkan kapasiti semasa Pusat ANIS dapat menerima sebahagian jenis OKU Pembelajaran sahaja.
              </li>
              <li>
                <b>Soalan:</b> Dimanakah saya boleh memohon bantuan ini?<br>

                <b>Jawapan:</b> Permohonan hanya boleh dibuat secara atas talian sahaja di www.anisselangor.com/intervensianis . Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.
              </li>

              <li>
                <b>Soalan:</b> Rumah saya jauh daripada Shah Alam. Dimanakah pejabat terdekat boleh saya hantar borang permohonan dan dokumen yang diperlukan?<br>

                <b>Jawapan:</b> Permohonan boleh diemelkan ke intervensianis@gmail.com  
              </li>
              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon bantuan ini untuk anak OKU saya?<br>

                <b>Jawapan:</b> Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. 
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri lahir di Selangor tetapi menetap di Perak, bolehkah saya memohon bantuan untuk anak OKU saya?<br>

                <b>Jawapan:</b> Tidak boleh. Pemohon mestilah sedang menetap di Selangor sahaja.
              </li>

              <li>
                <b>Soalan:</b> Saya lahir di Perak, isteri lahir di Selangor dan saya mempunyai anak autisme dan sedang menetap di Selangor. Layakkah kami memohon bantuan ini?<br>

                <b>Jawapan:</b> Layak.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor, anak OKU berumur 3 tahun, dan kami sedang menetap di Selangor sudah lebih 10 tahun. Bolehkah saya memohon?<br>

                <b>Jawapan:</b> Boleh, tetapi pemohon perlu mendapatkan cop pengesahan mastautin di ruangan pada borang permohonan. Sila rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan pengundi di Negeri Selangor, adakah boleh memohon?<br>

                <b>Jawapan:</b> Tidak boleh. Salah seorang dari ibubapa mestilah pengundi di Negeri Selangor.
              </li>

              <li>
                <b>Soalan:</b> Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap<br>

                <b>Jawapan:</b> Tidak. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.
              </li>


              
            </ol>
          </div>
        </div>
      </div>
    -->

      <%= link_to "Permohonan Baru Kad ANIS Kanak-Kanak", persesch_url(prog: "KAD ANIS", regkid: 1, tp: "KANAK-KANAK"), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Permohonan Baru Kad ANIS Dewasa", persesch_url(prog: "KAD ANIS", regkid: 1, tp: "DEWASA"), class: "btn btn-sm btn-warning btn-block"%>
      <%= link_to "Semak Permohonan", persesch_url(prog: "KAD ANIS"), class: "btn btn-sm btn-info btn-block"%>
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





