<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h4 style="color: white; font-weight: 550">Majlis Penasihat ANIS</h4>
    </div>
  </div>

</header>

<section id="team" class="team section-bg">
  <div class="container bg-light" data-aos="fade-up" style="text-align: center;">

    
    <div class="row justify-content-center">

      <!-- NEW MEMBER -->
      <div class="col-lg-4 col-md-6 col-sm-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-info" style="font-size: 12px; margin-top: -15px; margin-bottom: -15px">
            <h4 style="font-size: 12px;">PN HASNAH TORAN</h4>
            PROF MADYA<br><br>
          </div>
          <div class="member-img">
            <img src="<%= image_path('https://kidcare.my/anisdocs/mpa-pic/hasnah-toran.png') %>" width="300px" height="400px">
          </div>
          
          <!-- #### -->
          <div class="card shadow" style="margin-bottom: 10px">
            <!-- Card Header - Accordion -->
            <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h7 class="m-0 font-weight-bold text-title" style="font-size: 15px">Biodata Ringkas</h7>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="coll1">
              <div class="card-body" style="text-align: left; font-size: 12px">

                <p>
                  <b>MAKLUMAT AKADEMIK</b><br>
                  SARJANA PENDIDIKAN M.EDU / PENTADBIRAN PENDIDIKAN UKM ( 2002 – 2004). IJAZAH SARJANA MUDA B. EDU ( HONS) PENDIDIKAN KHAS / UKM (1994 – 1998)
                </p>

                <p>
                  <b>PENGALAMAN PEKERJAAN</b><br>
                  PENSYARAH FAKULTI PENDIDIKAN UKM
                </p>

                <p>
                  <b>BIDANG KEPAKARAN</b><br>
                  INTERVENSI AWAL AUTISME
                </p>

                <p>
                  <b>ANUGERAH</b><br>
                  KESATRIA MANGKU NEGARA ( KMN)
                </p>

              </div>
            </div>
          </div>
          <!-- #### -->
        </div>
      </div>
      <!-- END NEW MEMBER -->

      <!-- NEW MEMBER -->
      <div class="col-lg-4 col-md-6 col-sm-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-info" style="font-size: 12px; margin-top: -15px; margin-bottom: -15px">
            <h4 style="font-size: 12px;">PN FAHDA NUR AHMAD KAMAR</h4>
            PEGUAMBELA & PEGUAMACARA<br><br>
          </div>
          <div class="member-img">
            <img src="<%= image_path('https://kidcare.my/anisdocs/mpa-pic/fahda-kamar.png') %>" width="300px" height="400px">
          </div>
          
          <!-- #### -->
          <div class="card shadow" style="margin-bottom: 10px">
            <!-- Card Header - Accordion -->
            <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h7 class="m-0 font-weight-bold text-title" style="font-size: 15px">Biodata Ringkas</h7>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="coll2">
              <div class="card-body" style="text-align: left; font-size: 12px">

                <p>
                  <b>MAKLUMAT AKADEMIK</b><br>
                  SARJANA UNDANG- UNDANG ( UCL, LONDON ) . SARJANA MUDA UNDANG –UNDANG. DIPLOMA SYARIAH DAN AMALAN GUAMAN ( UIA)
                </p>

                <p>
                  <b>PENGALAMAN PEKERJAAN</b><br>
                  PEGUAMBELA & PENGUAMCARA ( 20 TAHUN)
                </p>

                <p>
                  <b>BIDANG KEPAKARAN</b><br>
                  UNDANG – UNDANG ANUGERAH 
                </p>

                <p>
                  <b>ANUGERAH</b><br>
                  ANUGERAH BELIA NEGARA, ANUGERAH BRITISH CHEVENING, ANUGERAH KOMANWEL,  ANUGERAH SIR JACK JAACOB Q.C
                </p>

              </div>
            </div>
          </div>
          <!-- #### -->
        </div>
      </div>
      <!-- END NEW MEMBER -->

      <!-- NEW MEMBER -->
      <div class="col-lg-4 col-md-6 col-sm-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-info" style="font-size: 12px; margin-top: -15px; margin-bottom: -15px">
            <h4 style="font-size: 12px;">PN NOR HASNIZAMBINTI PARMAN</h4>
            KETUA PENOLONG PENGARAH, SEKTOR PENDIDIKAN KHAS JPN SELANGOR
          </div>
          <div class="member-img">
            <img src="<%= image_path('https://kidcare.my/anisdocs/mpa-pic/hasni.png') %>" width="300px" height="400px">
          </div>
          
          <!-- #### -->
          <div class="card shadow" style="margin-bottom: 10px">
            <!-- Card Header - Accordion -->
            <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h7 class="m-0 font-weight-bold text-title" style="font-size: 15px">Biodata Ringkas</h7>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="coll3">
              <div class="card-body" style="text-align: left; font-size: 12px">

                <p>
                  <b>MAKLUMAT AKADEMIK</b><br>
                  SARJANA UNDANG- UNDANG ( UCL, LONDON ) . SARJANA MUDA UNDANG –UNDANG. DIPLOMA SYARIAH DAN AMALAN GUAMAN ( UIA)
                </p>

                <p>
                  <b>PENGALAMAN PEKERJAAN</b><br>
                  1990 – 1994 : GURU SANDARAN TIDAK TERLATIH DI PROGRAM PENDIDIKAN KHAS (PPKI) SK TELOK GADONG, KLANG<br>
                  2000 HINGGA 2004 : PENYELARAS PROGRAM PENDIDIKAN KHAS INTEGRASI (PPKI) DI SMK TELOK GADONG, KLANG<br>
                  2005 HINGGA 2009 : PENYELARAS PROGRAM PENDIDIKAN KHAS INTEGRASI (PPKI) DI SMK SAUJANA UTAMA (PERINTIS KELAS PPKI), KUALA SELANGOR<br>
                  16.4.2015 - 24.6.2015 : NAZIR SEKOLAH DG44 (KUP), JEMAAH NAZIR DAN JAMINAN KUALITI NEGERI SELANGOR<br>
                  25.6.2015 - 2.1.2020 : NAZIR SEKOLAH DG48 (KUP), UNIT PENDIDIKAN KHAS, SEKTOR PENAZIRAN KEPIMPINAN INSTITUSI PENDIDIKAN, JEMAAH NAZIR PUTRAJAYA<br>
                  03.1.2020 - 15.3.2020 : PENOLONG PENGARAH SEKTOR PENDIDIKAN KHAS, JABATAN PENDIDIKAN NEGERI SELANGOR<br>
                  16.3.2020 – KINI : KETUA PENOLONG PENGARAH, SEKTOR PENDIDIKAN KHAS, JABATAN PENDIDIKAN NEGERI SELANGOR<br>
                </p>

                <p>
                  <b>BIDANG KEPAKARAN</b><br>
                  PENDIDIKAN KHAS DAN PENGURUSAN DAN PENTADBIRAN PENDIDIKAN
                </p>

                <p>
                  <b>ANUGERAH</b><br>
                  ANUGERAH GURU PENDIDIKAN KHAS CEMERLANG TAHUN 2000 SEKOLAH MENENGAH, ANUGERAH PERKHIDMATAN CEMERLANG TAHUN 2007
                </p>

              </div>
            </div>
          </div>
          <!-- #### -->
        </div>
      </div>
      <!-- END NEW MEMBER -->

      <!-- NEW MEMBER -->
      <div class="col-lg-4 col-md-6 col-sm-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-info" style="font-size: 12px; margin-top: -15px; margin-bottom: -15px">
            <h4 style="font-size: 12px;">PROF MADYA DR HAMDAN BIN DATO’ HJ MOHD SALLEH</h4>
            TIMBALAN NAIB CANSELOR (PEMBANGUNAN PELAJAR & JARINGAN KOMUNITI) / PROFESOR MADYA, FAKULTI PENDIDIKAN & SAINS SOSIAL , UNIVERSITI SELANGOR (UNISEL)
          </div>
          <div class="member-img">
            <img src="<%= image_path('https://kidcare.my/anisdocs/mpa-pic/hamdan.png') %>" width="300px" height="400px">
          </div>
          
          <!-- #### -->
          <div class="card shadow" style="margin-bottom: 10px">
            <!-- Card Header - Accordion -->
            <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <h7 class="m-0 font-weight-bold text-title" style="font-size: 15px">Biodata Ringkas</h7>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="coll4">
              <div class="card-body" style="text-align: left; font-size: 12px">

                <p>
                  <b>MAKLUMAT AKADEMIK</b><br>
                  PHD SAINS SOSIAL (UNISEL) <br>
                  MASTER OF ARTS (UNIVERSITI MALAYA) <br>
                  SARJANA MUDA (KEP) SAINS KEMANUSIAAN (UIAM) <br>

                </p>

                <p>
                  <b>PENGALAMAN PEKERJAAN</b><br>
                  1990 – 1994 : GURU SANDARAN TIDAK TERLATIH DI PROGRAM PENDIDIKAN KHAS (PPKI) SK TELOK GADONG, KLANG<br>
                  2000 HINGGA 2004 : PENYELARAS PROGRAM PENDIDIKAN KHAS INTEGRASI (PPKI) DI SMK TELOK GADONG, KLANG<br>
                  2005 HINGGA 2009 : PENYELARAS PROGRAM PENDIDIKAN KHAS INTEGRASI (PPKI) DI SMK SAUJANA UTAMA (PERINTIS KELAS PPKI), KUALA SELANGOR<br>
                  16.4.2015 - 24.6.2015 : NAZIR SEKOLAH DG44 (KUP), JEMAAH NAZIR DAN JAMINAN KUALITI NEGERI SELANGOR<br>
                  25.6.2015 - 2.1.2020 : NAZIR SEKOLAH DG48 (KUP), UNIT PENDIDIKAN KHAS, SEKTOR PENAZIRAN KEPIMPINAN INSTITUSI PENDIDIKAN, JEMAAH NAZIR PUTRAJAYA<br>
                  03.1.2020 - 15.3.2020 : PENOLONG PENGARAH SEKTOR PENDIDIKAN KHAS, JABATAN PENDIDIKAN NEGERI SELANGOR<br>
                  16.3.2020 – KINI : KETUA PENOLONG PENGARAH, SEKTOR PENDIDIKAN KHAS, JABATAN PENDIDIKAN NEGERI SELANGOR<br>
                </p>

                <p>
                  <b>BIDANG KEPAKARAN</b><br>
                  PENDIDIKAN KHAS DAN PENGURUSAN DAN PENTADBIRAN PENDIDIKAN
                </p>

                <p>
                  <b>ANUGERAH</b><br>
                  ANUGERAH GURU PENDIDIKAN KHAS CEMERLANG TAHUN 2000 SEKOLAH MENENGAH, ANUGERAH PERKHIDMATAN CEMERLANG TAHUN 2007
                </p>

              </div>
            </div>
          </div>
          <!-- #### -->
        </div>
      </div>
      <!-- END NEW MEMBER -->

      

    </div>
</section>

