<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM PRA SEKOLAH ANIS</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program Prasekolah ANIS telah dibuka!<br>
    Dibuka Sepanjang Tahun
  </p>
  <p style="text-align: center; color: black">Sila Semak Status Permohanan Pada Butang Di Bawah</p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/prasekolah-2.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="<% image_path('https://kidcare.my/anisdocs/intervensi-docs.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="<% image_path('https://kidcare.my/anisdocs/intervensi-faq.jpeg')%>" style="width: 100%"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program Prasekolah ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Menyediakan peluang dan kemudahan pendidikan untuk murid-murid bekeperluan khas seiring dengan perkembangan murid</li>
                <li>Membina penanda aras kepada pengusaha-pengusaha tadika khusus di Negeri Selangor dalam menyediakan fasiliti pendidikan bagi murid bekeperluan khas.</li>
                <li>Membantu Ibu Bapa melibatkan diri bersama rangkaian kumpulan sokongan Anak Istimewa</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Ibubapa perlu mendaftar dan mengisi borang di laman web www.anisselangor.com/prasekolahanis dan menyediakan dokumen yang diperlukan.</li>
              <li>Para peserta yang layak akan menerima panggilan dan hadir pada hari taklimat yang ditetapkan oleh Pusat ANIS</li>
              <li>Pusat Sokongan Pendidikan Awal ANIS akan beroperasi seperti berikut:
                <div class="table table-responsive border" style="font-size:12px; margin-bottom:-10px">
                  <table class="table table-bordered shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
                    <thead>
                      <tr class="shadow">
                        <th style="background-color:#ffb2b2; width: 30%">HARI</th>
                        <th style="background-color:#ffb2b2; width: 10%">SESI</th>
                        <th style="background-color:#ffb2b2; width: 50%">MASA</th>
                        <th style="background-color:#ffb2b2; width: %">PERKHIDMATAN</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan=3>Isnin - Khamis</td>
                        <td>1</td>
                        <td>830am - 1230pm</td>
                        <td rowspan=3>Pusat Intervensi Awal ANIS</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>130pm - 530pm</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <i>Ringkasan Sesi Prasekolah ANIS:</i>
                <ol type="i">
                  <li>Setiap peserta akan mengikuti kelas 4 hari seminggu dan tempoh masa bagi setiap hari ialah selama 4 jam. Setiap sesi peserta akan diatur oleh pihak Pusat ANIS.</li>
                  <li>Tempoh masa yang diperuntukkan kepada pemohon yang berjaya untuk menjalani program prasekolah ialah selama 2 tahun.</li>
                  <li>Pusat Prasekolah ANIS tidak menyediakan pusat jagaan bagi pelajar yang diterima ke Program Prasekolah ANIS.</li>
                  <li>Sepanjang peserta menjalani sesi Intervensi Awal di Pusat ANIS, peserta akan mendapat laporan lengkap prestasi semasa pada pertengahan dan penghujung tahun sesi.</li>
                </ol>
              </li>
              
              
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia</li>
              <li>Terbuka kepada semua Anak Istimewa kelahiran Negeri Selangor bagi kategori Kurang Upaya Pembelajaran (Autisme, ADHD, Global Developmental Delay dan Down Syndrome) yang berumur antara 5 – 6 tahun.</li>
              <li>Pernah mengikuti Program Intervensi Awal <b>selama 1 tahun minimum.</b></li>
              <li>Pendaftaran dibuka kepada golongan B40 dan M40.</li>
              <li>Ibu/bapa/penjaga merupakan pengundi di Negeri Selangor</li>
              <li>Ibu/bapa/penjaga lahir di Negeri Selangor dan sedang menetap di Selangor; ATAU
              Ibu/bapa/penjaga bukan kelahiran Selangor dan sedang menetap di Selangor minimum 10 tahun (perlu mendapatkan cop pengesahan mastautin daripada pengesah yang dibenarkan)</li>
              <li>Sekiranya penjaga merupakan ibu bapa angkat maka pengangkatan hendaklah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN) dan Akta Pengangkatan 1973</li>
              <li>Ibu bapa boleh memberi komitmen yang tinggi sepanjang anak berada di Pusat ANIS.</li>
              <li>Melengkapkan permohonan dan melampirkan dokumen sokongan.</li>


            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Maklumat Penting Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Bagi ibubapa/penjaga yang bukan kelahiran Negeri Selangor perlu mendapatkan Cop Pengesahan Taraf Mastautin daripada Pegawai Pengesah di kawasan tempat tinggal pemohon</li>

              <li>Senarai Jawatan Pegawai Pengesah yang dibenarkan adalah seperti berikut:
                <ol type="i">
                  <li>Ahli Parlimen / Senator</li>
                  <li>ADUN / Pengerusi JK Penyelaras DUN</li>
                  <li>Penghulu / Ketua Kampung</li>
                  <li>Ahli Majlis Pihak Berkuasa Tempatan</li>
                  <li>Pengerusi Taman Perumahan / Ketua Blok</li>
                  <li>Masjid / Pengerusi Surau / Ketua Tokong / Ketua Kuil / Ketua Gereja / Ketua Komuniti</li>
                </ol>
              </li>
              <li>Sekiranya ibubapa/penjaga mempunyai anak OKU lebih daripada seorang, maka permohonan hendaklah dibuat secara berasingan</li>

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Salinan Kad Pengenalan pemohon</li>
              <li>Salinan Kad Pengenalan pasangan</li>
              <li>Salinan Kad Pengenalan Anak</li>
              <li>Salinan Kad OKU anak (jika ada)</li>
              <li>Salinan Diagnosis dari doktor yang bertauliah</li>
              <li>Salinan Sijil Daftar / Kad Nikah Ibu Bapa</li>
              <li>Salinan Surat Perakuan Anak Angkat (jika berkenaan)</li>
              <li>Cop Pengesahan Mastautin yang disahkan pada borang permohonan (Rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan sahaja)</li>
              <li>Salinan slip gaji ibu DAN bapa</li>
              <li>Salinan slip Semakan Daftar Pemilih SPR didapatkan di <a href="https://pengundi.spr.gov.my">www.pengundi.spr.gov.my</a></li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/prasekolahanis">www.anisselangor.com/prasekolahanis</a></li>
              <li>Borang permohonan hendaklah dicetak dan dihantar bersama dengan dokumen yang lengkap dalam tempoh 14 hari bekerja dari tarikh permohonan.</li>
              <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
              <li>Borang permohonan dan dokumen boleh dihantar melalui salah satu kaedah seperti berikut:
                <ol type="a">
                  <li>Penghantaran melalui emel di prasekolahanis@gmail.com ; <b>ATAU</b></li>
                  <li>Hantar ke pejabat Yayasan Warisan Anak Selangor (YAWAS) di alamat:</li>
                </ol>
                <p align="center" style="margin-top: 10px">
                  <b>Pusat Sokongan Pendidikan Awal ANIS</b><br>
                  Yayasan Warisan Anak Selangor<br>
                  Lot G26-G28 Tingkat G, Bangunan IDCC,<br>
                  Jalan Pahat L 15/L, Seksyen 15, 40200 Shah Alam<br>
                  Hotline : 03-55453170 (Pusat ANIS)<br> / 03 – 54818800 (YAWAS – HQ)
              </p>
              </li>
            </ol>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Intervensi ANIS</b>
              <img src="<%= image_path('https://kidcare.my/anisdocs/intervensi-flow.jpeg')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="card shadow" style="margin-bottom: 10px">
        
        <a href="#coll5ii" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Yuran Pengajian Pusat Anak Istimewa Selangor, YAWAS</h6>
        </a>
       
        <div class="collapse" id="coll5ii">
          <div class="card-body"  style="text-align: justif">
           

          <div class="cards shadow mb-4">
            
            <div class="card-body">
              
              <div class="table table-responsive border" style="font-size:12px">
                <table class="table table-bordered shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
                  <thead>
                    <tr class="shadow">
                      <th style="background-color:#ffb2b2; width: %">NO</th>
                      <th style="background-color:#ffb2b2; width: %">JULAT PENDAPATAN KELUARGA</th>
                      <th style="background-color:#ffb2b2; width: %">YURAN</th>
                      <th style="background-color:#ffb2b2; width: 30%">POTONGAN JIKA ANAK OKU LEBIH DARI SEORANG</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>1</td>
                      <td>Kurang dari RM 5,000</td>
                      <td>Dikecualikan Bayaran</td>
                      <td>-</td>
                    </tr>

                    <tr>
                      <td>2</td>
                      <td>RM 5,001 - RM 6,000</td>
                      <td>RM 50</td>
                      <td rowspan="2" align="center" style="vertical-align : middle;text-align:center;">50%</td>
                    </tr>

                    <tr>
                      <td>3</td>
                      <td>RM 6,001 - RM 8,000</td>
                      <td>RM 70</td>          
                    </tr>

                    <tr>
                      <td>4</td>
                      <td>RM 8,001 - RM 10,000</td>
                      <td>RM 90</td> 
                      <td align="center" style="vertical-align : middle;text-align:center;">30%</td>         
                    </tr>

                    <tr>
                      <td>5</td>
                      <td>RM 10,001 - RM 12,000</td>
                      <td>RM 110</td>
                      <td rowspan="3" align="center" style="vertical-align : middle;text-align:center;">25%</td>
                    </tr>

                    <tr>
                      <td>6</td>
                      <td>RM 12,001 - RM 14,000</td>
                      <td>RM 130</td>
                    </tr>

                    <tr>
                      <td>7</td>
                      <td>RM 14,001 - RM 16,000</td>
                      <td>RM 150</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>

          
          </div>
        </div>
      </div> -->

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              
              <li>
                <b>Soalan:</b> Saya mempunyai 2 orang anak OKU, bolehkah saya memohon untuk kedua-dua anak saya? <br>
                <b>Jawapan:</b> Boleh. Permohonan hendaklah dibuat secara berasingan. 
              </li>
              <li>
                <b>Soalan:</b> Anak saya berumur 7 tahun, adakah boleh memohon?<br>
                <b>Jawapan:</b> Tidak boleh. Anak mestilah berumur 5 hingga 6 tahun. 
              </li>
              <li>
                <b>Soalan:</b> Adakah saya boleh memohon jika anak saya tidak pernah mengikuti mana-mana program EIP?<br>
                <b>Jawapan:</b> Bagi yang tidak pernah mengikuti program EIP boleh membuat pendaftaran di Program Intervensi Awal ANIS untuk permulaan di pautan ini www.anisselangor.com/intervensianis
              </li>
              <li>
                <b>Soalan:</b> Mengapa Pusat Sokongan Pendidikan Awal ANIS menerima golongan OKU Pembelajaran yang tertentu sahaja?<br>
                <b>Jawapan:</b> Pusat Sokongan Pendidikan Awal ANIS ingin menerima semua jenis OKU yang memerlukan intervensi awal. walaubagaimanapun untuk permulaan, berdasarkan kapasiti semasa Pusat ANIS dapat menerima sebahagian jenis OKU Pembelajaran sahaja.
              </li>
              <li>
                <b>Soalan:</b> Dimanakah saya boleh memohon bantuan ini?<br>

                <b>Jawapan:</b> Permohonan hanya boleh dibuat secara atas talian sahaja di www.anisselangor.com/prasekolah. Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.
              </li>

              <li>
                <b>Soalan:</b> Rumah saya jauh daripada Shah Alam. Dimanakah pejabat terdekat boleh saya hantar borang permohonan dan dokumen yang diperlukan?<br>

                <b>Jawapan:</b> Permohonan boleh diemelkan ke prasekolah@gmail.com  
              </li>
              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon bantuan ini untuk anak OKU saya?<br>

                <b>Jawapan:</b> Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. 
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri lahir di Selangor tetapi menetap di Terengganu, bolehkah saya memohon bantuan untuk anak OKU saya?<br>

                <b>Jawapan:</b> Tidak boleh. Pemohon mestilah sedang menetap di Selangor sahaja.
              </li>

              <li>
                <b>Soalan:</b> Saya lahir di Johor, isteri lahir di Selangor dan saya mempunyai anak autisme dan sedang menetap di Selangor. Layakkah kami memohon bantuan ini?<br>

                <b>Jawapan:</b> Layak.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor, anak OKU berumur 5 tahun, dan kami sedang menetap di Selangor sudah lebih 10 tahun. Bolehkah saya memohon?<br>

                <b>Jawapan:</b> Boleh, tetapi pemohon perlu mendapatkan cop pengesahan mastautin di ruangan pada borang permohonan. Sila rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan pengundi di Negeri Selangor, adakah boleh memohon?<br>

                <b>Jawapan:</b> Tidak boleh. Salah seorang dari ibubapa mestilah pengundi di Negeri Selangor.
              </li>

              <li>
                <b>Soalan:</b> Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap<br>

                <b>Jawapan:</b> Tidak. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.
              </li>


              
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Permohonan Baru", persesch_url(prog: "PRASEKOLAH ANIS", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Semak Permohonan", persesch_url(prog: "PRASEKOLAH ANIS"), class: "btn btn-sm btn-info btn-block"%>
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





