<%
  a=[
    ["Brainy Bunch Saujana Impian Kajang 1 ", "016-229 1304", "No.61 Jalam Impian Gemilang 1/5, Saujana Impian, 43000 Kajang, Selangor"],
    ["Brainy Bunch Islamic Montessori (Seksyen15)", "016-229 4267",  "Seksyen 15, 43650 Bandar Baru Bangi, Selangor"],
    ["Brainy Bunch International School and Headquarters",  "019 2680545", "Brainy Bunch Complex @ Raudhah City, Jalan SP 10/1, Selangor Cyber Valley, Cyberjaya, 63000, Selangor"],
["Brainy Bunch Bandar Botanic", "016-229 3785",  "30, Jalan Kasuarina 6, Bandar Botanik, 41200 Klang, Selangor"],
["Brainy Bunch Alam Budiman", "019-268 1425",  "No. 2, Jalan Pulau Lumut P U10, 76g, Taman, Alam Budiman, 40150 Shah Alam, Selangor"],
["Brainy Bunch Equine Park",  "019-268 0832",  "NO 2, Jln Equine 6D, Taman Equine, 43300 Seri Kembangan, Selangor"],
["Brainy Bunch KL Sentral", "016 229 1348",  "Block C Tingkat 3A, Platinum Sentral, 50470 Kuala Lumpur, Federal Territory of Kuala Lumpur"],
["Brainy Bunch Saujana Utama",  "016-229 1615",  "No. 50, Jln BS 2/1, Bandar Saujana Utama, 47000 Sungai Buloh, Selangor"],
["Brainy Bunch Semenyih", "016-210 0549",  "No., 1, Jalan Tps 2/4, Taman Pelangi Semenyih, 43500 Semenyih, Selangor"],
["Brainy Bunch Seksyen 11, Shah Alam",  "011-3377 6977 46", "Jalan Semerit 11/10, Seksyen 11, 40100 Shah Alam, Selangor"],
["Brainy Bunch Puchong Utama",  "016-229 1349",  "Dataran Puchong Block B , B-1, 3, Jalan Pu 7/1, Taman Puchong Utama, 47140 Puchong, Selangor"]
  ]

b=[
  ["Genius Aulad Kelana Jaya","012 6518100","A-1-11 Dataran GLOMAC, Jalan SS 6/5a, Ss 6, 47301 Petaling Jaya, Selangor"],
["Genius Aulad Setia Alam","012-6724826","7-1 Jalan Setia Prima (S) U13/S Setia Alam, Seksyen U13, 40170 Shah Alam, Selangor"],
["Genius Aulad Taman Samudera, Gombak","017 7787342","No 20, Jalan Samudera Utama, Taman Samudra, 68100 Batu Caves, Selangor"],
["Genius Aulad The Prime Puchong Utama","013-2546500","The Prime Puchong Utama, B-1-2 & B-2-1, Block B, Dataran Puchong, Jalan PU 7/1a, Taman Puchong Utama, 47100 Puchong, Selangor"],
["Genius Aulad Kajang","017 6654166","No 76-2 & 76, 3, Jalan TTDI Grove 1/1, Taman Ttdi Grove, 43000 Kajang, Selangor"],
["Genius Aulad Kota Kemuning","019 3465472","31/Y, 8A, 8B, 8C, Jalan Anggerik Vanilla, Kota Kemuning, 40460, Selangor"],
["Genius Aulad Seksyen 14, Shah Alam","016-4103890","No B-G-6 Vista Alam, 1, 14, Jalan Ikhtisas, Seksyen 14, 40000 Shah Alam, Selangor"],
["GENIUS AULAD Corporate Headquarters","013-300 3749 /","The Prime, C-9 Block C Dataran Puchong, Jalan PU 7/1a, 47140 Puchong, Selangor"],
["","017-888 2996",""],
["Genius Aulad Bandar Baru Bangi","03-8927 5377","No 19A & 19B, Jln Medan Pusat 2d, Seksyen 8, 43650 Bandar Baru Bangi, Selangor"],
["Genius Aulad Cyberjaya","012-308 9100","B-1-9, Fiesta Cybersquare, Jalan Teknokrat 6, Persiaran Multimedia, 63000 Cyberjaya, Selangor"]
]

c=[
  ["Tadika Sri Bidadari","016-626 2975","Jalan Tun Razak, Taman Sri Andalas, 41200 Klang, Selangor"],
["Tadika Twinkle Star","0183596892","7, Jalan Wawasan 3/1, Kelab Golf di Raja Selangor, 68000 Ampang, Selangor"],
["Tadika Potensi Si Cilik","012-672 4800","678, Jalan E 5/2, Taman Ehsan, 52100 Kuala Lumpur, Selangor"],
["Cutie Cottage Kindergarten & Child Care Centre","0185770847","Uptown 2, Unit 2A, Terrace Level, Jalan SS21/37, Damansara Utama, 47400 Petaling Jaya, Selangor"],
["Tadika Adiwira Superheroes Kinderland","019-9321591","No 73, Jln Suria Villa 3, 43200 Cheras, Selangor"]
]

d=[
  ["Alfikh Orchard-Tadika Annajiya","013-687 5792","69, Jln Kebun Nenas 5B/KS8, Bandar Putera 2, 41200 Klang, Selangor"]
]

%>
<meta name="viewport" content="width=1440">

<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">Rakan Anis</h3>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr>
          <th style="background-color:#ccccff; text-align:center" colspan="3">BRAINY BUNCH</th>
        </tr>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA TADIKA</th>
          <th style="background-color:#ffb2b2; width: 10%">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          
        </tr>
      </thead>
      <tbody>
        <% a.each do |n| %>
          <tr>
            <td><b><%= n[0] %></b></td>
            <td><%= n[1] %></td>
            <td><%= n[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr>
          <th style="background-color:#ccccff; text-align:center" colspan="3">GENIUS AULAD</th>
        </tr>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA TADIKA</th>
          <th style="background-color:#ffb2b2; width: 10%">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          
        </tr>
      </thead>
      <tbody>
        <% b.each do |n| %>
          <tr>
            <td><b><%= n[0] %></b></td>
            <td><%= n[1] %></td>
            <td><%= n[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr>
          <th style="background-color:#ccccff; text-align:center" colspan="3">PERSATUAN TADIKA MALAYSIA (PTM)</th>
        </tr>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA TADIKA</th>
          <th style="background-color:#ffb2b2; width: 10%">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          
        </tr>
      </thead>
      <tbody>
        <% c.each do |n| %>
          <tr>
            <td><b><%= n[0] %></b></td>
            <td><%= n[1] %></td>
            <td><%= n[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr>
          <th style="background-color:#ccccff; text-align:center" colspan="3">PERSATUAN TADIKA ISLAM MALAYSIA (PERTIM)</th>
        </tr>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA TADIKA</th>
          <th style="background-color:#ffb2b2; width: 10%">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          
        </tr>
      </thead>
      <tbody>
        <% d.each do |n| %>
          <tr>
            <td><b><%= n[0] %></b></td>
            <td><%= n[1] %></td>
            <td><%= n[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>