<%
  a="PDK BDR BOTANIC, KLANG 
NO.24 JLN PENAGA 7/KS 6 BANDAR BOTANIC 412000 KLANG 
UMMI HAFILDA BINTI ZULKIFLI 
pdkbotanic@yahoo.com  
03-33187575

PDK KLANG SELATAN 
NO 35 JALAN EMAS OFF JALAN MELAWIS, 41100 KLANG 
BAHYAH ANUAR  
pdkklangselatan@yahoo.com 
03-33719091

PDK KLANG UTARA 
NO.2, JALAN HARAPAN 7E/KU7 TAMAN SUNGAI INDAH 42210 KAPAR KLANG 
NORLEEDA BTE HJ MOHD LAZAR  
leedalazar@yahoo.com  
03-32928794 / 018-2215419

PDK MERU, KLANG 
NO 2 JALAN JAMBU BATU 4/KU 10 PERMAI 42200 MERU KLANG SELANGOR  
NOOR HIYATI BINTI JAMALUDIN 
hiryatijamaludinhj2016@gmail.com  
03-33920155

PDK PENYAYANG 
BATU 36, KOMPLEKS PENGHULU KAMPUNG BUKIT CHANGGANG 42700 BANTING  
ROSLINA BT BASAR  
pdkpenyayangbukitchanggang@gmail.com  
03-41491354

PDK PERMATA KASIH 
BALAI RAYA, JALAN PARIT A, KG. TG SEPAT, 42800 TG SEPAT 
RAZLIAH BINTI SAIRAN  
pdktanjungsepat@gmail.com 
0111-5077908

PDK RUMAH SAYANGKU  
KOMPLEKS KOMUNITI TAMAN DATO' HORMAT TELOK PANGLIMA GARANG  
UMI KALSOM BT SAONEL  
pdktelokpanglimagarang@gmail.com  
03-31228145

PDK TELOK DATOK 
NO.44, JALAN CEMPAKA TAMAN SERI TELOK DATOK 42700 BANTING 
SUMATHY A/P MARIMUTHU 
pdktelokdatok@gmail.com 
03-31816587

PDK SERI INTAN  
TAMAN FERI 45200 SABAK BERNAM 
ROKIAH BT SHAFEI  
pdkseriintan@yahoo.com  
03-32161522

PDK SERI JAYA 
LOT 1757 KAMPUNG MERBAU JAYA PARIT 16 SUNGAI PANJANG 45300 SUNGAI BESAR 
ROZIELAH BT MARDI 
rozielah1213@gmail.com  
03-32161787

PDK SERI NAKHODA  
TAMAN SERI NAKHODA SIMPANG 4 BNO 45200 SABAK BERNAM 
NORMAH BT ABAS  
pdkserinakhoda@yahoo.com  
03-32137446

PDK SERI PANGLIMA 
PEKET 100 SIMPANG 5 45300 SG BESAR  
JORIAH BT ATAN  
Ju_atan67@yahoo.com 
013-2667914 \ 013-3101441

PDK SERI PURNAMA  
PT 4681 TAMAN CAHAYA 45300 SUNGAI BESAR 
PUZIAH BT MOHAMED YUSOFF  
puziahyusoff@yahoo.com  
03-32243672

PDK SERI QASEH  
LOT 8526 JALAN PARIT 12 1/2 TIMUR KG BAGAN TERAP 45300 SUNGAI BESAR 
SITI ROZIANA BT HUSSIN  
sitirozianahussin@gmail.com 
013-3451124

PDK SERI SETIA  
511 JALAN SEKOLAH PASIR PANJANG 45400 SEKINCHAN 
MUSLIMAH BT SAID  
pdkserisetia@gmail.com  
03-32413221 / 03-32410098

PDK KAJANG  
NO 48 JALAN KP 3/2 TAMAN KAJANG PRIMA 43000 KAJANG  
NORIZAN BT NORDIN 
pdkajang@yahoo.com  
03-87405973

PDK NANDING 
NO 36 JALAN CEMPAKA 2 TAMAN DESA RAYA 43100 HULU LANGAT 
MARIANA BINTI OTHMAN  
pdknanding@gmail.com  
03-90252995

PDK SEMENYIH  
LOT 1815 JALAN BESAR SEREMBAN SEMENYIH 43500 SEMENYIH 
NORAINI BT SARUJI 
pdksemenyih@yahoo.com 
03-87234007

PDK BATANG KALI 
NO.2 JALAN MAHAGONI 3C/3 SEKSYEN 4 BANDAR UTAMA BATANG KALI AIDAH BT MD SAHAT 
aidamasaida@yahoo.com 
017-3356960

PDK BUKIT BERUNTUNG 
NO 17 JALAN KEKWA 4B SEKSYEN BB2 BUKIT BERUNTUNG 48300 RAWANG 
SUZANA BT MOHAMAD SANI  
cikadamaya34@gmail.com  
03-60282028

PDK FELDA GEDANGSA  
BANGUNAN JKKK FELDA GEDANGSA 44020 KUALA KUBU BHARU 
KHAIRULLAILIAH BT MOHD RANI 
pdkgedangsa@yahoo.com 
03-60461026

PDK FELDA SOEHARTO  
JALAN PEJABAT FELDA SOEHARTO 44010 KUALA KUBU BHARU 
SALASIAH BT TUN MUSA  
pdksoeharto@yahoo.com 
03-60641032

PDK KALUMPANG 
LOT 113, JALAN BESAR KAMPUNG GUMUT TAMBAHAN 44100 KALUMPANG 
CHE RUSNAH BT WAHID 
pdkkalumpang@gmail.com  
03-60492136

PDK KUALA KUBU BHARU  
JKR 230 JALAN SYED MASHOR 44000 KUALA KUBU BHARU  
NORIANI BT HJ SAMAN 
pdkkualakububharu@yahoo.com 
03-60644620

PDK PUNCAK JALINAN KASIH  
JKR 563 RUMAH PENGHULU LAMA 44300 BATANG KALI 
JULIA BT HJ MASAN 
pjkpdk@gmail.com  
03-60571406

PDK SAUJANA UTAMA 
PT 5044 JALAN LILI 2 SAUJANA UTAMA 47000 SUNGAI BULOH 
ASMAYAZA BT YAMAN 
yayayaman66@gmail.com 
019-3165 297

PDK SERI CAHAYA 
LOT 1484 A KM 0.5 JALAN BAKTI SIMPANG TIGA IJOK 45600 BESTARI JAYA  
ROKIAH BINTI HASHIM 
pdksericahaya1996@gmail.com 
019-2404732 / 03-32791597

PDK SUNGAI CHOH 
PT 192 KG DAMAI TAMBAHAN (KG BARU) 48200 SERENDAH 
ZAKINAH BT HASSAN 
pdk.sgchoh@yahoo.com  
03-60811263

PDK TAMAN PENGGAWA  
JALAN PERSIARAN PENDIDIKAN 45000 KUALA SELANGOR 
HAMIZAH BT RASHID 
hamizah@yahoo.com 
03-32600611

PDK TANJONG KARANG  
LOT 19447 JALAN SUNGAI KAJANG BARU KAMPUNG SUNGAI KAJANG 45500 TANJONG KARANG 
ROSIMAH BT MESIR  
rosimahmesir1210@gmail.com  
013-2120 643 / 03-32681094

PDK TITIAN MURNI  
KG. DESA MAJU SG TENGI 44010 KUALA KUBU BHARU 
JALIAH BT IBRAHIM 
jaliahibrahim64@gmail.com 
03-60422103

PDK ARA 
B-1-06 JALAN PJU 1A/4AB PUSAT DAGANGAN NZX ARA JAYA 47301 PETALING JAYA 
NATALIA SUBASHINI DAVID 
pdkara10@gmail.com  
012-3772431

PDK NUR QAYYUM  
NO 2 JALAN 14/57 SEKSYEN 14 46100 PETALING JAYA NUR AINA 
SYAMIMIE BT ISMAIL  
penyelia.pdknq@gmail.com  
03-79322414

PDK SOFEA 
A001 Selasih Apartment Jalan PJU 10/1C Damansara Damai 47830 PJ Selangor  
MUSLIZA BINTI MOHAMED 
lizakrtlestari85@yahoo.commy  
03-61433445

PDK TAMAN KANAGAPURAM 
LOT 5364 JALAN 18/22 TAMAN KANAGAPURAM SEKSYEN 18 46000 PETALING JAYA 
AZLAN BIN ABDUL MANAF 
Azam_1433@yahoo.com.my  
03-77813919

PDK MUTIARA HATIKU  
NO 15 JALAN RESAK 3/12 SEKSYEN 3 40000 SHAH ALAM  
SURIATY BINTI NASIR 
pdkmutiarahatiku_19@yahoo.com 
03-5523 8350

PDK SUNGAI BULOH  
BALAI RAYA JKKK PAYA JARAS HULU BATU 14 1/2 47000 SUNGAI BULOH  
SAPURA BT ARSHAD  
pdksungaibuloh@gmail.com  
03-61574301

PDK CAHAYA KASIH  
NO.13 JALAN SS 14/2 47500 SUBANG JAYA 
NOORIDA BINTI ARIIFIN 
pdk@cahayakasihsj@gmail.com 
03-58861927 / 017-6909658

PDK PERMATA HATI  
NO.19, JALAN PP20 TAMAN PINGGIRAN PUTRA PERMAI 43300 SERI KEMBANGAN 
SITI AISYAH BINTI DAHARI  
aisyahfann98@gmail.com
03-89381475 / 019-6799212

PDK BATU ARANG  
JALAN O/C 8, 48100 BATU ARANG 
HJH JAMILAH BT AWANG  
Jamilah_awang62@yahoo.com 
03-60351140

PDK HULU KLANG  
BLOK A, DEWAN TMN AR – RIDUAN HULU KLANG AMPANG 
SUHAILA BT ABDUL MANAP  
suhailaabdulmanap@gmail.com 
03– 41079162

PDK KAMII 
1803, LORONG BUNGA RAYA BATU 5 ½ JALAN GOMBAK 53100 GOMBAK SETIA  
SITI RABIATUL ADAWIYAH BT WAHID 
pdkkamii@gmail.com  
03-61853776

PDK KASIH TEMPLER 
NO 4 JALAN MELATI 6 TAMAN SERI MELATI 68100 BATU CAVES  
FAZIAH BT AHMAD 
pdkkasihtemplerautisme@gmail.com  
03-61381228

PDK RAWANG  
11B JALAN TERATAI, KAMPUNG KENANGA, RAWANG  
HASLINDA BINTI MD LAHIN 
pdkrawang@gmail.com 
03-60929952

PDK SELAYANG  
NO 7078 JALAN 12 TAMAN SELAYANG BARU 68100 BATU CAVES 
NORAINI BT OTHMAN 
pdkselayang@gmail.com 
03-91373467

PDK SRI KUNDANG 
B 38, KG. MELAYU SERI KUNDANG 48050 RAWANG  
ROSITA BT OMAR  
Arfiian65@yahoo.com 
03-60343242

PDK TAMAN EHSAN 
DEWAN PDK JALAN E2/1, TAMAN EHSAN KEPONG 52100, SELANGOR  
YATI A/P NGAH 
pdkmnehsan@yahoo.com  
03-62770077 / 019-4324870

PDK TAMAN SERI GOMBAK 
NO 60 JLN SG 9/6 TAMAN SERI GOMBAK 61800 BATU CAVES 
HJH ZAHARAH BT ALI  
pdkserigombak@gmail.com 
03-61850622 / 019-3073247

PDK @PLPP 
PUSAT LATIHAN PERINDUSTRIAN DAN PEMULIHAN ORANG KURANG UPAYA BANGI, NO 1 JALAN SUNGAI MERAB SELANGOR 43000 KAJANG, MALAYSIA 
ROHEIDA BT ZAKARIA  
hannahserdang@gmail.com 
03-89208371

PDK RUMAH IMPIANKU  
JALAN BALAIRAYA KG BUKIT BANGKONG 43950 SG PELEK SEPANG 
HAIRIZAN BIN YATIM  
pdkrumahimpianku@gmail.com  
016-9865790

PDK RUMAH KASEH PUTRA PERDANA 
NO. 2 JALAN PUTRA PERDANA 6/27, TAMAN PUTRA PERDANA 47130 PUCHONG SELANGOR  
NORHARTINI BT ABDULLAH  
hatini.kimz@gmail.com 
03-83209301

PDK RUMAH PAYUNG BBST 
JKR 425/1 JLN STY 1B/4 KUARTERS KERAJAAN BANDAR BARU SALAK TINGGI 43900 SEPANG  
SITI HAJAR BT DOLLAH  
sitihajardollah@ymail.com 
03-87061404"
%>
<meta name="viewport" content="width=1440">

<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">Senarai Pusat Pemilihan Dalam Komuniti (PPDK) Selangor</h3>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          <th style="background-color:#ffb2b2; width: ">PENYELIA</th>
          <th style="background-color:#ffb2b2; width: ">EMAIL</th>
          <th style="background-color:#ffb2b2; width: ">NO TELEFON</th>
        </tr>
      </thead>
      <tbody>
        <% a.split("\n\n").each do |n| %>
          <% modf = n.split("\n") %>
          <tr>
            <td><b><%= modf[0] %></b></td>
            <td><%= modf[1] %></td>
            <td><%= modf[2] %></td>
            <td><%= modf[3] %></td>
            <td><%= modf[4] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>