<%
  a=[
    ["RYANS SPECIAL NEEDS CARE CENTRE","No.82A, Jalan Diplomatik , Presint 15, 62050, Putrajaya","0176262103","ryanscarecentre@gmail.com"],
["MAKMAL PEMBELAJARAN AUTISME, UKM","Bangunan Tunas UKM Fakulti Pendidikan UKM","0389217144/ 5945","makmalautisme@ukm.edu.my"],
["PUSAT JAGAAN AUTISME CSEAT","No D-1-12 & D-2-12 Jalan #/38 A, Seksyen 3 43650 Bandar baru Bangi","0122444135","cseat.bangi@gmail.com"],
["KIDDOS PLAY LAB. REHAB. CENTRE","27-1 Jalan Bungan Kantan 1, Taman Bunga Kantan 43000 Kajang, Selangor","01139692257","kiddosplaylab@gmail.com"],
["SI WORLD A PLACE FOR THE SPECIAL NEEDS (KLANG BRANCH)","Klang","0162259828","siworldmal@yahoo.com"],
["PERSATUAN KEBANGSAAN AUTISME MALAYSIA","No 5 Lorong Sepat 2, Taman Bertek Teluk Pulai 41300 Klang","0333732991","klang@nasom.org.my"],
["PERSATUAN DYSLEXIA SELANGOR","No 12 A Jalan Bayu Tinggi 2A, Bandar Botanik 41200 Klang","0127329743","dyslexia.selangor@gmail.com"],
["ORLIN SPECIAL EDUCATION SDN BHD","No 10 A & 12 A Jalan Perak, Presint 15, 62050 Putrajaya","0388614209 / 012-2846251","orlinedc@gmail.com"],
["WQ PARK HEALTH AND REHABILITATION CENTRE BANGI","No 21-1 Jalan Puteri @A/1 Bandar Puteri bangi 43300 Kajang","0389221346","amirah@wqpark.com.my"],
["MENTARI THERAPY& LEARNING CENTRE","No 16- Jalan SP 1/2 Bandar saujana Putra 42610 Jenjarom","0132951680","raszsuccess@gmail.com"],
["GENIUS WORLD SOLUTION","NO 3 & 5 , Jalan Opera J, U2/J Pusat Perdagangan Jayamas 3, Taman TTDI Jaya 40150 Shah Alam","0122323592","geniusworldsolution@gmail.com"],
["PERSATUAN KEBAJIKAN EMMANUEL PJ, SELANGOR","5-4 Jalan PJU 1/39 Dataran Prima 47301 Petaling Jaya","0378065660",""],
["QAMARA THERAPHY AND SPECIAL EDUCATION SDN BHD","No 67-2 & 65-2 Pusat Komersial TSB, Jalan Natika, A U20/A, Seksyen U20,Sungai Buloh 40160 Shah Alam","0361517595","accnt.qtse@gmail.com"],
["OHANA INTERVENTION THERAPY & SPECIAL EDU","No 36-3 jalan Nova K U5/K Subang Bestari 40150 Shah ALAm","01169865386 / 0163501694","ohanacentreedu.webs.com"],
["MANOTS THERAPY AND DEVELOPMENT CENTRE","F-1-29 Vista Alam No 3 Presint 4,5 Jln Ikhtisas 14/1 Sek 14 40000 Shah Alam","01128232194","manots.centre@gmail.com"],
["JAWHAR CARE CENTRE","No 8 - 1 Jalan PPS 1 Pusat Perdagangan Selaseh Batu Caves 68100","0361771940","jawharcarecentre@gmail.com"],
["SMART INTEGRATED THERAPY","No 51 Jalan Bola Jaring 13/15, Seksyen 13 Shah ALam","03 55234538 / 016 3304539","sitshahalam@gmail.com"],
["HATCHING PLAY. LEARN.GROW. EXCEL","Unit A01 - 1 Plaza Kelana Jaya, Jalan SS7/13 A Petaling Jaya, 47301 Selangor","011 11338518","info@hatchingcenter.org"],
["PERSATUAN DYSLEXIA MALAYSIA","No 6 Persiaran Kuantan Off Jalan Kuantan, Titiwangsa Setapak 53100 Kuala Lumpur","03 40316833 01128351761","dyslexiagenius@gmail.com"],
["IDEAS INSTITUTE FOR DEMOCRACY AND ECONOMIC AFFAIRS","The Lower Penthouse Wisma Hang Sam 1, Jln Hang Lekir, 50000 Kuala Lumpur","03 20708883",""],
["PERSATUAN DYSLEXIA MALAYSIA CIMB","No 349 Jalan Ampang 50450 Ampang, KL","03 42651632","admnhq.dyslexiamalaysia@gmail.com"],
["SURIA SPECIAL NEEDS CARE CENTRE","No 18- G Jalan Sierra 10/3 Bandar 16 Sierra 47120 Puchong","03 58825909 0173279389","suria4ucare@gmail.com"],
["PENAWAR SPECIAL LEARNING CENTRE","PSLC Taman Melawati Lot 4832 JAlan H1 Taman melawati, Kuala Lumpur","0176191941","penawarspeciallearningcentre@gmail.com"],
["JIWADAMAI PUSAT PAKAR PSIKOLOGI","Tingkat 1 No 19 Jalan Kristal AS 7/ AS Seksyen 7","03 55245852 017 2694852","jiwadamaiofficial@gmail.com"],
["ADDHUHA MOMENTUM PUSAT TERAPI DAN PENDIDIKAN KHAS UNTUK KANAK - KANAK DAN DEWASA","No 13-2 Jalan Lengkuas B16/B Ken Rimba Seksyen 16 40200 Shah Alam","",""],
["PERSATUAN KANAK - KANAK ISTIMEWA AMPANG, SELANGOR","No 386 Jalan 3 Taman Ampang Utama, 68000 Ampang","03 42568716",""],
["NUHA KIDS CARE CENTRE","No 56 Jalan Puncak Saujana 5/2D Taman Puncak Saujana Serksyen 5 43000 Kajang","017 9838313","salesnuhacare@gmail.com"],
["A.S.Q EQUESTRIAN","Kg Rawa Hilir, Lenggeng 71750 Negeri Sembilan","0176200072","info@gmail.com"],
["TERAPI ZENSORI","Tingkat 1, Unit 5 Blok 3 City Garden Commercial Centre, Taman Nirwana 68000 Ampang","019 8191300","zensorisolution@gmail.com"],
["MEDYNA PHYSIO AND REHAB SERVICES","No 28 Taman Vistana Indah Jalan Langgar 06500 Alor Setar, Kedah","019-2449828","medynarehab@gmail.com"],
["EXCEL QHALIF SENDIRIAN BERHAD","21-1 Jalan Reko Sentral 6, Reko Sentral 43000 Kajang","03 58926033","admin@excelqhalif.com"],
["KIDZ EMPORIUM THERAPY CENTRE","8 - 17 - 02, Jalan Medan Pusat Bandar &A 43650 Bangi Sentral Bandar Baru Bangi","03 89122455","emporiumtherapy@gmail.com"],
["THE PLAYHOUSE PURE REHABILITATION CENTRE","No 29 -1 Jalan PJS 8 /12 Sunway Mentari","01139284164","pure.rehabilitationcentre@gmail.com"],
["URBANE ETHOS CONSULTANCY","No 4 Jln Elektron E U16/E Denai Alam 40160 Shah Alam","03 77343044","urbaneethos@yahoo.com"],
["REMARKABLE THERAPY CENTRE","No 11A Jalan Astana D 13/D Pusat Niaga Astana Alam Seksyen 13","03-33925205 0133382904","remarkabletherapycentre@gmail.com"],
["THE HAPPY LEAVES SDN BHD","7 Jalan Setia Dagang AJ U13/ AJ Setia Alam 40170 Shah ALAm","03 74993779","wecare@thehappyleaves.com"],
["TADIKA NADI INTELEK","No 23 Jalan Elektron U16/34 Denai Alam 40160 Shah Alam","013 9661666","tadikanadiintelek@gmail.com"],
["ADAPT ENRICHMENT CENTRE SDN BHD","A-1-05 Blok A, Oasis Square No 2 JAlan PJU 1A/7A Ara DAmansara 47301 Petaling Jaya","03 77342368","enquiry@adaptcentre.com"],
["PEBBLES THERAPY CENTRE","No 8 -1 Jalan Anggerik Aranda BH 31/ BH Kota Kemuning Seksyen 31 40460 Shah Alam","03 55258886",""],
["SPA TERAPI ALFATEH","No 31 Lorong Dato Yusuf Shahbudin 44E/KS07 Taman Sentosa 41200 Klang","03 51663232",""],
["KIWANIS DOWN SYNDROME FOUNDATION","Lot 13490 Jalan Jenjarum OFF Jalan SS 23/1 Taman Sea 47400 Petaling Jaya","03 78030179","info@kdsf.org.my"],
["HEADSTART ACADEMY","Lot 3F - 2A and 3F - 25 3rd Floor SACC Mall, Jalan Perbandaran Shah Alam","03 55241711","accounts@headstart.my"],
["LITTLE ONES INTERNATIONAL SDN BHD","5 A, 1st Floor Jalan Kristal K7/K Seksyen 7 40000 Shah Alam","03 55237428","nurhasyimah@littleones.my"],
["WELL ADV TRAINING SDN BHD","-","",""],
["ASIQS","Lot B2-1-3 - B2- 5-3 Tingkat 3 Space U8 Persiaran Pasak Bumi Taman Bukit Jelutong Seksyen U8 40150 Shah Alam","0350310972","asiqs.community@gmail.com"],
["IRIS BRAIN WORKS SDN BHD","No 21-1 , Melati Utama PV7 Jalan Melati Utama 2 Taman Melati Utama, 53100 Setapak","03 41619846","irismidbrain@yahoo.com"],
["KID SKILL THERAPY CENTRE","NO 19 JALAN ANGGERIK ARANDA 31/40 KOTA KEMUNING 40460 SHAH ALAM","014 5093446","kidskill.shahalam@gmail.com"],
["PUSAT JAGAAN TERAPI AUTISTIK NOURI","NO 44 PERSIARAN 3 BANDAR BARU SELAYANG 68100 BATU CAVES SELANGOR","03 61281242","austismenouri@gmail.com"],
["AL GHAZALI GROUP SDN BHD","A 01 01 - A 04 01 BLOK A JALAN SELAYANG 1, MEDAN SELAYANG 68100 BATU CAVES","03 61776179","alghaaligroup.sb@gmail.com"],
["MAIKIDZ INTERVENTION CARE CENTRE","NO 17C SECOND FLOOR JALAN WAWASAN AMPANG 2/8 BANDAR BARU AMPANG 68000 AMPANG","0163150019","sharifah_mazlan@yahoo.com"],
["SPEECHAUS RESOURCES","2-18 JALAN KENARI 12B BANDAR PUCHONG JAYA 47180 PUCHONG SELANGOR","",""],
["EDEN FIRDAUS SDN BHD","NO 13 PRESTIJ KOTA DAMANSARA JALAN PEKAKA 8/1D KOTA DAMANSARA 47810 PETALING JAYA","03 61435589","edenfirdausspecialeducation@gmail.com"],
["HAPPY AND LOVELY KIDS THERAPY CENTRE PLT","NO 9 JALAN 34/38A TAMAN SRI BINTANG 52100 KL","03 62799724","halokidstc@gmail.com"],
["VEENAS THERAPY SERVICE FOR SPECIAL NEEDS","NO 5 JALAN NAKHODA 12/3 SEKSYEN 12 40100 SHAH ALAM","014 6036818","veena9stewart@gmail.com"],
["PUSAT JAGAAN & LATIHAN INSAN ISTIMEWA IMC","NO 30 BK4/8E BANDAR KINRARA PUCHONG 47180","03 80232215","imcusj@gmail.com"],
["KINDERKAIZEN VISTA ALAM","B-1-21 VISLA ALAM SHOP LOT JALAN IKHTISAS 14/1 40000 SHAH ALAM","","kinderkaizenvistaalam@gmail.com"],
["PPLKA HUA MING WP & SELANGOR","25 JALAN SM 12 TAMAN SRI MANJA BATU 6 3/4 OFF JALAN KELANG LAMS 46000 PETALING JAYA","03 77702080","hmas@autism.org.my"],
["ATFAL JANNAH","NO 17 & 19 JALAN BM 2/3 BANDAR BUKIT MAHKOTA 43020 KAJANG","019 3244977","atfaljannah@gmail.com"],
["TESCOTIA SDN BHD","204 JALAN LIMAU MANIS BANGSAR PARK 59000 KUALA LUMPUR","016 2608895","tescotia@gmail.com"],
["PAEDIATRIC SENSE THERAPY NETWORK","91 B JALAN HARMONIUM 35/1 TAMAN DESA TEBRAU","016 5558644","wongsersiew@gmail.com"],
["SENSATION STATION OCCUPATIONAL THERAPY","127- G LP 7/2 TAMAN LESTARI PERDANA 43300 SERI KEMBANGAN SELANGOR","019 6493893","sensationstation.my@gmail.com"],
["PUSAT TERAPI IMPIAN PERMATA","NO 23A JALAN DAHLIA 6/1 TAMAN NILAI IMPIAN 71800 NILAI","016 9141733","impiantherapy@gmail.com"],
["KIDANA SDN BHD","59-1 JALAN PJU 5/20E THE STRANG KOTA DAMANSARA 47810 PJ","",""],
["HAWARY SPORTS CENTRE","SRI AYU RUMAH KELAB SERI AYU JALAN 14/55A SETIAWANGSA 54200 KUALA LUMPUR","019 3230073","hawarysc@yahoo.com"],
["KIDSOGENIUS CHILD DEVELOPMENT SDN BHD","A-8-1 PLAZA DWITASIK JALAN 5/106 BANDAR SRI PERMAISURI 56000 CHERAS","012 2962868","kidsogenius@gmail.com"],
["PUSAT PENDIDIKAN KHAS MINDA SDN BHD","NO 1 -2 JALAN SELSAIH K U12/K TAMAN CAHAYA ALAM SEKSYEN U 12 40170 SHAH ALAM","012 5523129 / 0195218514","fariddyselexia@gmail.com"],
["PERTUBUHAN PEMULIHAN DALAM KOMUNITI SERI CAHAYA IJOK","148 A KM05 JALAN BAKTI SIMPANG 3 IJOK 45600 BESTARI JAYA","013 3414702",""],
["LETS GROW EARLY INTERVENTION CENTRE","29 FIRST FLOOR, JALAN PUTRA MAHKOTA 7/6C PUTRA HEIGHTS SUBANGA JAYA 7A JALAN ANGGERIK ARANDA C31/C SEKSYEN 31 KOTA KEMUNING 40460 SHAH ALAM","011 56203717","letsgrowintervention@gmail.com"],
["GENPACT","35-2 JALAN BACANG 17 TAMAN SERI JAROM 42600 JENJAROM SELANGOR","016 6683482","genpact08@gmail.com"],
["CYRIAX PHYSIO REHAB CENTRE","DALAMANDA CONDO LEVEL G SHOP LOT NO:20009 JALAN PUDU ULU CHERAS 56100 KUALA LUMPUR","03 27734787","cyriax.physio@gmail.com"],
["PERSATUAN UNTUK ORANG KURANG UPAYA AKAL SELANGOR DAN WILAYAH PERSEKUTUAN","WISMA HARAPAN NO 522 JALAN SULTAN ABDUL SAMAD BRICKFIELDS 50470 KUALA LUMPUR","03 22741457","wisma_harapan@yahoo.com admin@mysamh.org"],
["LIYANARAYA TRAINING & CONSULTANCY","31-1 JALAN SEMENYIH SENTRAL 3 43500 SEMENYIH","011 32420876","liyana4697@gmail.com"],
["TCSM BRAIN POWER DEVELOPMENT TRAINING","2 JALAN TK2/19 TAMAN KINRARA SEKSYEN 2 47190 PUCHONG","012 3111809","tcsm.special.education@gmail.com"],
["PUSAT PERTUBUHAN KIU","25 A JALAN KAMPUNG PANDAN 55100 KUALA LUMPUR","03 92870739",""],
["ALKAUTHAR EDUQIDS PINTAR EDUQIDS","NO 26 JALAN ASTANA E13/E SEKSYEN 13 PUSAT NIAGA ASTANA ALAM 42300 BANDAR PUNCAK ALAM","012 3787157","alkauthareduqidspalam@gmail.com"],
["PUSAT JAGAAN KANAK - KANAK BLISS KIDS","NO 1 JALAN METRO 1/2 TAMAN METRO PUCHONG 47160 PUCHONG","018 2422926","blisskids.educare@gmail.com"],
["WONDERFUL ACADEMY","NO 35 JALAN ECO MAJESTIC 9/ 1A SEMENYIH 43500 SEMENYIH","012 5503462","wonderacamy@gmail.com"],
["DESWARI KANASA N KIDS THERAPY CENTRE","N0 8 -1 JALAN BANDAR RAWANG 2 PUSAT BANDAR RAWANG, 48000 RAWANG","",""],
["AMIRS THERAPY GYM SDN BHD","9 JLN RIONG BANGSAR 59100","019 3128437","amirsgym@gmail.com"],
["PUSAT JAGAAN TERAPI AUTISTIK NOURI CAWANGAN BANDAR BARU SELAYANG","NO 44 PERSIARAN 3, BANDAR BARU SELAYANG 68100 BATU CAVES","019 3811601","austismenouri@gmail.com"],
["CEMERLANG CENDANA EDUCATIONAL CENTRE","NO 2 JALAN PRIMA SAUJANA 1/3 SEKSYEN 1","011 39878836","jamilah.cendana@gmail.com"],
["CHATTERKIDZ THERAPY","1 -18 JALAN KENARI 12B BANDAR PUCHONG JAYA","",""],
["MONT VICTORIA","38 -A JLN BP 7/8 BANDAR BUKIT PUCHONG","",""],
["AFY AUTISM & SPECIAL NEEDS CENTRE","P5 - 2 & P5 -3 LEVEL 5 SHAFTSBURY SQUARE CYBERJAYA","",""],
["PW LEARNING DISABILITIES AND AUTISME CARE CENTRE","LOT 16-1 JALAN CYBERVALLEY 1A/1 CYBERVALLEY COMMERCIAL CENTRE 43800 DENGKIL","",""],
["PERTUBUHAN PEMULIHAN DALAM KOMUNITI KIU","24 JALAN PERKASA 3","",""],
["TALK EAT SPEECH THERAPY SERVICES","bukit rimau","012 2633595","talkeatherapy@gmail.com"],
["BEEZEEKIDZ READ PHONIC GENIUS","11 JLN MURRAYA P12/2 PRESINT 12 PUTRAJAYA","018 9114198","beezekidz.read@gmail.com"],
["BREAKTHROUGH RESOURCES LEARNING CENTRE","KOMPLEKS SURIA KINRARA BLOK D 01-51 PERSIARAN KINRARA SEKSYEN 3","012 3613722","kweiyong93@hotmail.com"],
["PERTUBUHAN PENDIDIKAN KANAK - KANAK ISTIMEWA HARMONI CHERAS","LOT 1101 JLN SEKOLAH BATU 11 CHERAS","012 9023957","pkihharmoni@gmail.com"],
["SI ONE STOP REHABILITATION INTERVENTION & THERAPY","NO 31-1 PRIMA SAMUDERA JLN SAMUDERA UTARA 11 TAMAN SAMUDERA 68100 BATU CAVES","013 717 0027","sioritx@gmail.com"],
["TETUAN SPECTRUM THOUGHTS THERAPY CENTRE","56 GF SERIA 88 JLN SETIA PERDANA BB U 13/BB BANDAR SETIA ALAM","016 6164355","sttc.centre@gmail.com"],
["REGEN REHABILITATION INTERNATIONAL SBN BHD","LOT 8 JLN BERSATU 13/4 46200 PETALING JAYA","03 76261388","hasbulah.mohamat@regen.rehab"],
["BALAKONG KIDS REHABILITATION CENTRE","NO 17 1 JLN SIMFONI 1 43300 BALAKONG SERI KEMBANGAN","011 20785352",""],
["Q DOMAIN THERAPY CENTRE","63 A - 1 PLAZA KL TRADERS SQUARE JLN GOMBAK 53000 KL","010 2067004","qdomaintc@gmail.com"],
["JERUSHA JOHANNA JAFFERY","KL","017 2449033","jerusha.jaffery@gmail.com"],
["PUSAT AKADEMI AL FIRZANA","AL FIRZANA","",""],
["MURABBI KIDS GYM","SELANGOR","",""],
["PERSATUAN KANAK - KANAK ISTIMEWA BANGI","SELANGOR","",""],
["EHT LIFESTYLE","KL","",""],
["SAU SENG LUM PUCHONG DIALYSIS & STROKE REHABILITATION CENTRE","PUCHONG","",""],
["THINK ENRICHMENT CENTRE SDN BHD","DESA PARK CITY","03 22710799",""],
["RUMAH ADLEY","5 -1 JLN KANGKUNG PUTERI 24/7 SEK 24","03 58829888","rumahadley@gmail.com"],
["TADIKA PETERANA","KINDERGARDEN","",""],
["PUSAT JAGAAN SAYANG","NO 51 JLN KRISTAL 7/73 SEK 7","016 6788039","pjsayang@gmail.com"],
["KIDZ STEPS CENTRE","NO 19 1ST FLOOR JLN PUTERI 2/3 BANDAR PUTERI PUCHONG","",""],
["COMMUNICARE THERAPY CENTRE","COO","",""],
["RISE N SHINE ENRICHMENT CENTRE SDN BHD","1- 39 & 2-39 JLN MOHD TAHIR 14/KS02 TAMAM SAUJANA","011 56265886","fongengwong@yhahoo.com"],
["BAIDURI THERAPY","3A JLN 8B 1/1 TAMAN BANTING BARU","017 2446632",""],
["WONDER SPEECH THERAPY CENTRE","38 JALAN TK 1/11A TMN KINRARA PUCHONG","017 3889386","wonderspeechtherapy@gmail.com"],
["AZON CONNECT PEOPLE DEVELOPMENTSDN BHD","JLN KENARI 5, BANDAR PUCHONG JAYA","019 4413133","azon@azon.my"],
["FAQEH LD ENTERPRISE","FAQEH","",""],
["THE PEARL AUTISM RESEARCH CENTRE","NO 34 JLN KARYAWAN BESTARI PUCAK ALAM","016 357005","thepearlautism@gmail.com"],
["SUNWAY HEALTHCARE","SUNWAY","",""],
["TADIKA ANNAJIYA","TADIKA","014 9239325",""],
["MUHAMMAD ZULHELMI BIN AB WAHAB","JURUPULIH PERUBATAN CARAKERJA","013 9609863","muhammadzulhelmiot34@gmail.com"],
["TADIKA POTENSI SI CILIK","NO 678 JLN E5/2 TMN EHSAN KL","012 9722512","tadikapotensisicilik@gmail.com"],
["FITRAH SPECIALNEEDS INTENSIVE CENTRE","KL","",""],
["TINY STARS SDN BHD","KL","012 3096833",""],
["PERSATUAN PUSAT PERMATA KURNIA","KL","",""],
["LITTLE ST THERAPY CENTRE","30 JLN MARGOSA SD 10/5E BANDAR SRI MUDA","016 2198770",""],
["GIBRAN METHOD","VISTA ALAM","018 2588634","gibrantyap@gmail.com"],
["SPEECH STEPS SDN BHD","SPPECH","",""],
["KIZZU KIDZ THERAPY CENTRE","DESA ALAM","013 3609920","kizzuventures@gmail.com"],
["OWL OUTCOME WITH LEARNING","SETIA ALAM","03 33595745","owlproject@outlook.com"],
["BIZARA SCHOOL","NO 42 JLN JAMBU BATU 4/KU10 TAMAN MERU PERMAI","018 7732921","ezzreiyn90@gmail.com"],
["FATEH WORLD RESOURCES","NO 1 JLN SUADAMAI 2/1 BANDAR TUN HUSSEIN ONN CHERAS","012 2891144","gyar75@gmail.com"],
["COLOUR VIBRATION THERAPY SDN BHD","COLOUR","012 9765907","fanafauzy@yahoo.com"],
["AVISENA WOMEN & CHILDREN SDN BHD","NO 3 JLN PERDAGANGAN 14/4 SEK 14","03 55151888","raihan@avisena.com.my"],
["MUSLIM SWIMMING AND SPORTS ACADEMY","58 LORONG PENANG 30 TMN PENAGA","012 4628859","muslimswim@gmail.com"],
["TALK & TALK SPEECH CENTRE","60 B JLN MUTIARA BARAT 6 CHERAS","012 5300298",""],
["TASKA CEMPAKA ILMU","NO 1 JLN CJ4 15/1A FASA 4 TMN CHERAS JAYA","016 2335742",""],
["BLISS KIDS EDUCARE SDN BHD","NO 1 JLN METRO 1/2 TMN METRO PUCHONG","018 2422926","blisskids.educare@gmail.com"],
["SPEAK2ME","KL","",""],
["SIGNON","NO 34 JALAN RINCHING 6/5D SEKSYEN 6 BANDAR RINCHING 43500 SEMENYIH","01164841420","bahasaisyaratmalaysia@gmail.com"],
["PERSATUAN KEBAJIKAN ANAK - ANAK ISTIMEWA","NO 2 JLN 22/57 TMN AMAN 46300 PJ","0374955155","centrecoordinator@gmail.com"],
["CAMBRIDGE ENGLISH FOR LIFE","NO 20B SECOND FLOOR NADI@15 JLN PAHANG PRESINT 15,62050 WILAYAH PERSEKETUAN","019 3286229","putrajaya@cambridgeforlife.org"],
["FITRAH ACADEMY TRAINING AND CONSULTANCY","NO 14-1 JALAN TUN TEJA B35/B SEK 35 ALAM IMPIAN 40470 SHAH ALAM","011 19712012",""],
["LUMBA - LUMBA SWIMMING ACADEMY","LU","0123913525","lumbaloomba@gmail.com"],
["WECARE ALLIED HEALTH CENTRE","B-2-11 LEVEL 2 PLAZA TTDI JLN WAN KADIR 3, TTDI KL","0135188285","info@wecare.my"],
["PERTUBUHAN PENDIDIKAN ISLAM KANAK - KANAK KELAINAN UPAYA MALAYSIA","NO 3-2A JLN GJ2 TMN GOMBAK JAYA BATU 5/1/2 JLN GOMBAK 53100 KL","",""],
["PERSATUAN KANAK - KANAK ISTIMEWA KJG","KAJANG","",""],
["CPC INTERNATIONAL SDN BHD","68 TINGKAT 1 JLN 7/7A 43650 BANDAR BARU BANGI 43650 SELANGOR","0182525933","childpsychologyclinicbangi@gmail.com"],
["TADIKA PAKAR CAPAI","LOT 943 JLN TERATAI TMN UDA MURNI 15400 KOTA BHARU","017 9651815","capairehab@gmail.com"],
["TASKA KASIH MANIS","TASKA KASIH MANIS","",""],
["PUSAT JAGAAN HARIAN (OKU) TUNKU TOPUAN NOR MAZINI","NO 2 JLN BUNGA RAYA 3, TMN BUNGA RAYA, BANDAR BARU SALAK TINGGI 43900 SEPANG","011 10644812","pdkniaga@gmail.com"],
["LITTLE ARK CARE CENTRE","NO 3G & 3-1 JLN KENARI 12, BANDAR PUCHONG JAYA 47170 PUCHONG","016 2219429","littlearkcarecentre@gmail.com"],
["SPARK CHILD CENTRE","B3-3-5 BLOCK 3 JLN TEKNOLOGI 2/1B SIGNATURE PARK KOTA DAMANSARA 47810 PJ","018 2031013","signaturecrc15@gmail.com"],
["TENDER TOUCH PAEDIATRIC REHAB","58 JLN SETIA PERDANA BB U13/BB SETIA ALAM 40170 SHAH ALAM","03 33411584",""],
["HAPPY FARMS HIPPOTHERAPY","NO 8 JLN SELINGSING TAMAN KOK LIAN BATU 5 JLN IPOH 51200 KL","011 10712505","dhaninsdnbhdmalaysia@gmail.com"]
  ]
%>
<meta name="viewport" content="width=1440">

<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">Senarai Pusat Terapi</h3>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: 20%">NAMA</th>
          <th style="background-color:#ffb2b2; width: 25%">ALAMAT</th>
          <th style="background-color:#ffb2b2; width: ">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: ">EMAIL</th>
          
        </tr>
      </thead>
      <tbody>
        <% a.each do |n| %>
          <tr>
            <td><b><%= n[0] %></b></td>
            <td><%= n[1] %></td>
            <td><%= n[2] %></td>
            <td><%= n[3] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>