Soal Jawab

<%= form_for(:ek, :url => {:controller=>'welcomes', :action=>'soaljawab'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>

  <%= f.text_field :dt, class: "form-control schbox", style: "text-transform: uppercase" %>

  <div id="allq" style="">
    <div class="badge badge-pill badge-success" style="font-size: 18px; margin-top: 5px; display: block">Soalan Terbaru</div>
    <% @perse.last(5).each do |prs| %>
       <%= prs.name %><br>
    <% end %>
  </div>

  <div id="schq" style="display: none">
    <div class="badge badge-pill badge-info" style="font-size: 18px; margin-top: 5px">Soalan Yang Sama</div>
    <% @perse.each do |prs| %>
      <div id="<%= prs.name %>" style="display: none">
       <%= prs.name %><br>
      </div>
    <% end %>
  </div>

  <div id="submitQa" style="display: none">
    <%= f.submit :'+ Tanya Soalan Baru',  class: 'btn btn-primary btn-sm btn-block', style: "margin-top: 5px; font-size: 18px" %>
  </div>

<% end %>




