<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550; font-size: 30px">Soal Jawab ANIS</h1>
    </div>
  </div>

</header>

<%
  acvall = "active"
  acvcatg = {}
  @catg.each do |ctg|
    acvcatg[ctg] = ""
  end
  if params[:catg].present?
    acvall = ""
    acvcatg[params[:catg]] = "active"
  end
%>

<% acvcatg %>

<div style="margin-top: 10px; margin-left: 50px; margin-right: 50px"><div class="row">

  <div class="col-lg-3 col-md-4 bg-light">
    <div class="inner-sidebar-headers justify-content-center">
      <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
          KATEGORI
      </button>
    </div>
    <div class="simplebar-mask">
      <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
              <div class="simplebar-content" style="padding: 16px;">
                  <nav class="nav nav-pills nav-gap-y-1 flex-column">
                      <a href="<%= soaljawab_url %>" class="nav-link nav-link-faded has-icon <%= acvall%>">Semua (<%= @qsall.count %>)</a>
                      <% @catg.sort.reverse.each do |ctg| %>
                        <a href="<%= soaljawab_url(catg: ctg) %>" class="nav-link nav-link-faded has-icon <%= acvcatg[ctg] %>"><%= "#{ctg} (#{@qsall.where(catg: ctg).count})" %></a>
                      <% end %>
                  </nav>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-8">
    <div class="header-org" style="background-color: #fbd7e3; color: #d53368; text-align: center; font-size: 18px">
      Sila Nyatakan Soalan Pada Ruangan Dibawah
    </div>
    <%= form_for(:ek, :url => {:controller=>'qsas', :action=>'new'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>

      <%= f.text_area :ques, class: "form-control schbox", style: "text-transform: uppercase" %>

      <div id="allq" style="">
        <div class="badge badge-pill badge-success" style="font-size: 15px; margin-top: 10px;margin-bottom: 5px; display: block">Soalan Terbaru</div>
        <% @qsas.order('updated_at DESC').last(20).each do |qs| %>
          <div class="card mb-2">
            <div class="card-body p-2 p-sm-3">
                <div class="media forum-item">
                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="<%= image_path('user_icon.png') %>" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                    <div class="media-body">
                        <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body"><b><%= qs.ques %></b></a></h6>
                        <p class="text-secondary">
                            <%= qs.ans %>
                        </p>
                        <p class="text-muted"><a href="javascript:void(0)"><%= qs.name %></a> dalam kategori
                        <i><u><span class="d-none d-sm-inline-block"><%= link_to qs.catg, soaljawab_path(catg: qs.catg) %></span></u></i>
                        </p>
                    </div>
                    <div class="text-muted small text-center align-self-center">
                      <span class="d-none d-sm-inline-block"><%= qs.created_at.strftime('%d-%^b-%y')%></span>
                    </div>
                </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="schq" style="display: none">
        <div class="badge badge-pill badge-info" style="font-size: 15px; margin-top: 5px;margin-bottom: 5px;">Soalan Yang Sama</div>
        <% @qsas.each do |qs| %>
          <div id="<%= qs.ques %>">
            <div class="card mb-2">
              <div class="card-body p-2 p-sm-3">
                  <div class="media forum-item">
                      <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="<%= image_path('user_icon.png') %>" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                      <div class="media-body">
                          <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body"><b><%= qs.ques %></b></a></h6>
                          <p class="text-secondary">
                              <%= qs.ans %>
                          </p>
                          <p class="text-muted"><a href="javascript:void(0)"><%= qs.name %></a> dalam kategori
                        <i><u><span class="d-none d-sm-inline-block"><%= link_to qs.catg, soaljawab_path(catg: qs.catg) %></span></u></i>
                        </p>
                    </div>
                    <div class="text-muted small text-center align-self-center">
                      <span class="d-none d-sm-inline-block"><%= qs.created_at.strftime('%d-%^b-%y')%></span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= f.hidden_field :send, value: 1 %>
      </div>

      <div id="submitQa" style="display: none">

        <%= f.submit :'+ Tanya Soalan Baru',  class: 'btn btn-primary btn-sm btn-block', style: "margin-top: 5px; font-size: 18px" %>
      </div>

    <% end %>
  </div>
</div></div> <!-- row --> <!-- container -->






