<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Pusat Sokongan ANIS</h1>
    </div>
  </div>

</header>

<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan Didik ANIS Kini Dibuka</p>
  <p style="text-align: center; color: black">Daftar Dan Hantar Dokumen Sokongan Selewatnya pada 30 April 2021</p>
  <% if Date.today > Date.new(2021,04,30) %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Didik ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Program Bantuan Didik Anak Istimewa Selangor (ANIS) telah dilaksanakan bermula pada tahun 2017.</p>
            <p>Bantuan Didik ANIS ini terbuka kepada semua Institusi Pendidikan Anak Istimewa dan Program Pemulihan Dalam Komuniti (PDK) berdaftar yang menjalankan Early Intervention Program (EIP) atau Program Intervensi Awal untuk  kanak-kanak berkeperluan khas di Selangor sahaja. Peruntukan Bantuan Didik ANIS ini diberikan secara <i>one-off</i> kepada pemohon.</p>
            <p>Permohonan bantuan Didik ANIS dibuat oleh pemohon dengan mengisi dan menghantar borang permohonan beserta dokumen sokongan di laman web ANIS</p>
            <p>Objektif Utama Didik ANIS adalah:
              <ol>
                <li>Membantu Institusi Pendidikan Anak Istimewa yang menjalankan <i>Early Intervention Programme</i> (EIP) di negeri Selangor.</li>
                <li>Memberi peluang pada Institusi Pendidikan Anak Istimewa agar dapat menaiktaraf keperluan di pusat tersebut</li>
                <li>Membantu anak istimewa di Selangor untuk menerima <i>Early Intervention Programme</i> (EIP) dengan lebih berkesan dan sistematik.</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
                <li>Terbuka kepada semua Institusi Pendidikan Anak Istimewa dan Program Pemulihan Dalam Komuniti (PDK) berdaftar yang menjalankan Early Intervention Program (EIP) untuk kanak-kanak berkeperluan khas di Selangor sahaja.</li>
                <li>Melengkapkan permohonan dan melampirkan dokumen sokongan.</li>
              </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Borang Profil lengkap Institusi Pendidikan Anak Istimewa (borang yang diisi di website)</li>
              <li>Salinan sijil pendaftaran pertubuhan/sijil pendaftaran dengan undang-undang tubuh yang disahkan oleh Pendaftar Pertubuhan/ Suruhanjaya Syarikat Malaysia (SSM).</li>
              <li>Salinan sijil pendaftaran dengan JKM dan KPM</li>
              <li>Senarai nama dan sijil petugas Institusi.</li>
              <li>Senarai nama pelatih/kanak-kanak beserta umur, nombor kad pengenalan dan jenis kecacatan/kurang upaya/permasalahan.</li>
              <li>Salinan penyata bank terkini.</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
            <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang<br> <a href="">www.anisselangor.com/didikanis</a></li>
            <li>Pemohon diminta untuk muat turun borang yang diisi di website dan lampirkan bersama dokumen sokongan seperti yang dinyatakan</li>
            <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
            <li>Borang permohonan dan dokumen boleh dihantar di alamat emel seperti berikut:  <br><a href="">jabatananis@yawas.my</a></li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Pembayaran Bantuan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <p>Pembayaran akan dibuat terus ke akaun agensi yang memohon</p>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Bantuan ANIS</b>
              <img src="<%= image_path('anisPic/Didik-Anis-Flow.png')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan saya pernah menerima bantuan ini. Adakah masih layak untuk memohon bantuan ini lagi pada tahun ini?</p>
                <p><b>Jawapan: </b>Boleh. Permohonan yang lengkap dan memenuhi syarat adalah layak untuk memohon.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Pusat EIP/Institusi/Badan Kebajikan kami beralamat di Kuala Lumpur. Walaubagaimanapun majoriti daripada pelajar kami beralamat di Selangor. Adakah kami layak untuk memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Tidak boleh. Hanya Pusat EIP/Institusi/Badan Kebajikan berdaftar dan beralamt di negeri Selangor sahaja yang layal memohon bantuan ini.</p>
              </li>
              <li>
                <p><b>Soalan:</b>Dimanakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan:</b>Permohonan hanya boleh dibuat secara atas talian sahaja <a href="https://www.anisselangor.com/didikanis">DISINI</a> Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dihantar bersama dokumen yang diperlukan dalam tempoh di alamat emel anisselangor@gmail.com . Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap</p>
                <p><b>Jawapan: </b>TIDAK. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>
              
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Semak / Hantar Permohonan Saringan ANIS", persesch_url(prog: "SARINGAN ANIS"), class: "btn btn-sm btn-success btn-block" %>

      <%= link_to "Semak / Hantar Permohonan Terapi ANIS", persesch_url(prog: "TERAPI ANIS"), class: "btn btn-sm btn-primary btn-block" %>


      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anisPic/poster-didik-anis1.png')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>






<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">Senarai Produk Dibawah Initiatif Pusat Sokongan ANIS</h3>
  <div class="border-prog" style=""></div>
  <!-- <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan Khas ANIS Telah Dibuka Sehingga 15 April 2021</p>
  <p style="text-align: center; color: black">Tarikh Akhir Penghantaran Dokumen Sehingga 20 April 2021</p> -->
</div>

<section id="featured-services" class="featured-services bg-light">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" style="padding-bottom: 10px">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><!-- 
          <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div> -->
          <div class="icon" style="margin-bottom: 95px"></div>
          <h4 class="title"><a href="#">Pusat Terapi ANIS</a></h4>
          <p class="description" style="text-align: justify">Seminar ini disasarkan untuk ibu bapa ANIS, pendidik ANIS, sukarelawan ANIS dan orang awam. Seminar Keibubapaan ANIS ini telah mula dianjurkan sejak Februari 2021 dan dilaksanakan dua kali dalam tempoh sebulan. Seminar Keibubapaan ANIS ini disasarkan akan dilaksanakan sebanyak 18 kali sepanjang tahun 2021 ini</p>
          <!-- <a href="<%= persesch_url(prog: "TERAPI ANIS") %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Pemohonan dan Semakan</a> -->
          <a href="<%= undercon_url %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Pemohonan dan Semakan</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" style="padding-bottom: 10px">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><!-- 
          <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div> -->
          <div class="icon" style="margin-bottom: 95px"></div>
          <h4 class="title"><a href="#">Program Saringan Awal ANIS</a></h4>
          <p class="description" style="text-align: justify">Program Cikgu ANIS kali ini mensasarkan Sukarelawan Pusat Pemulihan Dalam Komuniti (PPDK), Guru Program Pendidikan Khas Integrasi (PPKI), Guru Program Pendidikan Inklusif (PPI), Guru Pemulihan Khas dan Guru Pendidikan dan Penjagaan Awal Kanak-kanak. Berbeza dari tahun sebelumnya, program ni akan meluaskan sasaran supaya lebih ramai pihak dapat menerima manfaat</p>
          <!-- <a href="<%= persesch_url(prog: "SARINGAN ANIS") %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Permohonan dan Semakan</a> -->
          <a href="<%= undercon_url %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Pemohonan dan Semakan</a>
        </div>
      </div>


    </div>

  </div>

</section>



    

      <% (0..3).each do |n| %>

      <% end %>






<% if 1==0 %>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Akademi ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">

            <p>Seminar Keibubapaan Anak Istimewa Selangor (ANIS) merupakan salah satu inisiatif yang dianjurkan dibawah Pengerusi Jawatankuasa Tetap Kesihatan Awam, Perpaduan dan Pembangunan Wanita & Keluarga. Inisiatif ini mula dianjurkan pada tahun 2019 dan 2020 dan telah disertai oleh 2584 peserta. Pada tahun ini, Jabatan ANIS mengambil pendekatan baru dengan menganjurkan seminar khas bersiri kepada kumpulan ibubapa dan penjaga ANIS, pendidik ANIS sukarelawan ANIS dan orang awam di Selangor.</p>

            <p>Jabatan ANIS berharap lebih ramai rakyat di Selangor dapat menerima manfaat daripada program ini dan justeru itu dapat mengurus anak istimewa dengan lebih efisien. Melalui program ini, peserta/pelatih akan didedahkan mengenai intervensi, terapi, strategi pengajaran dan perbincangan berkaitan anak istimewa yang akan disampaikan oleh panel pakar yang berkaitan.</p>

            <p>Lantaran itu, pihak Jabatan ANIS akan merancang dan melaksanakan program yang berkenaan secara berterusan untuk memperkasakan ibubapa dan penjaga ANIS, sukarelawan ANIS dan orang awam di Selangor seterusnya dapat memberdayakan anak-anak istimewa, ibubapa dan penjaga, dan lain-lain untuk lebih mampan dalam mendepani dunia bercabaran ini dengan lebih cakna.</p>


            <p>Objektif Akademi ANIS adalah:
              <ol>
                <li>Meningkatkan dan memperluas pengetahuan ibubapa dan penjaga mengenai initiatif yang disediakan oleh Jabatan Anak Istimewa Selangor (ANIS)</li>
                <li>Mendedahkan kepada ibu bapa, penjaga, dan pendidik mengenai isu-isu yang berkaitan dengan kanak-kanak berkeperluan khas terutamanya untuk memahami elemen penting untuk pengurusan tingkah laku yang berjaya.</li>
                <li>Meningkatkan keberdayaan ibubapa dan penjaga dalam penjagaan anak istimewa</li>
                <li>Memberi sokongan moral berterusan terhadap anak ibubapa, penjaga dan anak istimewa melalui perkongsian ilmiah oleh pakar berkaitan</li>

              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Terbuka kepada semua ibubapa dan penjaga ANIS, pendidik ANIS, sukarelawan ANIS dan orang awam di Selangor.</li>
          </div>
        </div>
      </div>
      
      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara <b>atas talian</b> pada link yang dinyatakan pada poster, FB ‘Anak Istimewa Selangor- ANIS’ atau laman sesawang www.anisselangor.com</li>
              <li>Pemohon boleh merujuk pada FB ‘Anak Istimewa Selangor- ANIS’ atau laman sesawang anis.yawas.my untuk mengetahui maklumat lebih lanjut mengenai <b>setiap siri program</b> yang dianjurkan.</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Caj Atau Kos Penyertaan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>PERCUMA. Tiada caj penyertaan dikenakan kepada peserta program AKADEMI PENIDIDIK ANIS.</li>
            </ol>

          </div>
        </div>
      </div>

      <%= link_to "Daftar", progeregls_path, class: "btn btn-sm btn-success btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anislogo1.png')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>

<!-- PENCAPAIN ANIS -->

<% if 1==0 %><div class="bg-white container" style="margin-bottom: 20px">
  <div class="section-header container bg-white" style="margin-top: 30px">
    <h3 style="">PENCAPAIAN BANTUAN KHAS ANIS</h3>
    <div class="border-prog" style=""></div>
    <p style="text-align: center; color: black">Jumlah Permohonan</p>
  </div>

  <div id="perf" class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
      <p>Jumlah Permohonan</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
      <p>Jumlah Penerima</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
      <p>Peruntukan Digunakan</p>
      <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
    </div>
    

  </div> <!-- row -->
</div><% end %> <!-- container -->

<% end %>



