<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Pusat Sokongan ANIS</h1>
    </div>
  </div>

</header>

<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">Senarai Produk Dibawah Initiatif Pusat Sokongan ANIS</h3>
  <div class="border-prog" style=""></div>
  <!-- <p style="text-align: center; color: black; font-weight: 600">Permohonan Bantuan Khas ANIS Telah Dibuka Sehingga 15 April 2021</p>
  <p style="text-align: center; color: black">Tarikh Akhir Penghantaran Dokumen Sehingga 20 April 2021</p> -->
</div>

<section id="featured-services" class="featured-services bg-light">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" style="padding-bottom: 10px">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><!-- 
          <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div> -->
          <div class="icon" style="margin-bottom: 95px"></div>
          <h4 class="title"><a href="#">Pusat Terapi ANIS</a></h4>
          <p class="description" style="text-align: justify">Seminar ini disasarkan untuk ibu bapa ANIS, pendidik ANIS, sukarelawan ANIS dan orang awam. Seminar Keibubapaan ANIS ini telah mula dianjurkan sejak Februari 2021 dan dilaksanakan dua kali dalam tempoh sebulan. Seminar Keibubapaan ANIS ini disasarkan akan dilaksanakan sebanyak 18 kali sepanjang tahun 2021 ini</p>
          <a href="<%= persesch_url(prog: "TERAPI ANIS") %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Pemohonan dan Semakan</a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" style="padding-bottom: 10px">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><!-- 
          <div class="icon"><img src="<%= image_path('anisPic/bk-anis-hp.png') %>" width="100" height="80"></div> -->
          <div class="icon" style="margin-bottom: 95px"></div>
          <h4 class="title"><a href="#">Program Saringan Awal ANIS</a></h4>
          <p class="description" style="text-align: justify">Program Cikgu ANIS kali ini mensasarkan Sukarelawan Pusat Pemulihan Dalam Komuniti (PPDK), Guru Program Pendidikan Khas Integrasi (PPKI), Guru Program Pendidikan Inklusif (PPI), Guru Pemulihan Khas dan Guru Pendidikan dan Penjagaan Awal Kanak-kanak. Berbeza dari tahun sebelumnya, program ni akan meluaskan sasaran supaya lebih ramai pihak dapat menerima manfaat</p>
          <a href="<%= persesch_url(prog: "SARINGAN ANIS") %>" class="btn btn-info btn-sm btn-block" style="margin-top: 10px">Permohonan dan Semakan</a>
        </div>
      </div>


    </div>

  </div>

</section>



    

      <% (0..3).each do |n| %>

      <% end %>






<% if 1==0 %>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan dan Objektif Akademi ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">

            <p>Seminar Keibubapaan Anak Istimewa Selangor (ANIS) merupakan salah satu inisiatif yang dianjurkan dibawah Pengerusi Jawatankuasa Tetap Kesihatan Awam, Perpaduan dan Pembangunan Wanita & Keluarga. Inisiatif ini mula dianjurkan pada tahun 2019 dan 2020 dan telah disertai oleh 2584 peserta. Pada tahun ini, Jabatan ANIS mengambil pendekatan baru dengan menganjurkan seminar khas bersiri kepada kumpulan ibubapa dan penjaga ANIS, pendidik ANIS sukarelawan ANIS dan orang awam di Selangor.</p>

            <p>Jabatan ANIS berharap lebih ramai rakyat di Selangor dapat menerima manfaat daripada program ini dan justeru itu dapat mengurus anak istimewa dengan lebih efisien. Melalui program ini, peserta/pelatih akan didedahkan mengenai intervensi, terapi, strategi pengajaran dan perbincangan berkaitan anak istimewa yang akan disampaikan oleh panel pakar yang berkaitan.</p>

            <p>Lantaran itu, pihak Jabatan ANIS akan merancang dan melaksanakan program yang berkenaan secara berterusan untuk memperkasakan ibubapa dan penjaga ANIS, sukarelawan ANIS dan orang awam di Selangor seterusnya dapat memberdayakan anak-anak istimewa, ibubapa dan penjaga, dan lain-lain untuk lebih mampan dalam mendepani dunia bercabaran ini dengan lebih cakna.</p>


            <p>Objektif Akademi ANIS adalah:
              <ol>
                <li>Meningkatkan dan memperluas pengetahuan ibubapa dan penjaga mengenai initiatif yang disediakan oleh Jabatan Anak Istimewa Selangor (ANIS)</li>
                <li>Mendedahkan kepada ibu bapa, penjaga, dan pendidik mengenai isu-isu yang berkaitan dengan kanak-kanak berkeperluan khas terutamanya untuk memahami elemen penting untuk pengurusan tingkah laku yang berjaya.</li>
                <li>Meningkatkan keberdayaan ibubapa dan penjaga dalam penjagaan anak istimewa</li>
                <li>Memberi sokongan moral berterusan terhadap anak ibubapa, penjaga dan anak istimewa melalui perkongsian ilmiah oleh pakar berkaitan</li>

              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat & Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Terbuka kepada semua ibubapa dan penjaga ANIS, pendidik ANIS, sukarelawan ANIS dan orang awam di Selangor.</li>
          </div>
        </div>
      </div>
      
      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara <b>atas talian</b> pada link yang dinyatakan pada poster, FB ‘Anak Istimewa Selangor- ANIS’ atau laman sesawang www.anisselangor.com</li>
              <li>Pemohon boleh merujuk pada FB ‘Anak Istimewa Selangor- ANIS’ atau laman sesawang anis.yawas.my untuk mengetahui maklumat lebih lanjut mengenai <b>setiap siri program</b> yang dianjurkan.</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Caj Atau Kos Penyertaan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>PERCUMA. Tiada caj penyertaan dikenakan kepada peserta program AKADEMI PENIDIDIK ANIS.</li>
            </ol>

          </div>
        </div>
      </div>

      <%= link_to "Daftar", progeregls_path, class: "btn btn-sm btn-success btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anislogo1.png')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>

<!-- PENCAPAIN ANIS -->

<% if 1==0 %><div class="bg-white container" style="margin-bottom: 20px">
  <div class="section-header container bg-white" style="margin-top: 30px">
    <h3 style="">PENCAPAIAN BANTUAN KHAS ANIS</h3>
    <div class="border-prog" style=""></div>
    <p style="text-align: center; color: black">Jumlah Permohonan</p>
  </div>

  <div id="perf" class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jph-hp.png') %>" width="100" height="100">
      <p>Jumlah Permohonan</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(6205, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/jpn-hp.png') %>" width="100" height="100">
      <p>Jumlah Penerima</p>
      <p style="font-size: 30px; margin-top: -20px"><%= number_with_delimiter(368, :delimiter => ',') %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="<%= image_path('anisPic/peruntukan-hp.png') %>" width="100" height="100">
      <p>Peruntukan Digunakan</p>
      <p style="font-size: 30px; margin-top: -20px">RM<%= number_with_delimiter(953351, :delimiter => ',') %></p>
    </div>
    

  </div> <!-- row -->
</div><% end %> <!-- container -->

<% end %>



