<div style="font-size: 12px;">
<%= form_for(@cntp, :url => {:controller=>'cntps', :action=> act}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
  <div class="control-label col-sm-12">
    <strong>TAJUK</strong>
    <%= f.text_field :title, class: "form-control", autofocus: true, required: true %><br>
  </div>
  
  <div class="control-label col-sm-12">
    <strong>NAMA PENCERAMAH</strong>
    <%= f.text_field :lec, class: "form-control", autofocus: true %><br>
  </div>

  <div class="control-label col-sm-12">
    <strong>MAKLUMAT PROGRAM</strong>
    <%= f.text_area :ctn, class: "form-control", autofocus: true, rows: 5 %><br>
  </div>
  
  <div class="control-label col-sm-12">
    <strong>MASA MULA</strong>
    <%= f.time_field :start, class: "form-control", autofocus: true, required: true %><br>
  </div>
  
  <div class="control-label col-sm-12">
    <strong>MASA AKHIR</strong>
    <%= f.time_field :end, class: "form-control", autofocus: true, required: true %><br>
  </div>
  

  <%= f.hidden_field :proge_id, value: @proge.id%>
  <%= f.hidden_field :id, value: @cntp.id%>
  <%= f.submit :"Hantar",  class: 'btn btn-sm btn-warning btn-lg', style: "align:center" %>
<% end %>
</div>