

<%= link_to rptcntps_xls_path(proge: @proge.id, format: :xlsx), class: 'badge badge-pill badge-success' do %>
  <i class="fa fas fa-file-excel"></i>&nbsp&nbspMuat Turun Senarai
<% end %> 

<%= render 'cntps/schd', adm: 1%>
<%= link_to "Link Maklumbalas", persesch_path(prog: "CIKGU ANIS",proge: @proge.id) %><br>
<%= link_to "Kehadiran #{@proge.date.strftime('%d-%^b-%Y')}", persesch_path(prog: "AKADEMI ANIS" ,proge: @proge.id, att:1, dt: @proge.date) %><br>
<%= link_to "Kehadiran #{@proge.daten.strftime('%d-%^b-%Y')}", persesch_path(prog: "AKADEMI ANIS" ,proge: @proge.id, att:1, dt: @proge.daten) %>


<div style="background-color: blue;margin-bottom: -5px">
  <h6 style="text-align: center; color: white">Program Baru Untuk <%= @proge.name %></h6>
</div>
<%= render 'cntps/form', act: "crtcntp" %>