

<%= link_to "Muat Turun Laporan Program", root_path, class: 'badge badge-success', style: 'font-size: 15px; margin-bottom: 5px'%>

<%= render 'cntps/schd', adm: 1%>
<%= link_to "Link Maklumbalas", persesch_path(prog: "CIKGU ANIS",proge: @proge.id) %>


<div style="background-color: blue;margin-bottom: -5px">
  <h6 style="text-align: center; color: white">Program Baru Untuk <%= @proge.name %></h6>
</div>
<%= render 'cntps/form', act: "crtcntp" %>