<meta name="viewport" content="width=1024">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Paparan Terapis <b>Pusat ANIS</b></b>
  </li>
</ol>



<%= link_to ekidlistxls_path(format: :xlsx), class: "badge badge-info shadow-sm", style: "font-size: 16px; font-weight: normal" do %>
  <i class="fa fa-file-excel"></i> Muat Turun Senarai
<% end %>

<div class="cards shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag teacher_index_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_nm, params[:sch_nm], placeholder: "Carian Nama", style: 'text-transform: uppercase' %>
        <%= text_field_tag :sch_ic, params[:sch_ic], placeholder: "Carian No MyKad", style: 'text-transform: uppercase' %>
        
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>
        <%= link_to teacher_index_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Semula
        <% end %>
        
        <%= "#{@ekids.count} carian" unless params[:sch].blank? %>
      <% end %>
    <div>

        
      </div>
    </div>
  </div>
  <div class="card-body">
    
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 12%">NO SIRI</th>
            <th style="background-color:#ffb2b2">MAKLUMAT ANAK</th>
            <th style="background-color:#ffb2b2">MAKLUMAT PEMOHON</th>
            <!-- <th style="background-color:#ffb2b2">PROGRAM</th> -->
            <th style="background-color:#ffb2b2; width: 30%">MAKLUMAT TAMBAHAN</th>
            <th style="background-color:#ffb2b2; width: 20%">LAPORAN PERKEMBANGAN</th>
          </tr>
        </thead>
        <tbody>
          <% @ekids.order('created_at DESC').each do |ek|; perse = ek.perse %>
          <tr>
            <td>
              PPN-<%= ek.id.to_s.rjust(4, '0') %>
            </td>
            <td>
              <%= ek.name %><br>
              (<%= ek.ic %>)<br>
              <%
                image = ek.fotos.where(foto_name: "DIAGNOSIS").first
                if image.present? && image.picture.present?
                  url = image.picture.url
                else
                  url = ""
                end
              %>
              <a href="<%= url %>" target="_blank" download><btn class="badge badge-pill badge-secondary">Borang Diagnosis</btn></a>
            </td>
            <td>
              <%= perse.name %><br>
              <%= perse.ph %><br>
              <%= perse.email %><br>
            </td>
            
            <td>
              <%
                age = (Date.today.year*12+Date.today.month) - (ek.dob.year*12+ek.dob.month)
                yr = age/12
                mth = age - yr*12
        
              %>
              <b>Kategori: </b><%= ek.prbtp %><br>
              <b>Umur: </b><%= "#{yr} tahun, #{mth} bulan" %><br>
              <b>Pendapatan (RM): </b><%= ek.pinc %><br>
              <%= link_to "Profil Penuh", ekidconf_path(id: ek.id, trp: true), class: "badge badge-pill badge-primary", target: "_blank"%>

              
            </td>
            <td>
              <% 
                ekrps = ek.ekrps
                ekr = ekrps.last
              %>
              <b>Bil Laporan: </b><%= ekrps.count %><br>
              <b>Tarikh Terakhir: </b><%= ekr.dt unless ekr.blank? %><br>
              <%= link_to "Senarai Laporan", ekrpls_path(ekid: ek.id), class: "badge badge-pill badge-info", target: "_blank"%>
            </td>
          </tr>

          <% end %> <!-- END LOOP -->

        </tbody>
        
      </table>
    </div>
  </div>
</div>

