<div class='row'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@proge, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
        
        <div class="form-group"> <!-- name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>NAMA PROGRAM</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :name, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>JENIS PROGRAM</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.select :tp, options_for_select(["SEMINAR ANIS", "CIKGU ANIS(TADIKA)", "CIKGU ANIS(PDK)","CIKGU ANIS(PPKI)","SEMINAR SUKARELAWAN"
                                                  ], 
                                                  selected: @proge.tp), 
            {include_blank: "Pilih Satu"}, {required: true} %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- DATE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>TARIKH PROGRAM</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.date_field :date, class: "form-control", placeholder: "e.g. 870829015436 (no dash)", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- DATE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>TARIKH AKHIR PROGRAM</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.date_field :daten, class: "form-control", placeholder: "e.g. 870829015436 (no dash)", autofocus: true %>
            </div>
          </div>
          <i style="font-size: 12px;">Kosongkan jika Program Satu Hari</i>
        </div>

        <div class="form-group"> <!-- VENUE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>TEMPAT</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :venue, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>MASA BERMULA</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.time_field :start, class: "form-control", placeholder: "e.g. 870829015436 (no dash)", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>MASA BERAKHIR</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.time_field :end, class: "form-control", placeholder: "e.g. 870829015436 (no dash)", autofocus: true, required: true %>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-4">
              <%= f.submit :"Hantar",  class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>