
<!-- <div class="card mb-3" >
  <div style="background-color: #e5cce5; color: #730073; text-align: center; font-size: 18px;">
    <i class="fas fa"></i>
    <b>KEHADIRAN PROGRAM</b>
    <% link_to "Download List", root_path(format: :xlsx), class: "badge badge-pill badge-info", format: :xlsx %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" style="font-size: 12px; color: black; " width="100%;" cellspacing="0">
        <thead>
          <tr style="">
            <th style="background-color: #ffb2b2 !important;width: 25%"> TARIKH</th>
            <th style="background-color: #ffb2b2 !important;width: %"> MAKLUMAT KEHADIRAN </th>
          </tr>
        </thead>
        <%
         dts = @proge.date
         dtn = @proge.daten
        %>

        <tbody>
          <% [dts,dtn].each do |dt| %>
          <tr>
            <td><%= dt.strftime('%d-%^b-%Y') %></td>
            <%
             cnt = 0
             Perproge.where(proge_id: @proge.id).each do |prg|
              cnt = cnt + 1 unless (!prg.att.include? dt.to_s)
             end
            %>
            <td><%= "#{cnt} / #{@proge.perses.count}" %></td>

          </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
-->

<div class="card mb-3" >
  <div style="background-color: #e5cce5; color: #730073; text-align: center; font-size: 18px;">
    <i class="fas fa"></i>
    <b>MAKLUM BALAS ROGRAM </b>
    <% link_to "Download List", root_path(format: :xlsx), class: "badge badge-pill badge-info", format: :xlsx %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" style="font-size: 12px; color: black; " width="100%;" cellspacing="0">
        <thead>
          <tr style="">
            <th style="background-color: #ffb2b2 !important;width: 25%"> PERKARA </th>
            <th style="background-color: #ffb2b2 !important;width: %"> SKALA </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Masa dan tempat yang sesuai</td>
            <td><%= @fbc.average(:rate).round(2) unless @fbc.blank? %></td>
          </tr>
          <tr>
            <td>Objektif yang ditetapkan tercapai</td>
            <td><%= @fbc.average(:rate2).round(2) unless @fbc.blank? %></td>
          </tr>
          <tr>
            <td>Aktiviti yang dijalankan menyeronokkan dan dijalankan secara terurus</td>
            <td><%= @fbc.average(:rate3).round(2) unless @fbc.blank? %></td>
          </tr>
          <tr>
            <td>Penyampaian penceramah menarik</td>
            <td><%= @fbc.average(:rate4).round(2) unless @fbc.blank? %></td>
          </tr>
          <tr>
            <td>Tahap keberkesanan program</td>
            <td><%= @fbc.average(:rate5).round(2) unless @fbc.blank? %></td>
          </tr>
        </tbody>







      </table>
    </div>
  </div>
</div>


<div class="header-org" style="background-color: #e5cce5; color: #730073; text-align: center; font-size: 18px; margin-top: 30px;; page-break-before: always;">
  TABURAN DEMOGRAFIK PESERTA
</div>

<div class="row" style="margin-top: 20px">
  
  <% if @proge.tp.include? "CIKGU ANIS" %>  
  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Latar Belakang</i></h6>
      </div>
      <%= pie_chart @backg, width: "400px", height: "400px", legend: true, donut: true, colors: ["#329932", "red", "blue"]  %>  
    </div></div>
  </div>

  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Taburan Jenis OKU Murid</i></h6>
      </div>
      <% @stdoku %>
      <%= area_chart @stdoku, width: "400px", height: "400px"  %>  
    </div></div>
  </div>
  <% end %>

  

</div>


<div class="row" style="margin-top: 10px">
  
  
  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Umur ( Tahun)</i></h6>
      </div>
      <%= column_chart @age, width: "400px", height: "400px", colors: ["#329932", "red"]  %>  
    </div></div>
  </div>


  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Bangsa</i></h6>
      </div>
      <%= pie_chart @race, width: "400px", height: "400px", legend: true, donut: true  %>  
    </div></div>
  </div>

</div>

<div class="row" style="margin-top: 20px">
    
  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Jantina</i></h6>
      </div>
      <%= pie_chart @gdr, width: "400px", height: "400px", legend: true, donut: true  %>  
    </div></div>
  </div>

  <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;margin-top: -10px;" align="center">
    <div class="card"><div class="card-body">
      <div style="background-color: #a52a2a; margin-top: -15px">
        <h6 style="text-align: center; color: white">Dun Peserta</i></h6>
      </div>
      <%= column_chart @dun, colors: ["#329932"],width: "400px", height: "400px"  %>  
    </div></div>
  </div>

</div>





<div class="header-org" style="background-color: #e5cce5; color: #730073; text-align: center; font-size: 18px; margin-top: 30px;; page-break-before: always;">
    <i class="fas fa"></i>
    <b>MAKLUM BALAS KESELURUHAN PROGRAM </b>
    <% link_to "Download List", root_path(format: :xlsx), class: "badge badge-pill badge-info", format: :xlsx %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" style="font-size: 12px; color: black; " width="100%;" cellspacing="0">
        <thead>
          <tr style="">
            <th style="background-color: #ffb2b2 !important;width: 25%"> MARKAH KESELURUHAN </th>
            <th style="background-color: #ffb2b2 !important;width: %"> KOMEN PESERTA </th>
          </tr>
        </thead>

        <tbody>
          <% @fbc.where.not(cmt: nil).each do |fbc| %>
            <tr>
              <%
                arr = [fbc.rate,fbc.rate2,fbc.rate3,fbc.rate4,fbc.rate5]
                rate = (arr.sum / arr.size.to_f)
              %>
              <td style="text-align: center"><%= rate %></td>
              <td style=""><%= fbc.cmt %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
