<meta name="viewport" content="width=768">

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Senarai Program <b>AKADEMI ANIS</b>&nbsp
    <%= link_to "Cipta Baru", new_proge_path, class: 'badge badge-pill badge-info' %>
  </li>
  
</ol>

<% if current_admin.username == "eipadmin" %>
  <% form_tag upld_perse_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Uploads" %>
  <% end %>
<% end %>

<!-- TABLE -->
<div class="cards shadow mb-4">
  <div class="card-header">
   <div class="row">
      <%= form_tag progeindex_path, method: :get, id: "find_kid" do %>
        <%= select_tag :tp, options_for_select(["SEMINAR ANIS", "CIKGU ANIS(TADIKA)", "CIKGU ANIS(PDK)","CIKGU ANIS(PPKI)", "SEMINAR SUKARELAWAN ANIS"], params[:tp]),
              include_blank: "Semua Jenis Program" %>
        <% select_tag :sch_fld, options_for_select(["No Siri (4 no belakang)", "Nama Agensi","No Pendaftaran Agensi"], params[:sch_fld]),
              include_blank: "Semua Status" %>
        <% hidden_field_tag :stat, params[:stat], value: params[:stat] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>
        <%= link_to progeindex_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Semula
        <% end %>
        <%= "#{@proges.count} carian" unless params[:sch].blank? %>
      <% end %>
    <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: 30%">NAMA PROGRAM</th>
            <th style="background-color:#ffb2b2; width:">TARIKH</th>
            <th style="background-color:#ffb2b2; width: 5%">PENDAFTARAN</th>
            <th style="background-color:#ffb2b2">JENIS</th>
          </tr>
        </thead>
        <tbody>
          <% @proges.order('date DESC').each do |prg| %>
          <tr>
            <td>
              <a href="<%= edit_proge_path(prg) %>" target="">
                <%= prg.name %>
              </a><br>
              <% if prg.acv %>
                <%= link_to "Deactivate", updacv_path(proge: prg.id), class: "badge badge-success badge-pill" %>
                <%= link_to "Register", persesch_path(proge: prg.id, prog: "AKADEMI ANIS"), class: "badge badge-primary badge-pill" %>
              <% else %>
                <%= link_to "Activate", updacv_path(proge: prg.id), class: "badge badge-danger badge-pill" %>
              <% end %> 

            </td>
            <td>
              <%= prg.date.strftime('%d-%^b-%y') %>  
              <% if prg.daten.present? %>
                <b>to</b> <%= prg.daten.strftime('%d-%^b-%y') %>  
              <% end %>
            </td>
            <td>
              <a href="<%= progeperse_url(proge: prg.id) %>">
                <%= prg.perses.count %>
                
              </a>

              <% if current_admin.username == "eipadmin" %>&nbsp
                <% link_to "Hantar Email", send_cert_path(proge: prg.id), class: 'badge badge-pill badge-danger' %>
              <% end %>

              <%= link_to "Report", rptproge_path(proge: prg.id), class: 'badge badge-pill badge-secondary', target: "_blank" %>
                
            </td>
            <td>
              <%= tp = prg.tp %>
              <% if (tp.include? "CIKGU ANIS")%>
                <br>
                <%= link_to "Program", cntplist_path(proge: prg.id), class: 'btn btn-sm btn-success', target: "_blank" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<% if 1==0;@proges.each do |prg| %>
  
  <%= prg.name %><br>
  <%= prg.date %><br>
  <%= prg.venue %><br>
  <%= prg.start %><br>
  <%= prg.end %><br>
  NO OF REGISTRATION <%= prg.perses.count %><br>

  <%= link_to "VIEW REGISTRATION", proge_path(prg, tp: "reg"), class: 'btn btn-sm btn-success active' %>
  <%= link_to "VIEW ATTENDANCE", proge_path(prg, tp: "att"), class: 'btn btn-sm btn-success active' %>
  <%= link_to "VIEW SUMMARY", proge_path(prg, tp: "summ"), class: 'btn btn-sm btn-success active' %>
  <%= link_to "SHOWATT", showatt_path(id: prg), class: 'btn btn-sm btn-success active' %>
  <%= link_to "EDIT", edit_proge_path(prg), class: 'btn btn-sm btn-success active' %>
  <%= link_to "DELETE", proge_path(prg), method: :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-sm btn-success active' %><br><br>
  <%= link_to "REGISTER", schperse_path(proge: prg.id, typ: "reg"), class: 'btn btn-sm btn-info active' %>
  <%= link_to "ATTENDANCE", schperse_path(proge: prg.id, typ: "att"), class: 'btn btn-sm btn-danger active' %>
  <hr>

<% end;end %>
