<meta name="viewport" content="width=1024">


<div class="prt-cert">
<div class="bg-white">
  <div style="background-image: url(<%= image_path('cert.jpg') %>); background-size: auto 100%;background-repeat: no-repeat;
    background-position: center; padding-bottom: 700px; text-align: center">

    <div style="position:absolute;top:327px;left:0;right:0;margin-left:auto;margin-right:auto">
      <p style="color:black; font-size: 20px; font-weight: 800">
        <i><%= "#{@perse.name} (#{@perse.ic})"%></i>
      </p>
    </div>

    <% if @proge.tp.include? "CIKGU ANIS" %>
    <div style="position:absolute;top:390px;left:0;right:0;margin-left:20px;margin-right:120px; background-color: #ebecf1; padding-left: 70px;margin-top: 3px; height:5%">
      <p style="color:black; font-size: 20px; font-weight: 800; vertical-align: center">
        <%= @proge.name %>
      </p>
    </div>
    <% end %>

    <div style="position:absolute;top:453px;left:0;right:0;margin-left:auto;margin-right:auto;">
      <p style="color:black; font-size: 18px; font-weight: 600">
        <i>
          <%= @proge.date.strftime('%d-%m-%Y') %>
          <% if (@proge.tp.include? "CIKGU ANIS") %>
            hingga <%= @proge.daten.strftime('%d-%m-%Y') %>
          <% end %> 
        </i>
      </p>
    </div>

  </div>
</div>
</div>

<div class="prt-card-header container">
  <%= link_to "Cetak Sijil", progecert_path, class: "btn btn-sm btn-success btn-block", style: "margin-top: 10px", :onclick => 'window.print();return false;' %>
</div>