<meta name="viewport" content="width=768">

<div class="prt-hide" style="margin-bottom: 10px;">
  <%= link_to "Muat Turun Laporan", "#", onclick: 'window.print()', class: 'btn btn-sm btn-success' %>
</div>

<div style="background-color:#0070C0 !important;margin-bottom: -5px">
  <h4 style="text-align: center; color: white"><%= @proge.name %></h4>
</div>

<div class="bg-white" style="margin-bottom: 10px; text-align: center; color: black" >
  <i>
    <%= @proge.date.strftime('%d-%^b-%Y') %>
    <% if @proge.daten.present? %>
      hingga <%= @proge.daten.strftime('%d-%^b-%Y') %>
    <% end %> 
  </i>
</div>

<div class="row">
    
  <div class="col-md-6 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Bilangan Peserta</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @perses.count %></div>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Markah Purata Program</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @rate %></div>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <!-- <i class="fas fa-star fa-2x text-gray-300"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% if 1==2 #(@proge.tp.include? 'CIKGU ANIS')  %>
  <%= render 'proges/rptcikgu' %>
<% elsif 1==1 #(@proge.tp.include? 'SUKARELAWAN') %>
  <%= render 'proges/rptsukarelawan' %>
<% elsif 1==3 #@proge.tp.include? 'SEMINAR' %>
  <%= render 'proges/rptseminar' %>
<% end %>


























