<h4>OCCUPATIONAL THERAPIST ASSESSMENT FOR</h4> 
<h3><%= @ote.ekid.name.upcase %></h3>
<br>
<div class='col-12'>
  <%= form_for(:ote,:url => {:controller => "otes", :action => "upd_ote"}, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

    <%= f.fields_for :chkl do |g| %>
      <%= render 'chkls/formchkl', g: g%>
    <% end %>

    <%= render 'otes/form_ote', f: f%>
    
    <%= f.submit :"UPDATE", class: 'btn btn-success btn-m btn-block'%>

  <% end %>
</div>