
<p style="background-color:#cce5cc" align="center">
<a style="font-size:40px"><b>SCREENING REPORT</b></a>
</p>


<p style="background-color:#e5ffff" align="center" >
  <a style="font-size:25px"><b><%= @ekid.name.upcase %></b></a><br>
  <a style="font-size:20px"><%= @ekid.ic%></a><br>
  <% if @ekid.gdr == "Perempuan"
      gdr = "FEMALE"
    else
      gdr = "MALE"
    end
  %>
  <a style="font-size:20px"><%= gdr %></a></h1>
</p>

<hr>

<p style="font-size:15px">ISSUANCE DATE: <b><%= @skid.updated_at.strftime('%d-%^b-%Y')%></b></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff"><b>DIAGNOSED WITH DELAY?</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= "#{@skid.dely} #{@skid.delydesc}" %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>TYPE OF DELAY(S)</b></td>
      </tr>
      <tr>
        <td>PHYSICAL</td>
        <td><%= @skid.phy %></td>
      </tr>
      <tr>
        <td>COGNITIVE</td>
        <td><%= @skid.cog %></td>
      </tr>
      <tr>
        <td>COMMUNICATION</td>
        <td><%= @skid.comm %></td>
      </tr>
      <tr>
        <td>SOCIAL/EMOTION</td>
        <td><%= @skid.soc %></td>
      </tr>
      <tr>
        <td>SELF ADAPTATION</td>
        <td><%= @skid.adap %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>RECEIVED REFER LETTER?</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.reflt %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>DIAGNOSIS</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.diag %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>SUMMARY</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.summ %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px"></a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>ASSESSMENT RESULT: LEARNING/DEVELOPMENT/SCHEDULE OF GROWING SKILLS:</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.assr %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px"></a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>OBSERVATION OF BEHAVIOUR/ OTHER OUTSTANDING ISSUES:</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.obs %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tr>
      <td style="background-color:#ccccff" colspan="2"><b>PLAN/RECOMMENDATION</b></td>
    </tr>
    <tr>
      <td>REFERRAL FOR THERAPY: SPEECH, PHYSIOTHERAPY, OCCUPATIONAL THERAPY, EIP CENTER</td>
      <td><%= @skid.refc %></td>
    </tr>
    <tr>
      <td>OKU FORM(JKM) REGISTRATION</td>
      <td><%= @skid.frmo %></td>
    </tr>
    <tr>
      <td>SCHOOL PLACEMENT</td>
      <td><%= @skid.scp %></td>
    </tr>
    <tr>
      <td>OTHER RECOMMENDATIONS</td>
      <td><%= @skid.cmt %></td>
    </tr>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>OVERALL COMMENT</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= @skid.ovc %></td>
      </tr>
    </tbody>
  </table>
</div>

<p style="font-size:25px">MEDICAL OFFICER INCHARGE:</p>
<% tcd = @skid.owner.tchdetail %>
<b><%= tcd.name.upcase %></b><br>
CERT NO: <b><%= tcd.category %></b><br>
PHONE: <b><%= "#{tcd.phone_1}-#{tcd.phone_2}" %></b><br>
EMAIL: <b><%= @skid.owner.email %></b><br>




