<h1 align="center">LOGO</h1>
<p style="background-color:#edd4d4" align="center">Tingkat 24, Bangunan Darul Ehsan, Jalan Indah, Seksyen 14,
40000 Shah Alam, Selangor<br>
Tel : 03 5513 8898 Fax : 03 5523 6466</p>
<p style="font-size:20px">DATE: <b><%= @skid.updated_at.strftime('%d-%^b-%Y')%></b></p>

<p align="center" >
  <a style="background-color:#cce5cc; font-size:40px"><b>SCREENING REPORT</b></a> <br>
  <a style="font-size:25px"><b><%= @ekid.name.upcase %></b></a><br>
  <b><%= @ekid.ic%></b><br>
  <% if @ekid.gdr == "Perempuan"
      gdr = "Female"
    else
      gdr = "Male"
    end
  %>
  <b><%= gdr %></h1>
</p>

<hr><br>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff"><b>DIAGNOSED WITH DELAY?</b></td>
      </tr>
      <tr>
        <td style="background-color:white"><%= "#{@skid.dely} #{@skid.delydesc}" %></td>
      </tr>
    </tbody>
  </table>
</div><br>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:#ccccff" colspan="2"><b>TYPE OF DELAY(S)</b></td>
      </tr>
      <tr>
        <td>PHYSICAL</td>
        <td><%= @skid.phy %></td>
      </tr>
      <tr>
        <td>COGNITIVE</td>
        <td><%= @skid.cog %></td>
      </tr>
      <tr>
        <td>COMMUNICATION</td>
        <td><%= @skid.comm %></td>
      </tr>
      <tr>
        <td>SOCIAL/EMOTION</td>
        <td><%= @skid.soc %></td>
      </tr>
      <tr>
        <td>SELF ADAPTATION</td>
        <td><%= @skid.adap %></td>
      </tr>
    </tbody>
  </table>
</div><br>

<a style="font-size:17px">RECEIVED REFER LETTER?</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.reflt %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px">DIAGNOSIS</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.diag %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px">SUMMARY</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.summ %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px">ASSESSMENT RESULT: LEARNING/DEVELOPMENT/SCHEDULE OF GROWING SKILLS:</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.assr %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px">OBSERVATION OF BEHAVIOUR/ OTHER OUTSTANDING ISSUES:</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.obs %></td>
      </tr>
    </tbody>
  </table>
</div>

<a style="font-size:17px">PLAN/RECOMMENDATION</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tr>
      <td>REFERRAL FOR THERAPY: SPEECH, PHYSIOTHERAPY, OCCUPATIONAL THERAPY, EIP CENTER</td>
      <td><%= @skid.refc %></td>
    </tr>
    <tr>
      <td>OKU FORM(JKM) REGISTRATION</td>
      <td><%= @skid.frmo %></td>
    </tr>
    <tr>
      <td>SCHOOL PLACEMENT</td>
      <td><%= @skid.scp %></td>
    </tr>
    <tr>
      <td>OTHER RECOMMENDATIONS</td>
      <td><%= @skid.cmt %></td>
    </tr>
  </table>
</div>

<a style="font-size:17px">OVERALL COMMENT</a>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:white"><%= @skid.ovc %></td>
      </tr>
    </tbody>
  </table>
</div>

