<div style="margin-bottom: -10px;">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Senarai Laporan Intervensi <b><%= "#{@ekid.name} (#{@ekid.ic})" %></b> 
    <%= link_to "Cipta Laporan Baru", new_ekrp_path(ekid: @ekid.id), class: "badge badge-pill badge-info"%> 
  </li>
</ol>
</div>

<div class="cards shadow mb-4">
  <div class="card-header" style="color: black">
    <div class="row">
      <%= form_tag root_path, method: :get, id: "find_kid" do %>
      <% 
        yr_s = Date.today.year - 2
        yr_e = Date.today.year + 2
      %>
        <%= select_tag :sch_yr, options_for_select(yr_s..yr_e, params[:sch_yr]), include_blank: "All Year" %>
        <%= select_tag :sch_mth, options_for_select(1..12, params[:sch_mth]), include_blank: "All Months" %>
        <%= select_tag :sch_stt, options_for_select(["PAID","UNPAID"], params[:sch_stt]), include_blank: "All Status" %>
        
        
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Item" %>
        <%= select_tag :sch_fld, options_for_select(["Unit No","Phone No","Name","Email","Bill ID"], params[:sch_fld]),
              include_blank: "Select Field" %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :shw, params[:shw], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal", id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>
        <%= link_to root_path(@taska, sch_yr: Date.today.year, sch_mth: Date.today.month), class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>

        <% if params[:shw].blank? %>
          <%= link_to root_path(@taska, sch_yr: Date.today.year, sch_mth: Date.today.month, shw: true), class: "badge badge-warning shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
              <i class="fa fa-eye"></i> Show All
          <% end %>
        <% end %>

        <% if 1==1 && params[:shw].present? #params[:sch].present? %>
          <span class="badge badge-dark"><b><%= "@payments.count" %></b> result(s) found</span>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="card-body">
    <div class="table table-responsive border" style="font-size:13px">
      <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
        
        <thead>
          <tr class="shadow">
            <th style="background-color:#ffb2b2; width: %">TARIKH LAPORAN</th>
            <th style="background-color:#ffb2b2; width: %">MAKLUMAT PENILAI</th>
          </tr>
        </thead>
        <tbody>
          <% @ekrps.order('dt DESC').each do |ekr| %><tr>
            <td>
              <%= ekr.dt.strftime('%d-%^b-%y') %><br>
              <%= link_to 'Lihat', ekrp_path(ekr, ekid: @ekid.id), class: "badge badge-pill badge-success"%>
              <%= link_to 'Kemaskini', edit_ekrp_path(ekr, ekid: @ekid.id), class: "badge badge-pill badge-warning"%>
              <%= link_to 'Padam', ekrp_path(ekr, ekid: @ekid.id), class: "badge badge-pill badge-danger", method: :delete, :data => {:confirm => 'Adakah Anda Pasti?'}%>
            </td>
            <td>
              <% ekr.exmls.each do |exm| %>
                <b><%= exm[0] %></b> (<%= exm[1].strftime('%d-%^b-%y') %>)<br>
              <% end %>
                
            </td>
          <% end %></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>