<%= link_to "Cetak/Muat Turun", root_path, class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px", :onclick => 'window.print();return false;' %>

<meta name="viewport" content="width=768">

<div class='row'>
  <div class='col-12'>
    
      <%
        if @ekrp.dt.present?
          dt = @ekrp.dt.to_date
        else
          dt = Date.today
        end
      %>

      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <td style="background-color:#0070C0 !important; color: white" colspan=4>PROGRAM INTERVENSI ANIS</td>
          </tr>
          <tr style="color: black; font-size: 12px;">
            <td style="background-color:#e5e5e5 !important; "colspan=4>
              <p style="margin-bottom: -5px; font-size: 14px; font-weight: 800">INSTRUMEN PENAKSIRAN AWAL KANAK-KANAK</p>
            </td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              NAMA IBU/BAPA/PENJAGA :
            </td>
            <td style="background-color:white !important; width: 70%">
              <%= @perse.name %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              TARIKH LAPORAN:
            </td>
            <td style="background-color:white !important; width: %">
              <%= dt.strftime('%d-%^b-%Y') %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: 1%"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              NO TELEFON :
            </td>
            <td style="background-color:white !important; width: 60%">
              <%= @perse.ph %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              ALAMAT EMEL :
            </td>
            <td style="background-color:white !important; width: 60%">
              <%= @perse.email %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              NAMA KANAK-KANAK :
            </td>
            <td style="background-color:white !important; width: 60%">
              <%= @ekid.name %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              NO MYKID :
            </td>
            <td style="background-color:white !important; width: 60%">
              <%= @ekid.ic %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              UMUR KANAK-KANAK :
            </td>
            <td style="background-color:white !important; width: 60%">
              <%
                age = (Date.today.year*12+Date.today.month) - (@ekid.dob.year*12+@ekid.dob.month)
                yr = age/12
                mth = age - yr*12
              %>
              <%= "#{yr} tahun, #{mth} bulan" %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr style="color: black; font-size: 13px; padding-left: 20px; height: -5px;">
            <td style="background-color:#e5e5e5 !important; width: %">
              NAMA PENILAI :
            </td>
            <td style="background-color:white !important; width: 60%">
              <% @ekrp.exmls.each do |ek| %>
                <b><%= ek[0] %></b> (<%= ek[1].strftime('%d-%^b-%y') %>)<br>
              <% end %>
            </td>
            <td style="background-color:#e5e5e5 !important; width: %"></td>
          </tr>

          <tr>
            <td style="background-color:#e5e5e5 !important;" colspan="4"></td>
          </tr>
          
        </table>
      </div>

      <p style="color: black">
        <b>Arahan Kepada Pegawai Intervensi</b><br>
        <i>Instrumen penaksiran awal kanak-kanak ini adalah bertujuan untuk menilai kemahiran kanak-kanak</i>
      </p>

      <!-- SOSIAL -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">SOSIAL</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
          </thead>

          <tbody style="color: black; font-size: 13px">
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Tumpuan Bersama</td>
              <td style="border-bottom: 1px solid black">
                <b>Objek :</b> &nbsp&nbsp<%= @ekrp.aa %> <br>
                <b>Orang :</b> &nbsp<%= @ekrp.ab %>  <br>
                <b>Catatan :</b> <br><%= @ekrp.ac %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Tempoh Tumpuan</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.ad %> minit <br>
                <b>Catatan :</b> <br><%= @ekrp.ae %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Aktiviti Berkumpulan</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.af %> minit <br>
                <b>Catatan :</b> <br><%= @ekrp.ag %>
              </td>
            </tr>
          </tbody>     
        </table>
      </div>

      <!-- BAHASA KOMUNIKASI -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">BAHASA KOMUNIKASI</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
          </thead>

          <tbody style="color: black; font-size: 13px">
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Komunikasi</td>
              <td style="border-bottom: 1px solid black">
                <b><%= @ekrp.ah %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Echolalia</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.ai %>
                 <br>
                <b>Catatan :</b> <br><%= @ekrp.aj %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Meminta</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.ak %>
                 <br>
                <b>Catatan :</b> <br><%= @ekrp.al %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Object Yang Disebut</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.am %>
                 <br>
                <b>Catatan :</b> <br><%= @ekrp.an %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menjawab/Memahami Soalan Mudah</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.ao %>
                 <br>
                <b>Catatan :</b> <br><%= @ekrp.ap %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Membina Ayat</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.aq %>
                 <br>
                <b>Catatan :</b> <br><%= @ekrp.ar %>
              </td>
            </tr>
          </tbody>     
        </table>
      </div>

      <!-- KOGNITIF -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">KOGNITIF</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
          </thead>

          <tbody style="color: black; font-size: 13px; ">
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Warna</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.as %><br>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-2" style="margin-top: 2px;"><b>Merah</b></div>
                  <div><%= @ekrp.at %></div>
                </div>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-2" style="margin-top: 2px;"><b>Kuning</b></div>
                  <div><%= @ekrp.au %></div>
                </div>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-2" style="margin-top: 2px;"><b>Biru</b></div>
                  <div><%= @ekrp.av %></div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Bentuk</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.aw %><br>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-3" style="margin-top: 2px;"><b>Segi Empat</b></div>
                  <div><%= @ekrp.ax %></div>
                </div>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-3" style="margin-top: 2px;"><b>Segi Tiga</b></div>
                  <div><%= @ekrp.ay %></div>
                </div>
                <div class="row"  style="margin-top: 5px">
                  <div class="col-3" style="margin-top: 2px;"><b>Bulat</b></div>
                  <div><%= @ekrp.az %></div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Abjad</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.ba %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.bb %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Nombor</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.bc %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.bd %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Anggota Badan</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.be %><br>
                <b>Bahagian Muka :</b><br>
                <%= @ekrp.bf %><br>
                <b>Anggota Atas :</b><br>
                <%= @ekrp.bg %><br>
                <b>Anggota Bawah :</b><br>
                <%= @ekrp.bh %><br>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Fungsi Objek</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.bi %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.bj %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Mengikuti Arahan Guru</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.bk %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.bl %>
              </td>
            </tr>
          </tbody>     
        </table>
      </div>

      <!-- URUS DIRI -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">URUS DIRI</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
            <tbody style="color: black; font-size: 13px; ">
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Lampin Pakai Buang</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bm %>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>

      <!-- MOTOR HALUS -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">MOTOR HALUS</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
            <tbody style="color: black; font-size: 13px; ">
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Pegang Pensel</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bn %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menconteng</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bo %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Mewarna Dalam Garis Tebal</td>
                <td style="border-bottom: 1px solid black">
                  <b>Skor : </b><%= @ekrp.bp %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menyurih Bentuk</td>
                <td style="border-bottom: 1px solid black">
                  <b>Skor : </b><%= @ekrp.bq %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menyurih Huruf/Angka</td>
                <td style="border-bottom: 1px solid black">
                  <b>Skor : </b><%= @ekrp.br %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menyalin Huruf/Angka</td>
                <td style="border-bottom: 1px solid black">
                  <b>Skor : </b><%= @ekrp.bs %>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>

      <!-- MOTOR KASAR -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">MOTOR KASAR</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
            <tbody style="color: black; font-size: 13px; ">
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Baling Bola</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bt %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Mengguling</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bu %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Menjulur</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bv %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Merangkak</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bw %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Melompat</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.bx %>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Berjalan Atas Titi</td>
                <td style="border-bottom: 1px solid black">
                  <%= @ekrp.by %>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>

      <!-- TINGKAHLAKU/SENSORI -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%">TINGKAHLAKU/SENSORI</th>
              <th style="background-color:#b266b2">KOMEN</th>
            </tr>
          </thead>

          <tbody style="color: black; font-size: 13px; ">
            
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Tingkahlaku Mencabar</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.bz %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.ca %>
              </td>
            </tr>

            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Stereotaip</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.cb %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.cc %>
              </td>
            </tr>

            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Mengamuk</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.cd %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.ce %>
              </td>
            </tr>

            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Isu Sensori</td>
              <td style="border-bottom: 1px solid black">
                <b>Proprioceptif : </b><%= @ekrp.cf %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.cg %><br>
                <b>Sentuhan : </b><%= @ekrp.ch %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.ci %><br>
                <b>Keseimbangan : </b><%= @ekrp.cj %><br>
                <b>Catatan :</b><br>
                <%= @ekrp.ck %><br>
              </td>
            </tr>
          </tbody>     
        </table>
      </div>

      <!-- TINGKAHLAKU/SENSORI -->
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead style="color: white">
            <tr>
              <th style="background-color:#b266b2; width: 30%" colspan="2">KESIMPULAN</th>
            </tr>
          </thead>

          <tbody style="color: black; font-size: 13px; ">
            
            <tr>
              <td colspan="2"><b>Sila Pilih Pada Tahap Yang Berkenaan : </b></td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black" width="20%">Akademik</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.cl %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Tingkahlaku</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.cm %>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Komunikasi</td>
              <td style="border-bottom: 1px solid black">
                <div style="margin-bottom: 8px;">
                <b>Reseptif : </b><%= @ekrp.cn %><br></div>
                <b>Ekspresif : </b><%= @ekrp.co %><br>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2e5f2; border-bottom: 1px solid black">Komen Keseluruhan</td>
              <td style="border-bottom: 1px solid black">
                <%= @ekrp.cp %><br>
              </td>
            </tr>

          </tbody>     
        </table>
      </div>
    

      
  </div>
</div>