<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= content_for?(:title) ? yield(:title) : "Jabatan ANIS" %></title>
    <%= favicon_link_tag 'anislogo2.jpg' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- Bootstrap core CSS 
    <link href="/assets/vendor/bootstrap/scss/bootstrap.css" rel="stylesheet"> 

    Custom fonts for this template 
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
  <!-------    font awesome online plug --------------->
  

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template 
    <link href="/assets/css/agency.css" rel="stylesheet"> -->

  </head>

  <body id="page-tops">

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://goo.gl/maps/AiAGsfoZzgAn8wS56" style="color: white" target="_blank"><i class="fa fa-map-marker"></i>Pusat Sokongan ANIS</a>
        <a href="mailto: jabatananis@yawas.my" style="color: white"><i class="fa fa-envelope-o"></i>jabatananis@yawas.my</a>
      </div>
      <div class="social-links float-right">
        
        <a href="https://www.facebook.com/AnIS.Selangor/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCuvCLSvIChFVjwv1pLjkbxg/featured" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left" style="margin-top: -10px;">
        <h1><a href="<%= root_url %>">
          <img src="<%= image_path('anislogo2.jpg') %>" width="129" height="60" />
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/assets/reveal/logo.png" alt=""></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <% if 1==1 %>
            <li class="menu-actives"><a href="<%= root_url %>">UTAMA</a></li>
            <li class="menu-has-children"><a href="">TENTANG KAMI</a>
              <ul>
                <li><a href="<%= introanis_url %>">Pengenalan ANIS</a></li>
                <li><a href="<%= profilyb_url %>">Profail YB</a></li>
                <li><a href="<%= mpachart_url %>">Majlis Penasihat ANIS</a></li>
                <li><a href="<%= orgchart_url %>">Direktori Kakitangan</a></li>
              </ul>
            </li>
            <li class="menu-has-children"><a href="">PROGRAM ANIS</a>
              <ul>
                <li><a href="<%= bantuananis_url %>">Bantuan ANIS</a></li>
                <li><a href="<%= didikanis_url %>">Didik ANIS</a></li>
                <li><a href="<%= akademianis_url %>">Akademi ANIS</a></li>
                <li><a href="<%= pusatanis_url %>">Pusat ANIS</a></li>
                <li><a href="<%= saringan_url %>">Saringan ANIS</a></li>
                <li><a href="<%= ilscanis_url %>">ILSC</a></li>
              </ul>
            </li>
            <li class="menu-has-children"><a href="">MAKLUMAT ANIS</a>
              <ul>
                <li><a href="<%= artk_list_path %>">ARTIKEL</a></li>
                <li><a href="<%= videols_url %>">VIDEO</a></li>
                <li><a href="<%= undercon_url %>">GALERI</a></li>
                <li><a href="<%= pengumuman_url %>">PENGUMUMAN</a></li>
                <li class="menu-has-children"><a href="">INFORMASI</a>
                  <ul>
                    <li class="menu-has-children">
                      <a href="">JKM</a>
                      <ul>
                        <li><a href="<%= jkmdaerah_url %>">SENARAI JKM DAERAH</a></li>
                        <li><a href="<%= jkmnegeri_url %>">SENARAI JKM NEGERI</a></li>
                      </ul>
                    </li>
                    <li><a href="<%= senaraipusatterapi_url %>">SENARAI PUSAT TERAPI</a></li>
                    <li><a href="<%= senaraipdk_url %>">SENARAI PPDK SELANGOR</a></li>
                    <li><a href="https://kidcare.my/anisdocs/BROCHURE%202020%20PERMOHONAN%20PENDAFTARAN%20OKU%20DAN%20KEISTIMEWAAN%20KEPADA%20OKU%20BERDAFTAR%202020.pdf" target="_blank">INFORMASI OKU</a></li>
                  </ul>
                </li>
                <li><a href="<%= bukuanis_url %>">BUKU ANIS</a></li>
                <li><a href="<%= undercon_url %>">PROMOSI</a></li>
              </ul>
            </li>
            <li><a href="<%= tanyaanis_url %>">TANYA ANIS</a></li>
            
            <!-- <li class="menu-has-children"><a href="">GALERI</a>
              <ul>
                <li><a href="<%= undercon_url %>">Artikel</a></li>
                <li><a href="<%= undercon_url %>">Video</a></li>
                <li><a href="<%= undercon_url %>">Gambar</a></li>
              </ul>
            </li> -->
            <li><a href="<%= contactus_url %>">HUBUNGI</a></li>
            <!-- <li class="menu-has-children"><a href="">FAQ</a>
              <ul>
                <li><a href="<%= undercon_url %>">Didik ANIS</a></li>
                <li><a href="<%= undercon_url %>">Akademi ANIS</a></li>
                <li><a href="<%= undercon_url %>">Cikgu ANIS</a></li>
                <li><a href="<%= undercon_url %>">Bantuan Khas ANIS</a></li>
              </ul>
            </li> -->
          <% end %>
          <li class="menu-has-children">
            <% if current_admin.present? %>
              <a href=""><btn class="badge badge-pill badge-primary" style="font-size: 12px"><%= current_admin.username %></btn></a>
              <ul>
                <li><a href="<%= admin_index_url %>">Kembali Ke Paparan Admin</a></li>
                <li><a href="<%= destroy_admin_session_url %>" data-confirm="Adakah anda pasti?" data-method="delete" >
                    <btn class="badge badge-pill badge-danger" style="font-size: 12px">Log Keluar</btn>
                  </a></li>
              </ul>
            <% elsif current_teacher.present? %>
              <a href=""><btn class="badge badge-pill badge-success" style="font-size: 12px"><%= current_teacher.username %></btn></a>
              <ul>
                <li><a href="<%= teacher_index_url %>">Kembali Ke Paparan Terapis</a></li>
                <li><a href="<%= destroy_teacher_session_url %>" data-confirm="Adakah anda pasti?" data-method="delete" >
                    <btn class="badge badge-pill badge-danger" style="font-size: 12px">Log Keluar</btn>
                  </a></li>
              

            <% else %>
              
              <a href=""><btn class="badge badge-secondary" style="font-size: 15px">Log Masuk</btn></a>
              <ul>
                <li><a href="<%= admin_index_url %>">Log Masuk Admin</a></li>
                <li><a href="<%= teacher_index_url %>">Log Masuk Terapis</a></li>
              </ul>

            <% end %>
          </li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->