<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/page_head' %>
  <body id="page-tops">

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <a href="https://goo.gl/maps/NR7g8qg3saCjrjrM9" style="color: white" target="_blank"><i class="fas fa-map-marked"></i>Yayasan Warisan Anak Selangor</a>
        <a href="mailto: jabatananis@yawas.my" style="color: white"><i class="fa fa-envelope-o"></i>jabatananis@yawas.my</a>
      </div>
      <div class="social-links float-right">
        
        <a href="https://www.facebook.com/AnIS.Selangor/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="facebook" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="<%= root_url %>">
          <img src="<%= image_path('anislogo1.png') %>" width="129" height="60" />
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/assets/reveal/logo.png" alt=""></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <% if 1==1 %>
            <li class="menu-active"><a href="#">UTAMA</a></li>
            <li class="menu-has-children"><a href="">TENTANG KAMI</a>
              <ul>
                <li><a href="#">Pengenalan ANIS</a></li>
                <li><a href="#">Profail YB</a></li>
                <li><a href="#">Direktori Kakitangan</a></li>
              </ul>
            </li>
            <li class="menu-has-children"><a href="">PROGRAM ANIS</a>
              <ul>
                <li><a href="#">Didik ANIS</a></li>
                <li><a href="#">Akademi ANIS</a></li>
                <li><a href="#">Cikgu ANIS</a></li>
                <li><a href="#">Bantuan Khas ANIS</a></li>
              </ul>
            </li>
            <li class="menu-has-children"><a href="">GALERI</a>
              <ul>
                <li><a href="#">Artikel</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Gambar</a></li>
              </ul>
            </li>
            <li><a href="#team">HUBUNGI</a></li>
            <li class="menu-has-children"><a href="">FAQ</a>
              <ul>
                <li><a href="#">Didik ANIS</a></li>
                <li><a href="#">Akademi ANIS</a></li>
                <li><a href="#">Cikgu ANIS</a></li>
                <li><a href="#">Bantuan Khas ANIS</a></li>
              </ul>
            </li>
          <% end %>
          <li>
            <% current_admin.present? %>
            <% if current_admin.present? %>
              <a href="<%= destroy_admin_session_url %>" data-confirm="Adakah anda pasti?" data-method="delete" >Logout</a>
            <% else %>
              <a href="<%= admin_index_url %>"><img src="http://anis.yawas.my/web/images/anisicon/png/020-web-security.png" width="20" height="20"></a>

            <% end %>
          </li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
      <% if @index.present? %>
        <div class="bg-white">

      <% else %>
        <div class="container bg-white" style="margin-top: 20px">
        <%= render partial: "shared/flash_messages", flash: flash %>
      <% end %>
        
        <%= yield %>
      </div>


        <%= render 'layouts/page_foot' %>

        
  
</body>
      
  </html>